Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT, @konramic_SGGIT, @yankordo_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(gq): add SQV (RFQ) and GPM (RFQ) columns (GQUOTE-3385) (#5788)
  apps/gq/src/app/core/store/active-case/active-case.effects.ts
  apps/gq/src/app/core/store/active-case/active-case.facade.spec.ts
  apps/gq/src/app/core/store/active-case/active-case.facade.ts
  apps/gq/src/app/core/store/active-case/active-case.selectors.spec.ts
  apps/gq/src/app/core/store/active-case/active-case.selectors.ts
  apps/gq/src/app/core/store/active-case/active-case.utils.spec.ts
  apps/gq/src/app/core/store/active-case/active-case.utils.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.spec.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/shared/ag-grid/constants/column-fields.enum.ts
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.spec.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-detail.model.ts
  apps/gq/src/app/shared/utils/f-pricing.utils.spec.ts
  apps/gq/src/app/shared/utils/f-pricing.utils.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/models/quotation-details.mock.ts
  apps/gq/src/testing/mocks/models/rfq-data-mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(gq): restrict GREATER_CHINA price source change (GQUOTE-3374) (#5783)
  apps/gq/src/app/core/store/facades/roles.facade.spec.ts
  apps/gq/src/app/core/store/facades/roles.facade.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/filter-pricing.component.html
  apps/gq/src/app/shared/ag-grid/column-headers/extended-column-header/extended-column-header.component.html
  apps/gq/src/app/shared/ag-grid/column-headers/extended-column-header/extended-column-header.component.spec.ts
  apps/gq/src/app/shared/ag-grid/column-headers/extended-column-header/extended-column-header.component.ts
  apps/gq/src/app/shared/ag-grid/column-headers/extended-column-header/models/extended-column-header-component-params.model.ts
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(gq): create RFQ Tile and display GPM (RFQ) values for Price Tiles (GQUOTE-3202) (#5795)
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/target-price/target-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/target-price/target-price.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/target-price/target-price.component.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.module.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.ts
  apps/gq/src/app/shared/models/quotation-detail/rfq-data.interface.ts
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
  apps/gq/src/testing/mocks/models/rfq-data-mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(gq): matFormField label got cut when containing matSelect (GQUOTE-3356) (#5784)
  apps/gq/src/app/process-case-view/header-content/header-content.component.spec.ts
  apps/gq/src/app/process-case-view/header-content/header-content.component.ts
  apps/gq/src/app/shared/ag-grid/custom-status-bar/add-items-button/add-items-button.component.ts
  apps/gq/src/styles.scss
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(ea): add pdf report download to engineering app - UFTABI-6873 (#5731)
  apps/ea/jest.config.ts
  apps/ea/src/app/calculation/calculation-result-report-large-items/calculation-result-report-large-items.component.ts
  apps/ea/src/app/calculation/calculation-result-report-large-items/result-report-large-item.ts
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.html
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.ts
  apps/ea/src/app/calculation/overrolling-frequencies-preview-iterm/overrolling-frequencies-preview-item.component.spec.ts
  apps/ea/src/app/core/services/pdf-report.service.ts
  apps/ea/src/app/core/services/pdfreport/components/calculation-methods.ts
  apps/ea/src/app/core/services/pdfreport/components/calculation-notices.ts
  apps/ea/src/app/core/services/pdfreport/components/chip.ts
  apps/ea/src/app/core/services/pdfreport/components/footer.ts
  apps/ea/src/app/core/services/pdfreport/components/header.ts
  apps/ea/src/app/core/services/pdfreport/components/input-table.ts
  apps/ea/src/app/core/services/pdfreport/components/result-grid.ts
  apps/ea/src/app/core/services/pdfreport/components/upstream-result.ts
  apps/ea/src/app/core/services/pdfreport/data.ts
  apps/ea/src/app/core/services/pdfreport/pdf-report.ts
  apps/ea/src/app/core/services/pdfreport/util.ts
  apps/ea/src/app/core/store/facades/calculation-result/calculation-result.facade.ts
  apps/ea/src/app/core/store/selectors/calculation-result/calculation-result-report.selector.spec.ts
  apps/ea/src/app/core/store/selectors/calculation-result/calculation-result-report.selector.ts
  apps/ea/src/app/shared/constants/fonts.ts
  apps/ea/src/app/shared/constants/pdf-icons.ts
  apps/ea/src/app/shared/constants/schaefflerlogo.ts
  apps/ea/src/app/shared/pipes/meaningful-round.pipe.ts
  apps/ea/src/assets/i18n/de.json
  apps/ea/src/assets/i18n/en.json
  apps/ea/src/assets/i18n/es.json
  apps/ea/src/assets/i18n/fr.json
  apps/ea/src/assets/i18n/it.json
  apps/ea/src/assets/i18n/zh.json
  apps/ea/src/assets/i18n/zh_TW.json
  apps/ea/src/assets/pdfreport/RPM.png
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(ea): 🧈 release version 1.1.0 [CI SKIP]
  apps/ea/CHANGELOG.md
  apps/ea/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

fix(gq): cast file types and file extension during unsupported file type check (GQUOTE-3189) (#5798)
  apps/gq/src/app/shared/components/modal/attachment-files-upload-modal/attachment-files-upload-modal.component.spec.ts
  apps/gq/src/app/shared/components/modal/attachment-files-upload-modal/attachment-files-upload-modal.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(gq): remove dash from gq rating label (GQUOTE-3178) (#5800)
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(gq): remove mockData, adjust due to BE (GQUOTE-3381) (#5802)
  apps/gq/src/app/core/store/active-case/active-case.effects.ts
  apps/gq/src/app/core/store/active-case/active-case.selectors.spec.ts
  apps/gq/src/app/core/store/active-case/active-case.selectors.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.html
  apps/gq/src/app/shared/ag-grid/cell-renderer/position-id/position-id.component.spec.ts
  apps/gq/src/app/shared/ag-grid/cell-renderer/position-id/position-id.component.ts
  apps/gq/src/app/shared/models/quotation-detail/rfq-data.interface.ts
  apps/gq/src/testing/mocks/models/rfq-data-mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(ea): fix medias display issue - UFTABI-7000 (#5805)
  apps/ea/src/app/calculation/calculation-result-preview/calculation-result-preview.spec.ts
  apps/ea/src/app/calculation/calculation-result-preview/calculation-result-preview.ts
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.html
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.spec.ts
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.ts
  apps/ea/src/styles.scss
  package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(ea): remove duplicate rounding of co2 upstream result causing misleading results (#5806)
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(ea): loadcase operating conditions (UFTABI-6985) (#5807)
  apps/ea/src/app/calculation/calculation-parameters/__snapshots__/calculation-parameters.spec.ts.snap
  apps/ea/src/app/calculation/calculation-parameters/calculation-parameters.html
  apps/ea/src/app/calculation/calculation-parameters/calculation-parameters.ts
  apps/ea/src/app/calculation/calculation-parameters/form-validators.ts
  apps/ea/src/app/calculation/calculation-parameters/loadcase-data-form-group.interface.ts
  apps/ea/src/app/core/services/calculation-parameters-form-helper.service.spec.ts
  apps/ea/src/app/core/services/calculation-parameters-form-helper.service.ts
  apps/ea/src/app/core/services/catalog.service.ts
  apps/ea/src/app/core/store/models/calculation-parameter-groups.model.ts
  apps/ea/src/app/core/store/models/calculation-parameters-state.model.ts
  apps/ea/src/app/core/store/reducers/calculation-parameters/calculation-parameters.reducer.spec.ts
  apps/ea/src/app/core/store/reducers/calculation-parameters/calculation-parameters.reducer.ts
  apps/ea/src/app/shared/confirmation-dialog/confirmation-dialog-data.interface.ts
  apps/ea/src/app/shared/confirmation-dialog/confirmation-dialog.component.html
  apps/ea/src/app/shared/confirmation-dialog/confirmation-dialog.component.spec.ts
  apps/ea/src/app/shared/confirmation-dialog/confirmation-dialog.component.ts
  apps/ea/src/assets/i18n/de.json
  apps/ea/src/assets/i18n/en.json
  apps/ea/src/assets/i18n/es.json
  apps/ea/src/assets/i18n/fr.json
  apps/ea/src/assets/i18n/it.json
  apps/ea/src/assets/i18n/zh.json
  apps/ea/src/assets/i18n/zh_TW.json
  apps/ea/src/testing/mocks/store/calculation-parameters-state.mock.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(gq): pass errorCodes to status filters (GQUOTE-3219) (#5803)
  apps/gq/src/app/shared/ag-grid/cell-renderer/info-cell/info-cell.component.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.spec.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.ts
  apps/gq/src/app/shared/components/case-material/input-table/config/input-table-column-defs.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(gq): change delete button class on tool panel toggle (GQUOTE-2307) (#5801)
  apps/gq/src/app/shared/ag-grid/custom-status-bar/delete-items-button/delete-items-button.component.html
  apps/gq/src/app/shared/ag-grid/custom-status-bar/delete-items-button/delete-items-button.component.spec.ts
  apps/gq/src/app/shared/ag-grid/custom-status-bar/delete-items-button/delete-items-button.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(mac): adding infotext to MatNr upload dialog (#5804)
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/sap/sap-materials-upload-dialog.component.html
  apps/mac/src/assets/i18n/en.json
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT, @yankordo_SGGIT

feat(gq): display Icon for RFQ Data Update available (GQUOTE-3435) (#5809)
  apps/gq/src/app/core/store/active-case/active-case.facade.spec.ts
  apps/gq/src/app/core/store/active-case/active-case.facade.ts
  apps/gq/src/app/core/store/active-case/active-case.selectors.spec.ts
  apps/gq/src/app/core/store/rfq-data/rfq-data.actions.ts
  apps/gq/src/app/core/store/rfq-data/rfq-data.effects.spec.ts
  apps/gq/src/app/core/store/rfq-data/rfq-data.effects.ts
  apps/gq/src/app/core/store/rfq-data/rfq-data.facade.spec.ts
  apps/gq/src/app/core/store/rfq-data/rfq-data.facade.ts
  apps/gq/src/app/core/store/rfq-data/rfq-data.module.ts
  apps/gq/src/app/core/store/rfq-data/rfq-data.reducer.spec.ts
  apps/gq/src/app/core/store/rfq-data/rfq-data.reducer.ts
  apps/gq/src/app/detail-view/detail-view/detail-view.component.html
  apps/gq/src/app/detail-view/detail-view/detail-view.component.ts
  apps/gq/src/app/detail-view/detail-view/detail-view.module.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.component.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.module.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.ts
  apps/gq/src/app/shared/models/index.ts
  apps/gq/src/app/shared/models/quotation-detail/index.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-detail.model.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-rfq-data.interface.ts
  apps/gq/src/app/shared/models/rfq-data.interface.ts
  apps/gq/src/app/shared/services/rest/quotation-details/quotation-details.service.spec.ts
  apps/gq/src/app/shared/services/rest/quotation-details/quotation-details.service.ts
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
  apps/gq/src/feature-config/default-config.ts
  apps/gq/src/testing/mocks/models/index.ts
  apps/gq/src/testing/mocks/models/quotation-details.mock.ts
  apps/gq/src/testing/mocks/models/quotation-rfq-data-mock.ts
  apps/gq/src/testing/mocks/models/rfq-data.mock.ts
  apps/gq/src/testing/mocks/state/index.ts
  apps/gq/src/testing/mocks/state/rfq-data-state.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(ea): fix cropped labels (#5814)
  apps/ea/src/app/calculation/calculation-parameters/calculation-parameters.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(mac): HC - submit requested changes from Owner - UFTABI-6710 (#5706)
  apps/mac/src/app/feature/hardness-converter/components/geometrical-information/geometrical-information.component.html
  apps/mac/src/app/feature/hardness-converter/components/geometrical-information/geometrical-information.component.spec.ts
  apps/mac/src/app/feature/hardness-converter/components/geometrical-information/geometrical-information.component.ts
  apps/mac/src/app/feature/hardness-converter/constants/indentation-config.ts
  apps/mac/src/app/feature/hardness-converter/models/indentation-material.model.ts
  apps/mac/src/app/feature/hardness-converter/models/indentation-request-form.model.ts
  apps/mac/src/app/feature/hardness-converter/models/indentation-response.model.ts
  apps/mac/src/app/feature/hardness-converter/services/hardness-converter-api-service.spec.ts
  apps/mac/src/app/feature/hardness-converter/services/hardness-converter-api.service.ts
  apps/mac/src/app/feature/hardness-converter/services/internal-user-check.service.spec.ts
  apps/mac/src/app/feature/hardness-converter/services/internal-user-check.service.ts
  apps/mac/src/assets/i18n/en.json
  apps/mac/src/environments/environment.dev.ts
  apps/mac/src/environments/environment.local.ts
  apps/mac/src/environments/environment.model.ts
  apps/mac/src/environments/environment.prod.ts
  apps/mac/src/environments/environment.qa.ts
  apps/mac/src/environments/environment.ts
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT, @yankordo_SGGIT

feat(ea): update co2 landing page url (#5817)
  apps/ea/src/assets/i18n/de.json
  apps/ea/src/assets/i18n/en.json
  apps/ea/src/assets/i18n/es.json
  apps/ea/src/assets/i18n/fr.json
  apps/ea/src/assets/i18n/it.json
  apps/ea/src/assets/i18n/zh.json
  apps/ea/src/assets/i18n/zh_TW.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(gq): 🚀 release version 4.3.0 [CI SKIP]
  apps/gq/CHANGELOG.md
  apps/gq/package.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

chore(mac): 🚀 release version 1.14.0 [CI SKIP]
  apps/mac/CHANGELOG.md
  apps/mac/package.json
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT, @yankordo_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

feat(ea): fix end to end tests (#5818)
  apps/ea-e2e/src/e2e/app.cy.ts
  apps/ea-e2e/src/e2e/calculation-downstream.cy.ts
  apps/ea/src/app/calculation/calculation-parameters/calculation-parameters.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(gq): allow all data types for attachment upload (GQUOTE-3392) (#5811)
  apps/gq/src/app/shared/components/modal/attachment-files-upload-modal/attachment-files-upload-modal.component.spec.ts
  apps/gq/src/app/shared/components/modal/attachment-files-upload-modal/attachment-files-upload-modal.component.ts
  apps/gq/src/app/shared/components/modal/attachment-files-upload-modal/models/file-types.const.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(ea): fix upstream e2e test (UFTABI-7034) (#5820)
  Jenkinsfile
  apps/ea-e2e/src/e2e/calculation-upstream.cy.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(application-insights): allow to use URI for page visits (#5812)
  libs/shared/utils/application-insights/README.md
  libs/shared/utils/application-insights/src/lib/application-insights-module-config.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.spec.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.ts
Owners: none

chore(gq): use URI for page visit tracking (#5821)
  apps/gq/src/environments/environment.dev.ts
  apps/gq/src/environments/environment.model.ts
  apps/gq/src/environments/environment.prod.ts
  apps/gq/src/environments/environment.qa.ts
  apps/gq/src/environments/environment.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(transloco): add translations to localization components (#5827)
  libs/shared/utils/transloco/components/src/language-select/i18n/id.json
  libs/shared/utils/transloco/components/src/language-select/i18n/it.json
  libs/shared/utils/transloco/components/src/language-select/i18n/ko.json
  libs/shared/utils/transloco/components/src/language-select/i18n/th.json
  libs/shared/utils/transloco/components/src/language-select/i18n/vi.json
  libs/shared/utils/transloco/components/src/language-select/i18n/zh_TW.json
  libs/shared/utils/transloco/components/src/language-select/language-select.module.ts
  libs/shared/utils/transloco/components/src/locale-select/i18n/es.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/fr.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/id.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/it.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/ko.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/ru.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/th.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/vi.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/zh.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/zh_TW.json
  libs/shared/utils/transloco/components/src/locale-select/locale-select.module.ts
Owners: none

feat(app-shell): add additional translations to app shell (#5828)
  libs/shared/ui/app-shell/src/lib/app-shell.module.spec.ts
  libs/shared/ui/app-shell/src/lib/app-shell.module.ts
  libs/shared/ui/app-shell/src/lib/i18n/id.json
  libs/shared/ui/app-shell/src/lib/i18n/it.json
  libs/shared/ui/app-shell/src/lib/i18n/ja.json
  libs/shared/ui/app-shell/src/lib/i18n/ko.json
  libs/shared/ui/app-shell/src/lib/i18n/th.json
  libs/shared/ui/app-shell/src/lib/i18n/vi.json
  libs/shared/ui/app-shell/src/lib/i18n/zh_TW.json
Owners: none

feat(ga): implement new languages in grease app (UFTABI-6503) (#5826)
  apps/ga/src/app/core/core.module.ts
  apps/ga/src/app/shared/constants/language.ts
  apps/ga/src/assets/i18n/fr.json
  apps/ga/src/assets/i18n/id.json
  apps/ga/src/assets/i18n/ko.json
  apps/ga/src/assets/i18n/th.json
  apps/ga/src/assets/i18n/vi.json
  apps/ga/src/assets/i18n/zh.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(ga): hide report generation functionality for non supported languages (#5829)
  apps/ga/src/app/features/grease-calculation/calculation-result/calculation-result.component.html
  apps/ga/src/app/features/grease-calculation/calculation-result/calculation-result.component.ts
  apps/ga/src/assets/i18n/th.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(gq): adjust cost update available selector (GQUOTE-3437) (#5822)
  apps/gq/src/app/core/store/selectors/material-cost-details/material-cost-details.selectors.spec.ts
  apps/gq/src/app/core/store/selectors/material-cost-details/material-cost-details.selectors.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(ea): fix lubrication result (#5830)
  apps/ea/src/app/core/store/models/calculation-result-report.model.ts
  apps/ea/src/app/core/store/selectors/calculation-result/__snapshots__/calculation-result-report.selector.spec.ts.snap
  apps/ea/src/app/core/store/selectors/calculation-result/calculation-result-report.selector.spec.ts
  apps/ea/src/app/core/store/selectors/calculation-result/calculation-result-report.selector.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(empty-states): migrate to mdc based components (#5836)
  libs/shared/ui/empty-states/src/lib/forbidden/forbidden.component.spec.ts
  libs/shared/ui/empty-states/src/lib/forbidden/forbidden.module.ts
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.component.spec.ts
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.module.ts
Owners: none

feat(gq): select purchase order type on manual case creation (GQUOTE-3442) (#5813)
  apps/gq/src/app/case-view/case-creation/create-manual-case/create-manual-case.component.html
  apps/gq/src/app/case-view/case-creation/create-manual-case/create-manual-case.component.spec.ts
  apps/gq/src/app/case-view/case-creation/create-manual-case/create-manual-case.component.ts
  apps/gq/src/app/case-view/case-creation/create-manual-case/create-manual-case.module.ts
  apps/gq/src/app/core/store/actions/create-case/create-case.actions.ts
  apps/gq/src/app/core/store/purchase-order-type/index.ts
  apps/gq/src/app/core/store/purchase-order-type/purchase-order-type.actions.ts
  apps/gq/src/app/core/store/purchase-order-type/purchase-order-type.effects.spec.ts
  apps/gq/src/app/core/store/purchase-order-type/purchase-order-type.effects.ts
  apps/gq/src/app/core/store/purchase-order-type/purchase-order-type.facade.spec.ts
  apps/gq/src/app/core/store/purchase-order-type/purchase-order-type.facade.ts
  apps/gq/src/app/core/store/purchase-order-type/purchase-order-type.module.ts
  apps/gq/src/app/core/store/purchase-order-type/purchase-order-type.reducer.spec.ts
  apps/gq/src/app/core/store/purchase-order-type/purchase-order-type.reducer.ts
  apps/gq/src/app/core/store/reducers/create-case/create-case.reducer.spec.ts
  apps/gq/src/app/core/store/reducers/create-case/create-case.reducer.ts
  apps/gq/src/app/core/store/reducers/create-case/models/create-case.model.ts
  apps/gq/src/app/core/store/selectors/create-case/create-case.selector.spec.ts
  apps/gq/src/app/core/store/selectors/create-case/create-case.selector.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.module.ts
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.html
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.ts
  apps/gq/src/app/shared/components/purchase-order-type-select/purchase-order-type-select.component.html
  apps/gq/src/app/shared/components/purchase-order-type-select/purchase-order-type-select.component.spec.ts
  apps/gq/src/app/shared/components/purchase-order-type-select/purchase-order-type-select.component.ts
  apps/gq/src/app/shared/models/index.ts
  apps/gq/src/app/shared/models/purchase-order-type.interface.ts
  apps/gq/src/app/shared/services/rest/quotation/models/quotation-paths.enum.ts
  apps/gq/src/app/shared/services/rest/quotation/models/update-quotation-request.model.ts
  apps/gq/src/app/shared/services/rest/quotation/quotation.service.spec.ts
  apps/gq/src/app/shared/services/rest/quotation/quotation.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/state/create-case-store-state.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(gq): create case for empty purchase order type (#5840)
  apps/gq/src/app/core/store/selectors/create-case/create-case.selector.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(gq): implement update rfq information modal (GQUOTE-3436) (#5839)
  apps/gq/src/app/core/store/active-case/active-case.action.ts
  apps/gq/src/app/core/store/active-case/active-case.effects.spec.ts
  apps/gq/src/app/core/store/active-case/active-case.effects.ts
  apps/gq/src/app/core/store/active-case/active-case.facade.spec.ts
  apps/gq/src/app/core/store/active-case/active-case.facade.ts
  apps/gq/src/app/core/store/active-case/active-case.reducer.spec.ts
  apps/gq/src/app/core/store/active-case/active-case.reducer.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.module.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/models/rfq-modal-data.model.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/update-rfq-position-details/update-rfq-position-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/update-rfq-position-details/update-rfq-position-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/update-rfq-position-details/update-rfq-position-details.component.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-rfq-data.interface.ts
  apps/gq/src/app/shared/services/rest/quotation-details/quotation-details.service.spec.ts
  apps/gq/src/app/shared/services/rest/quotation-details/quotation-details.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/models/quotation-rfq-data-mock.ts
  apps/gq/src/testing/mocks/models/rfq-data.mock.ts
  apps/gq/src/testing/mocks/state/active-case-state.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(ea): add overrolling frequency shorts for single loadcase (#5838)
  apps/ea/src/app/core/services/__snapshots__/catalog-helper.spec.ts.snap
  apps/ea/src/app/core/services/catalog-helper.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository

- @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

############

### Apps

############

# CDBA

apps/cdba @herpisef_SGGIT @soehnpsc_SGGIT @poltokzy_SGGIT @przybmci_SGGIT

# SEDO

apps/sedo @soehnpsc_SGGIT @schlesni_SGGIT

# GQ

apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @poltokzy_SGGIT @schlesni_SGGIT @panesrbe_SGGIT @szwajdmi_SGGIT

# MAC

apps/mac @berndcri_SGGIT @krausrbe_SGGIT @konramic_SGGIT @yankordo_SGGIT

# IA

apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT @poltokzy_SGGIT @grzegdmi_SGGIT

# MM

apps/mm @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# GA

apps/ga @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# EA

apps/ea @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ea-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
