Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT, @PELZESEN_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @geissbnj_SGGIT, @gerlitm_SGGIT, @yuqiugegmailcom_SGGIT, @przybmci_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

# Jenkinsfile
Jenkinsfile @kauppfbi_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

# package.json and package-lock.json for dependency updates
package.json @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT
package-lock.json @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @mailphilipriecksde_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @mailphilipriecksde_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# GOLDWIND
apps/goldwind @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT
apps/goldwind-e2e @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT

# SEDO
apps/sedo @birketho_SGGIT @soehnpsc_SGGIT @PELZESEN_SGGIT
apps/sedo-e2e @birketho_SGGIT @soehnpsc_SGGIT @PELZESEN_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @yuqiugegmailcom_SGGIT @kauppfbi_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @yuqiugegmailcom_SGGIT @kauppfbi_SGGIT

# MAC
apps/mac @berndcri_SGGIT @birketho_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @birketho_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @birketho_SGGIT @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @birketho_SGGIT @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

############
### Libs ###
############

chore(deps): update dependency d3-org-chart to v2.6.0 (#3468)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(storybook): add foundation category (#3444) (#3528)
  libs/shared/ui/storybook/.storybook/preview.js
  libs/shared/ui/storybook/.storybook/storybook-navigation.constants.ts
  libs/shared/ui/storybook/src/lib/atomic/foundations/elevation.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/foundations/elevation/README.md
  libs/shared/ui/storybook/src/lib/atomic/foundations/responsive.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/foundations/responsive/README.md
  libs/shared/ui/storybook/src/lib/atomic/foundations/typography.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/foundations/typography/README.md
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): migrate nx, angular and node (#3523)
  Jenkinsfile
  apps/ia/src/app/attrition-analytics/features-dialog/features-dialog.module.ts
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.module.ts
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.module.ts
  libs/shared/ui/picture-card/src/lib/picture-card.module.ts
  libs/shared/ui/report/src/lib/models/table-item.model.ts
  libs/shared/ui/snackbar/src/lib/snackbar.module.ts
  libs/shared/ui/storybook/.storybook/tsconfig.json
  migrations.json
  package-lock.json
  package.json
  tsconfig.base.json
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

feat(report): adjust for translated errors and default snackbar (UFTABI-4948) (#3511)
  apps/mm/src/app/home/result-page/result-page.component.spec.ts
  apps/mm/src/app/home/result-page/result-page.component.ts
  apps/mm/src/app/home/result-page/result-page.module.ts
  apps/mm/src/app/home/result-page/result-page.service.ts
  libs/shared/ui/report/src/lib/i18n/de.json
  libs/shared/ui/report/src/lib/i18n/en.json
  libs/shared/ui/report/src/lib/i18n/es.json
  libs/shared/ui/report/src/lib/i18n/fr.json
  libs/shared/ui/report/src/lib/i18n/ru.json
  libs/shared/ui/report/src/lib/i18n/zh.json
  libs/shared/ui/report/src/lib/report.component.spec.ts
  libs/shared/ui/report/src/lib/report.component.ts
  libs/shared/ui/report/src/lib/report.module.spec.ts
  libs/shared/ui/report/src/lib/report.module.ts
Owners: @birketho_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @kauppfbi_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(goldwind): change footer link back to greyish (#3530)
  apps/goldwind/src/app/app.component.scss
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

feat(goldwind): add "more-info" icons to the dashboard cards (#3529)
  apps/goldwind/src/app/bearing/condition-monitoring/cm-equipment/cm-equipment.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.module.ts
  apps/goldwind/src/app/bearing/condition-monitoring/dashboard-more-info-dialog/dashboard-more-info-dialog.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/dashboard-more-info-dialog/dashboard-more-info-dialog.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/dashboard-more-info-dialog/dashboard-more-info-dialog.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.ts
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.component.spec.ts
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.module.ts
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

feat(ia): one legend for entries exits charts (IA-400) (#3501)
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.spec.ts
  apps/ia/src/app/overview/entries-exits/entries-exits.component.html
  apps/ia/src/app/overview/entries-exits/entries-exits.component.spec.ts
  apps/ia/src/app/overview/entries-exits/entries-exits.component.ts
  apps/ia/src/app/overview/entries-exits/entries-exits.module.ts
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/overview/overview.component.spec.ts
  apps/ia/src/app/overview/overview.component.ts
  apps/ia/src/app/overview/store/selectors/overview-selector-utils.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-chart/reasons-for-leaving-chart.component.ts
  apps/ia/src/app/shared/charts/external-legend/external-legend.component.html
  apps/ia/src/app/shared/charts/external-legend/external-legend.ts
  apps/ia/src/app/shared/charts/external-legend/index.ts
  apps/ia/src/app/shared/charts/loose-doughnut-chart/loose-doughnut-chart.component.html
  apps/ia/src/app/shared/charts/loose-doughnut-chart/loose-doughnut-chart.component.spec.ts
  apps/ia/src/app/shared/charts/loose-doughnut-chart/loose-doughnut-chart.component.ts
  apps/ia/src/app/shared/charts/loose-doughnut-chart/loose-doughnut-chart.config.spec.ts
  apps/ia/src/app/shared/charts/loose-doughnut-chart/loose-doughnut-chart.config.ts
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.component.spec.ts
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.component.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

fix(workspace): set artifactory for lib releases (#3534)
  Jenkinsfile
  libs/shared/ui/legal-pages/project.json
  libs/shared/ui/subheader/project.json
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

feat(ga): adjust texts and load validation (UFTABI-5294) (#3522)
  apps/ga/src/app/home/home.component.html
  apps/ga/src/app/parameters/parameters.component.html
  apps/ga/src/app/shared/components/input/input/input.component.html
  apps/ga/src/app/shared/components/input/input/input.component.spec.ts
  apps/ga/src/app/shared/components/input/input/input.component.ts
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(assets): 🚀 1.12.0 [ci skip]
  libs/shared/assets/CHANGELOG.md
  libs/shared/assets/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(header): 🚀 3.1.0 [ci skip]
  libs/shared/ui/header/CHANGELOG.md
  libs/shared/ui/header/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(cypress-utils): 🚀 1.13.0 [ci skip]
  libs/shared/cypress-utils/CHANGELOG.md
  libs/shared/cypress-utils/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(app-shell): 🚀 0.0.6 [ci skip]
  libs/shared/ui/app-shell/CHANGELOG.md
  libs/shared/ui/app-shell/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(banner): 🚀 3.1.0 [ci skip]
  libs/shared/ui/banner/CHANGELOG.md
  libs/shared/ui/banner/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(empty-states): 🚀 2.1.0 [ci skip]
  libs/shared/ui/empty-states/CHANGELOG.md
  libs/shared/ui/empty-states/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(file-drop): 🚀 2.1.0 [ci skip]
  libs/shared/ui/file-drop/CHANGELOG.md
  libs/shared/ui/file-drop/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(footer): 🚀 3.1.0 [ci skip]
  libs/shared/ui/footer/CHANGELOG.md
  libs/shared/ui/footer/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(icons): 🚀 2.1.0 [ci skip]
  libs/shared/ui/icons/CHANGELOG.md
  libs/shared/ui/icons/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(roles-and-rights): 🚀 0.0.2 [ci skip]
  libs/shared/ui/roles-and-rights/CHANGELOG.md
  libs/shared/ui/roles-and-rights/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(sidebar): 🚀 2.1.0 [ci skip]
  libs/shared/ui/sidebar/CHANGELOG.md
  libs/shared/ui/sidebar/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(snackbar): 🚀 2.1.0 [ci skip]
  libs/shared/ui/snackbar/CHANGELOG.md
  libs/shared/ui/snackbar/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(styles): 🚀 1.4.0 [ci skip]
  libs/shared/ui/styles/CHANGELOG.md
  libs/shared/ui/styles/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(application-insights): 🚀 0.1.3 [ci skip]
  libs/shared/utils/application-insights/CHANGELOG.md
  libs/shared/utils/application-insights/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(auth): 🚀 0.1.3 [ci skip]
  libs/shared/utils/azure-auth/CHANGELOG.md
  libs/shared/utils/azure-auth/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(http): 🚀 0.1.3 [ci skip]
  libs/shared/utils/http/CHANGELOG.md
  libs/shared/utils/http/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(responsive): 🚀 3.1.0 [ci skip]
  libs/shared/utils/responsive/CHANGELOG.md
  libs/shared/utils/responsive/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(transloco): 🚀 3.1.0 [ci skip]
  libs/shared/utils/transloco/CHANGELOG.md
  libs/shared/utils/transloco/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  libs/shared/ui/breadcrumbs/package.json
  libs/shared/ui/dropdown-input/package.json
  libs/shared/ui/legal-pages/package.json
  libs/shared/ui/loading-spinner/package.json
  libs/shared/ui/picture-card/package.json
  libs/shared/ui/report/package.json
  libs/shared/ui/search-autocomplete/package.json
  libs/shared/ui/share-button/package.json
  libs/shared/ui/stepper/package.json
  libs/shared/ui/subheader/package.json
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(gq): enable language switch (#3512)
  apps/gq/src/app/core/core.module.ts
  apps/gq/src/app/shared/components/user-settings/language-setting/language-setting.component.html
  apps/gq/src/app/shared/components/user-settings/language-setting/language-setting.component.spec.ts
  apps/gq/src/app/shared/components/user-settings/language-setting/language-setting.component.ts
  apps/gq/src/app/shared/components/user-settings/language-setting/language-setting.module.ts
  apps/gq/src/app/shared/components/user-settings/user-settings.component.html
  apps/gq/src/app/shared/components/user-settings/user-settings.component.spec.ts
  apps/gq/src/app/shared/components/user-settings/user-settings.module.ts
  apps/gq/src/app/shared/constants/index.ts
  apps/gq/src/app/shared/constants/language.ts
  apps/gq/src/assets/i18n/case-view/de.json
  apps/gq/src/assets/i18n/customer-view/de.json
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @yuqiugegmailcom_SGGIT, @kauppfbi_SGGIT

chore(deps): update dependency prettier to v2.5.1 (#3473)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(transloco): implement locale select (#3192)
  libs/shared/ui/storybook/src/lib/atomic/organisms/locale-select.component.stories.ts
  libs/shared/utils/transloco/README.md
  libs/shared/utils/transloco/components/src/locale-select/README.md
  libs/shared/utils/transloco/components/src/locale-select/i18n/de.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/en.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/es.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/fr.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/ru.json
  libs/shared/utils/transloco/components/src/locale-select/i18n/zh.json
  libs/shared/utils/transloco/components/src/locale-select/locale-select.component.html
  libs/shared/utils/transloco/components/src/locale-select/locale-select.component.spec.ts
  libs/shared/utils/transloco/components/src/locale-select/locale-select.component.ts
  libs/shared/utils/transloco/components/src/locale-select/locale-select.module.ts
  libs/shared/utils/transloco/components/src/locale-select/locale.constants.ts
  libs/shared/utils/transloco/components/src/locale-select/locale.model.ts
  libs/shared/utils/transloco/components/src/public-api.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(cdba): exchange locale select component (#3192)
  apps/cdba/src/app/shared/components/user-settings/user-settings.component.html
  apps/cdba/src/app/shared/components/user-settings/user-settings.component.spec.ts
  apps/cdba/src/app/shared/components/user-settings/user-settings.component.ts
  apps/cdba/src/app/shared/components/user-settings/user-settings.module.ts
  apps/cdba/src/app/shared/constants/localization.ts
  apps/cdba/src/app/shared/models/index.ts
  apps/cdba/src/app/shared/models/localization.model.ts
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore(transloco): split readme files
  libs/shared/ui/storybook/src/lib/atomic/organisms/language-select.component.stories.ts
  libs/shared/utils/transloco/README.md
  libs/shared/utils/transloco/components/src/language-select/README.md
  libs/shared/utils/transloco/testing/README.md
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

refactor(transloco): remove outer spacing from language-select
  apps/cdba/src/app/shared/components/user-settings/user-settings.component.html
  libs/shared/utils/transloco/components/src/language-select/language-select.component.html
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @birketho_SGGIT

chore: fix format:check errors
  apps/ga/src/app/home/home.component.html
  apps/ga/src/app/parameters/parameters.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

chore(deps): update dependency core-js to v3.19.3 (#3296)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(goldwind): adjust texts for sensor informations (#3546)
  apps/goldwind/src/app/app.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.module.ts
  apps/goldwind/src/app/bearing/condition-monitoring/dashboard-more-info-dialog/dashboard-more-info-dialog.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.module.ts
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.module.ts
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.module.ts
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.module.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.module.ts
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.component.html
  apps/goldwind/src/app/bearing/maintenance-assessment/gcm-heatmap-card/gcm-heatmap-card.component.html
  apps/goldwind/src/app/bearing/maintenance-assessment/gcm-heatmap-card/gcm-heatmap-card.component.ts
  apps/goldwind/src/app/bearing/maintenance-assessment/gcm-heatmap-card/gcm-heatmap-card.module.ts
  apps/goldwind/src/app/bearing/maintenance-assessment/maintenance-assessment.component.html
  apps/goldwind/src/app/bearing/maintenance-assessment/maintenance-assessment.module.ts
  apps/goldwind/src/app/overview/overview.component.html
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.html
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.ts
  apps/goldwind/src/app/shared/dashboard-more-info-dialog/dashboard-more-info-dialog.component.html
  apps/goldwind/src/app/shared/dashboard-more-info-dialog/dashboard-more-info-dialog.component.spec.ts
  apps/goldwind/src/app/shared/dashboard-more-info-dialog/dashboard-more-info-dialog.component.ts
  apps/goldwind/src/app/shared/shared.module.ts
  apps/goldwind/src/app/shared/status-indicator/status-indicator.component.html
  apps/goldwind/src/assets/i18n/en.json
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

fix(goldwind): alignment issues, more translations and diffs (#3548)
  apps/goldwind/src/app/app.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.ts
  apps/goldwind/src/app/bearing/maintenance-assessment/gcm-heatmap-card/gcm-heatmap-card.component.ts
  apps/goldwind/src/app/shared/dashboard-more-info-dialog/dashboard-more-info-dialog.component.html
  apps/goldwind/src/assets/i18n/en.json
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

fix(goldwind): append tooltip to body to breakout from container (#3552)
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/heatmap-chart.config.ts
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

feat(storybook): adjust categories and labels (#3543)
  libs/shared/ui/storybook/src/lib/atomic/molecules/breadcrumbs.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/molecules/tooltip-material.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/organisms/subheader.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/pages/page-not-found.component.stories.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT
