Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @meiswjn_SGGIT, @ortuzfan_SGGIT, @kemmemha_SGGIT, @bauerfla_SGGIT, @fischaxe_SGGIT, @leviptr_SGGIT, @schlunls_SGGIT, @przybmci_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT @tgoetzcissolutionseu_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @ortuzfan_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @ortuzfan_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# SEDO
apps/sedo @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT
apps/sedo-e2e @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT @schlunls_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT @schlunls_SGGIT

# MAC
apps/mac @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

feat(gq): display customer access error message (GQUOTE-1273) (#3980)
  apps/gq/src/app/shared/http/base-http.interceptor.spec.ts
  apps/gq/src/app/shared/http/base-http.interceptor.ts
  apps/gq/src/app/shared/services/rest-services/quotation-service/models/quotation-paths.enum.ts
  apps/gq/src/app/shared/services/rest-services/quotation-service/quotation.service.spec.ts
  apps/gq/src/app/shared/services/rest-services/quotation-service/quotation.service.ts
  apps/gq/src/app/shared/services/rest-services/search-service/models/search-paths.enum.ts
  apps/gq/src/app/shared/services/rest-services/search-service/search.service.spec.ts
  apps/gq/src/app/shared/services/rest-services/search-service/search.service.ts
  apps/gq/src/assets/i18n/http/de.json
  apps/gq/src/assets/i18n/http/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

chore(mm): 🚀 0.1.19 [ci skip]
  apps/mm/CHANGELOG.md
  apps/mm/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(gq): fix issue with edit icon not displayed for undefined prices (GQUOTE-1259) (#3984)
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.ts
  apps/gq/src/app/shared/components/modal/editing-modal/editing-modal.component.html
  apps/gq/src/app/shared/components/modal/editing-modal/editing-modal.component.spec.ts
  apps/gq/src/app/shared/components/modal/editing-modal/editing-modal.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(mac): adjust msd for sap ids (#3983)
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/column-definitions.ts
  apps/mac/src/app/feature/materials-supplier-database/models/data/data-result.model.ts
  apps/mac/src/app/feature/materials-supplier-database/models/data/material-response-entry.model.ts
  apps/mac/src/app/feature/materials-supplier-database/services/msd-data/msd-data.service.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/services/msd-data/msd-data.service.ts
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

fix(gq): fix translations (GQUOTE-1279) (#3986)
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(application-insights): adjust to handle apps without cookies (#3988)
  apps/ga/src/app/app.component.spec.ts
  apps/ga/src/app/core/core.module.ts
  apps/ga/src/app/core/store/effects/result/result.effects.spec.ts
  apps/ga/src/app/home/home.component.spec.ts
  apps/gq/src/app/app.component.spec.ts
  apps/gq/src/app/core/core.module.ts
  apps/gq/src/app/customer-view/customer-view.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/detail-view.component.spec.ts
  apps/gq/src/app/detail-view/transaction-view/transaction-view.component.spec.ts
  apps/gq/src/app/process-case-view/process-case-view.component.spec.ts
  apps/ia/src/app/core/core.module.ts
  apps/mm/src/app/app.component.spec.ts
  apps/mm/src/app/core/components/pages-stepper/pages-stepper.component.spec.ts
  apps/mm/src/app/core/components/settings/settings.component.spec.ts
  apps/mm/src/app/core/core.module.ts
  apps/mm/src/app/home/bearing-search/bearing-search.component.spec.ts
  apps/mm/src/app/home/home.component.spec.ts
  apps/mm/src/app/home/result-page/result-page.component.spec.ts
  apps/mm/src/app/home/result-page/result-page.service.spec.ts
  libs/shared/ui/report/src/lib/grease/grease-report.service.spec.ts
  libs/shared/ui/report/src/lib/report.component.spec.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.spec.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT, @przybmci_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(mm): 🚀 0.1.20 [ci skip]
  apps/mm/CHANGELOG.md
  apps/mm/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): added multiple material simulation on input change (GQUOTE-1274) (#3987)
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.html
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.spec.ts
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(gq): auto refresh on asynchronous refresh (GQUOTE-1277) (#3991)
  apps/gq/src/app/core/store/actions/process-case/process-case.action.spec.ts
  apps/gq/src/app/core/store/actions/process-case/process-case.action.ts
  apps/gq/src/app/core/store/effects/process-case/process-case.effects.spec.ts
  apps/gq/src/app/core/store/effects/process-case/process-case.effects.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT
