Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT, @PELZESEN_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @geissbnj_SGGIT, @gerlitm_SGGIT, @yuqiugegmailcom_SGGIT, @przybmci_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

# Jenkinsfile
Jenkinsfile @kauppfbi_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

# package.json and package-lock.json for dependency updates
package.json @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT
package-lock.json @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @mailphilipriecksde_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @mailphilipriecksde_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# GOLDWIND
apps/goldwind @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT
apps/goldwind-e2e @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT

# SEDO
apps/sedo @birketho_SGGIT @soehnpsc_SGGIT @PELZESEN_SGGIT
apps/sedo-e2e @birketho_SGGIT @soehnpsc_SGGIT @PELZESEN_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @yuqiugegmailcom_SGGIT @kauppfbi_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @yuqiugegmailcom_SGGIT @kauppfbi_SGGIT

# MAC
apps/mac @berndcri_SGGIT @birketho_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @birketho_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @birketho_SGGIT @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @birketho_SGGIT @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

############
### Libs ###
############

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

fix(ia): rename fluctuation for consistency and add attrition meta (IA-387) (#3437)
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog-meta/attrition-dialog-meta.component.html
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.html
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.spec.ts
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.ts
  apps/ia/src/app/organizational-view/store/selectors/organizational-view.selector.ts
  apps/ia/src/app/overview/overview-chart/overview-chart-legend/overview-chart-legend.component.html
  apps/ia/src/app/overview/overview-chart/terminated-employees-dialog/terminated-employees-dialog.component.html
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/overview/overview.component.spec.ts
  apps/ia/src/app/overview/overview.component.ts
  apps/ia/src/app/shared/models/employee/employee-attrition-meta.model.ts
  apps/ia/src/assets/i18n/organizational-view/en.json
  apps/ia/src/assets/i18n/overview/en.json
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

feat: adjust viewport meta tag for bearinx apps (#3439)
  apps/ga/src/index.html
  apps/mm/src/index.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @birketho_SGGIT

feat(ga): revise info texts (UFTABI-5265) (#3440)
  apps/ga/src/app/parameters/parameters.component.html
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
  libs/shared/ui/report/src/lib/i18n/de.json
  libs/shared/ui/report/src/lib/i18n/en.json
  libs/shared/ui/report/src/lib/report.component.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @kauppfbi_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(ga): get initial model properties (UFTABI-5135) (#3426)
  apps/ga/src/app/core/services/rest/rest.service.spec.ts
  apps/ga/src/app/core/services/rest/rest.service.ts
  apps/ga/src/app/core/store/actions/parameters/parameters.actions.spec.ts
  apps/ga/src/app/core/store/actions/parameters/parameters.actions.ts
  apps/ga/src/app/core/store/effects/parameter/parameter.effects.spec.ts
  apps/ga/src/app/core/store/effects/parameter/parameter.effects.ts
  apps/ga/src/app/core/store/reducers/parameter/parameter.reducer.spec.ts
  apps/ga/src/app/core/store/reducers/parameter/parameter.reducer.ts
  apps/ga/src/app/core/store/selectors/parameter/parameter.selector.spec.ts
  apps/ga/src/app/core/store/selectors/parameter/parameter.selector.ts
  apps/ga/src/app/parameters/parameters.component.html
  apps/ga/src/app/parameters/parameters.component.ts
  apps/ga/src/app/shared/models/parameters/index.ts
  apps/ga/src/app/shared/models/parameters/load-installation.model.ts
  apps/ga/src/app/shared/models/parameters/property.model.ts
  apps/ga/src/testing/mocks/rest.service.mock.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

feat(mac): improve msd share button (UFTABI-4695) (#3441)
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/grid-options.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/index.ts
  apps/mac/src/app/feature/materials-supplier-database/materials-supplier-database.component.ts
  apps/mac/src/app/feature/materials-supplier-database/services/msd-data/msd-data.service.ts
  apps/mac/src/app/feature/materials-supplier-database/store/effects/data.effects.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/store/effects/data.effects.ts
  apps/mac/src/app/feature/materials-supplier-database/store/selectors/data.selector.ts
Owners: @berndcri_SGGIT, @birketho_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

fix(empty-states): change maintenance subtitle color to medium emphasis (#3443)
  libs/shared/ui/empty-states/src/lib/maintenance/maintenance.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

improvement(helloworld): replace GitLab with GitHub link (#3445)
  apps/helloworld-azure/src/app/home/home.component.html
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @PELZESEN_SGGIT

style(gq): ui-ux review (GQUOTE-1076) (#3438)
  apps/gq/src/app/detail-view/detail-view/filter-pricing/detail-button/detail-button.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/detail-button/detail-button.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/detail-button/detail-button.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/filter-pricing-card/filter-pricing-card.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/filter-pricing.module.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.ts
  apps/gq/src/app/shared/confirmation-modal/confirmation-modal.component.html
  apps/gq/src/app/shared/confirmation-modal/confirmation-modal.component.spec.ts
  apps/gq/src/app/shared/confirmation-modal/confirmation-modal.component.ts
  apps/gq/src/app/shared/confirmation-modal/confirmation-modal.module.ts
  apps/gq/src/app/shared/custom-status-bar/delete-case-button/delete-case-button.component.ts
  apps/gq/src/app/shared/custom-status-bar/delete-items-button/delete-items-button.component.ts
  apps/gq/src/app/shared/custom-status-bar/refresh-sap-price/refresh-sap-price.component.ts
  apps/gq/src/app/shared/custom-status-bar/upload-selection-to-sap-button/upload-selection-to-sap-button.component.html
  apps/gq/src/app/shared/custom-status-bar/upload-selection-to-sap-button/upload-selection-to-sap-button.component.ts
  apps/gq/src/app/shared/header/customer-header/customer-header.component.html
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/assets/i18n/process-case-view/de.json
  apps/gq/src/assets/i18n/process-case-view/en.json
  apps/gq/src/styles.scss
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @yuqiugegmailcom_SGGIT, @kauppfbi_SGGIT

chore(workspace): upgrade to tailwind 3
  apps/cdba/src/app/detail/detail-tab/drawings/drawings.component.html
  apps/cdba/src/app/shared/components/page-header/page-header.component.html
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.component.html
  apps/ga/src/app/app.component.html
  apps/ga/src/app/bearing/bearing.component.html
  apps/ga/src/app/grease-calculation/grease-calculation.component.html
  apps/ga/src/app/home/home.component.html
  apps/ga/src/app/parameters/parameters.component.html
  apps/ga/src/app/result/result.component.html
  apps/ga/src/app/shared/components/input/input/input.component.html
  apps/ga/src/app/shared/components/select/select.component.html
  apps/gq/src/app/app.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/filter-pricing-card/filter-pricing-card.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.html
  apps/ia/src/app/app.component.html
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.html
  apps/ia/src/app/organizational-view/org-chart/org-chart.component.html
  apps/ia/src/app/organizational-view/organizational-view.component.html
  apps/ia/src/app/overview/entries-exits/entries-exits.component.html
  apps/ia/src/app/overview/open-positions/open-positions.component.html
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-chart/reasons-for-leaving-chart.component.html
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.component.html
  apps/mac/src/app/feature/aqm-calculator/aqm-calculator.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.html
  apps/mac/src/app/feature/overview/overview.component.html
  apps/mm/src/app/home/result-page/result-page.component.html
  libs/shared/ui/app-shell/src/lib/components/app-shell/app-shell.component.html
  libs/shared/ui/header/src/lib/header.component.html
  libs/shared/ui/report/src/lib/report.component.html
  libs/shared/ui/storybook/src/lib/atomic/atoms/typography.stories.ts
  libs/shared/ui/storybook/src/lib/components/report.component.stories.ts
  libs/shared/ui/styles/src/lib/theme-overrides.scss
  libs/shared/ui/subheader/src/lib/subheader.component.html
  package-lock.json
  package.json
  tailwind.config.js
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @yuqiugegmailcom_SGGIT, @przybmci_SGGIT, @birketho_SGGIT, @PELZESEN_SGGIT

Revert "chore(workspace): upgrade to tailwind 3"
  apps/cdba/src/app/detail/detail-tab/drawings/drawings.component.html
  apps/cdba/src/app/shared/components/page-header/page-header.component.html
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.component.html
  apps/ga/src/app/app.component.html
  apps/ga/src/app/bearing/bearing.component.html
  apps/ga/src/app/grease-calculation/grease-calculation.component.html
  apps/ga/src/app/home/home.component.html
  apps/ga/src/app/parameters/parameters.component.html
  apps/ga/src/app/result/result.component.html
  apps/ga/src/app/shared/components/input/input/input.component.html
  apps/ga/src/app/shared/components/select/select.component.html
  apps/gq/src/app/app.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/filter-pricing-card/filter-pricing-card.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.html
  apps/ia/src/app/app.component.html
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.html
  apps/ia/src/app/organizational-view/org-chart/org-chart.component.html
  apps/ia/src/app/organizational-view/organizational-view.component.html
  apps/ia/src/app/overview/entries-exits/entries-exits.component.html
  apps/ia/src/app/overview/open-positions/open-positions.component.html
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-chart/reasons-for-leaving-chart.component.html
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.component.html
  apps/mac/src/app/feature/aqm-calculator/aqm-calculator.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.html
  apps/mac/src/app/feature/overview/overview.component.html
  apps/mm/src/app/home/result-page/result-page.component.html
  libs/shared/ui/app-shell/src/lib/components/app-shell/app-shell.component.html
  libs/shared/ui/header/src/lib/header.component.html
  libs/shared/ui/report/src/lib/report.component.html
  libs/shared/ui/storybook/src/lib/atomic/atoms/typography.stories.ts
  libs/shared/ui/storybook/src/lib/components/report.component.stories.ts
  libs/shared/ui/styles/src/lib/theme-overrides.scss
  libs/shared/ui/subheader/src/lib/subheader.component.html
  package-lock.json
  package.json
  tailwind.config.js
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @yuqiugegmailcom_SGGIT, @przybmci_SGGIT, @birketho_SGGIT, @PELZESEN_SGGIT

feat(ga): required text adjustment (UFTABI-5275) (#3448)
  apps/ga/src/app/parameters/parameters.component.html
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

feat(gq): display atp data (GQUOTE-825) (#3442)
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.module.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/stock-availability-details/stock-availability-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/stock-availability-details/stock-availability-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/stock-availability-details/stock-availability-details.component.ts
  apps/gq/src/app/shared/custom-status-bar/refresh-sap-price/refresh-sap-price.component.html
  apps/gq/src/app/shared/models/quotation-detail/index.ts
  apps/gq/src/app/shared/models/quotation-detail/material-stock-by-plant.model.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-detail.model.ts
  apps/gq/src/app/shared/pipes/date-display/date-display.pipe.spec.ts
  apps/gq/src/app/shared/pipes/date-display/date-display.pipe.ts
  apps/gq/src/app/shared/pipes/shared-pipes.module.ts
  apps/gq/src/app/shared/services/column-utility-service/column-def.service.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.spec.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.ts
  apps/gq/src/app/shared/services/rest-services/quotation-service/quotation.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/models/index.ts
  apps/gq/src/testing/mocks/models/material-stock-by-plant.mock.ts
  apps/gq/src/testing/mocks/models/quotation-details.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @yuqiugegmailcom_SGGIT, @kauppfbi_SGGIT

feat(ia): use correct col filters in reasons for leaving table (IA-352) (#3449)
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-table/reasons-for-leaving-table.component.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

chore(mac): adjust to use spectator tests (#3451)
  apps/mac/src/app/core/guards/role.guard.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/input/input.component.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/store/effects/prediction.effects.spec.ts
Owners: @berndcri_SGGIT, @birketho_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

feat(empty-states): update design of page-not-found page (#3450)
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.component.html
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.component.scss
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.module.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(mm): 🚀 0.1.13 [ci skip]
  apps/mm/CHANGELOG.md
  apps/mm/package.json
Owners: @birketho_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency @microsoft/applicationinsights-web to v2.7.2 (#3454)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency @types/node to v16.11.12 (#3455)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency @ngneat/cashew to v3 (#3477)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update storybook to v6.4.9 (#3459)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency @testing-library/jest-dom to v5.16.1 (#3467)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency @ngneat/spectator to v9 (#3478)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update @azure/msal (#3452)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency @babel/core to v7.16.5 (#3453)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency htmlhint to v0.16.3 (#3456)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency postcss to v8.4.5 (#3472)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update dependency ts-jest to v27.1.1 (#3458)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(gq): fix ui/ux review findings (GQUOTE-1100) (#3492)
  apps/gq/src/app/customer-view/customer-view.component.html
  apps/gq/src/app/detail-view/detail-view/detail-view.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/quantity/quantity-display/quantity-display.component.html
  apps/gq/src/app/detail-view/sap-view/sap-view.component.html
  apps/gq/src/app/detail-view/transaction-view/comparable-transactions/comparable-transactions.component.scss
  apps/gq/src/app/detail-view/transaction-view/comparable-transactions/comparable-transactions.component.ts
  apps/gq/src/app/detail-view/transaction-view/transaction-view.component.html
  apps/gq/src/app/process-case-view/process-case-view.component.html
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.html
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-comment/edit-comment.component.html
  apps/gq/src/app/shared/constants/table-styles.ts
  apps/gq/src/app/shared/custom-status-bar/case-view/create-manual-case-button/create-manual-case-button.component.html
  apps/gq/src/app/shared/custom-status-bar/case-view/import-case-button/import-case-button.component.html
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @yuqiugegmailcom_SGGIT, @kauppfbi_SGGIT

feat(ia): add common legend for 2 charts in Reasons for leaving chart (IA-365) (#3488)
  apps/ia/src/app/organizational-view/organizational-view.component.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-chart/reasons-for-leaving-chart.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-chart/reasons-for-leaving-chart.component.spec.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-chart/reasons-for-leaving-chart.component.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-chart/reasons-for-leaving-chart.module.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.spec.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.ts
  apps/ia/src/app/reasons-and-counter-measures/store/selectors/reasons-and-counter-measures.selector.spec.ts
  apps/ia/src/app/reasons-and-counter-measures/store/selectors/reasons-and-counter-measures.selector.ts
  apps/ia/src/app/reasons-and-counter-measures/store/selectors/reasons-and-counter-measures.selector.utils.spec.ts
  apps/ia/src/app/reasons-and-counter-measures/store/selectors/reasons-and-counter-measures.selector.utils.ts
  apps/ia/src/app/shared/charts/chart-legend/chart-legend.component.html
  apps/ia/src/app/shared/charts/chart-legend/chart-legend.component.spec.ts
  apps/ia/src/app/shared/charts/chart-legend/chart-legend.component.ts
  apps/ia/src/app/shared/charts/chart-legend/models/chart-legend-item.model.ts
  apps/ia/src/app/shared/charts/external-legend/external-legend.component.html
  apps/ia/src/app/shared/charts/external-legend/external-legend.component.spec.ts
  apps/ia/src/app/shared/charts/external-legend/external-legend.component.ts
  apps/ia/src/app/shared/charts/external-legend/external-legend.module.ts
  apps/ia/src/app/shared/charts/models/chart-legend-item.model.ts
  apps/ia/src/app/shared/charts/models/index.ts
  apps/ia/src/app/shared/charts/models/legend-select-action.model.ts
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.component.html
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.component.spec.ts
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.component.ts
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.config.spec.ts
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.config.ts
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.module.ts
  tailwind.config.js
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @kauppfbi_SGGIT, @berndcri_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(ia): add unified scrollbar to app (IA-354) (#3502)
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.html
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.component.spec.ts
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.component.ts
  apps/ia/src/app/shared/charts/bar-chart/bar-chart.config.spec.ts
  apps/ia/src/app/shared/charts/bar-chart/bar-chart.config.ts
  apps/ia/src/styles.scss
  package-lock.json
  package.json
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @kauppfbi_SGGIT, @berndcri_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(gq): adjust confirmation modal (GQUOTE-1125) (#3497)
  apps/gq/src/app/shared/confirmation-modal/confirmation-modal.component.html
  apps/gq/src/app/shared/confirmation-modal/confirmation-modal.component.spec.ts
  apps/gq/src/app/shared/confirmation-modal/confirmation-modal.component.ts
  apps/gq/src/app/shared/custom-status-bar/delete-case-button/delete-case-button.component.html
  apps/gq/src/app/shared/custom-status-bar/delete-case-button/delete-case-button.component.ts
  apps/gq/src/app/shared/custom-status-bar/delete-items-button/delete-items-button.component.html
  apps/gq/src/app/shared/custom-status-bar/delete-items-button/delete-items-button.component.ts
  apps/gq/src/app/shared/custom-status-bar/refresh-sap-price/refresh-sap-price.component.html
  apps/gq/src/app/shared/custom-status-bar/refresh-sap-price/refresh-sap-price.component.ts
  apps/gq/src/app/shared/custom-status-bar/upload-selection-to-sap-button/upload-selection-to-sap-button.component.html
  apps/gq/src/app/shared/custom-status-bar/upload-selection-to-sap-button/upload-selection-to-sap-button.component.ts
  apps/gq/src/assets/i18n/process-case-view/de.json
  apps/gq/src/assets/i18n/process-case-view/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @yuqiugegmailcom_SGGIT, @kauppfbi_SGGIT

fix(ia): centering empty states vertically (#3515)
  apps/ia/src/app/app.component.html
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

fix(mm): center empty states vertically (#3516)
  apps/mm/src/app/app.component.html
Owners: @birketho_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

test(goldwind): adjust to not compare to previous year (#3518)
  apps/goldwind/src/app/core/store/selectors/grease-status/heatmap-response-series-converter.spec.ts
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

chore(deps): update dependency pretty-quick to v3.1.2 (#3457)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(deps): update transloco (#3460)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

fix(ga): set validation when switching rotation direction (UFTABI-5293) (#3510)
  apps/ga/src/app/parameters/parameters.component.spec.ts
  apps/ga/src/app/parameters/parameters.component.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(deps): update ag-grid to v26.2.0 (#3464)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT
