Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT, @konramic_SGGIT, @yankordo_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(ea): hide unselected section in reports (UFTABI-7017) (#5835)
  apps/ea/src/app/calculation/calculation-result-preview/calculation-result-preview.spec.ts
  apps/ea/src/app/calculation/calculation-result-report-selection/calculation-result-report-selection.component.html
  apps/ea/src/app/calculation/calculation-result-report-selection/calculation-result-report-selection.component.spec.ts
  apps/ea/src/app/calculation/calculation-result-report-selection/calculation-result-report-selection.component.ts
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.html
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.spec.ts
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix: co2Total verifies relative to entered scopes - UFTABI-7016 (#5823)
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/components/co2-component/co2-component.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/components/co2-component/co2-component.component.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/components/co2-component/co2-component.component.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/aluminum/aluminum-input-dialog.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/ceramic/ceramic-input-dialog.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/copper/copper-input-dialog.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/steel/steel-input-dialog.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/util/dialog-helpers.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/util/dialog-helpers.ts
  apps/mac/src/assets/i18n/en.json
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT, @yankordo_SGGIT

fix(mac): resolved layout issue with edit-button - UFTABI-7072 (#5824)
  apps/mac/src/app/feature/materials-supplier-database/main-table/green-steel-cell-renderer/green-steel-cell-renderer.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/link-cell-renderer/link-cell-renderer.component.html
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT, @yankordo_SGGIT

feat(ea): add PDF loadcase report - UFTABI-6988 (#5815)
  apps/ea/src/app/core/services/catalog-helper.ts
  apps/ea/src/app/core/services/pdf-report.service.ts
  apps/ea/src/app/core/services/pdfreport/components/calculation-methods.ts
  apps/ea/src/app/core/services/pdfreport/components/calculation-notices.ts
  apps/ea/src/app/core/services/pdfreport/components/chip.ts
  apps/ea/src/app/core/services/pdfreport/components/footer.ts
  apps/ea/src/app/core/services/pdfreport/components/input-table.ts
  apps/ea/src/app/core/services/pdfreport/components/render-types.ts
  apps/ea/src/app/core/services/pdfreport/components/result-grid.ts
  apps/ea/src/app/core/services/pdfreport/components/upstream-result.ts
  apps/ea/src/app/core/services/pdfreport/components/vertical-layouter.ts
  apps/ea/src/app/core/services/pdfreport/data.ts
  apps/ea/src/app/core/services/pdfreport/pdf-report.ts
  apps/ea/src/app/shared/constants/schaefflerlogo.ts
  apps/ea/src/assets/i18n/de.json
  apps/ea/src/assets/i18n/en.json
  apps/ea/src/assets/i18n/es.json
  apps/ea/src/assets/i18n/fr.json
  apps/ea/src/assets/i18n/it.json
  apps/ea/src/assets/i18n/zh.json
  apps/ea/src/assets/i18n/zh_TW.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

refactor(gq): sort imports according to linter rules (GQUOTE-3436) (#5844)
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/update-rfq-position-details/update-rfq-position-details.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(mac): change link to SAMS Service (#5842)
  apps/mac/src/assets/i18n/en.json
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT, @yankordo_SGGIT

fix(ga): add support for special sign languages (#5841)
  apps/ga/src/app/features/grease-calculation/calculation-result/calculation-result.component.html
  apps/ga/src/app/features/grease-calculation/calculation-result/calculation-result.component.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/calculation-result.module.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/constants/pdf-report/report-fonts.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/grease-report-pdf-file-save.service.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/grease-report-pdf-file-save.service.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/grease-report-pdf-generator.service.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/grease-report-pdf-generator.service.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/index.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/pdf/fonts-loader.service.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/pdf/fonts-loader.service.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/pdf/fonts.constants.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/pdf/grease-report-pdf-file-save.service.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/pdf/grease-report-pdf-file-save.service.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/pdf/grease-report-pdf-generator.service.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/pdf/grease-report-pdf-generator.service.ts
  apps/ga/src/app/shared/constants/language.ts
  apps/ga/src/assets/fonts/NotoSans-Bold.ttf
  apps/ga/src/assets/fonts/NotoSans-Regular.ttf
  apps/ga/src/assets/fonts/NotoSansThai_SemiCondensed-Bold.ttf
  apps/ga/src/assets/fonts/NotoSansThai_SemiCondensed-Regular.ttf
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(ea): enhance engineering app pdf report with chinese variations (#5848)
  apps/ea/src/app/calculation/calculation-parameters/calculation-parameters.html
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.html
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.spec.ts
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.ts
  apps/ea/src/app/core/services/fonts-loader.service.spec.ts
  apps/ea/src/app/core/services/fonts-loader.service.ts
  apps/ea/src/app/core/services/pdf-report.service.ts
  apps/ea/src/app/core/services/pdfreport/pdf-report.ts
  apps/ea/src/app/core/services/pdfreport/util.ts
  apps/ea/src/app/shared/constants/fonts.ts
  apps/ea/src/assets/fonts/NotoSans-Bold.ttf
  apps/ea/src/assets/fonts/NotoSans-Regular.ttf
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(ea): improve badge design (#5849)
  apps/ea/src/app/calculation/calculation-result-report-large-items/calculation-result-report-large-items.component.html
  apps/ea/src/app/shared/tag/tag.component.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(gq): do not request rfqData for details without rfq (GQUOTE-3516) (#5847)
  apps/gq/src/app/core/store/rfq-data/rfq-data.effects.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(gq): resolve error on empty gpc (#5850)
  apps/gq/src/app/core/store/selectors/material-cost-details/material-cost-details.selectors.spec.ts
  apps/gq/src/app/core/store/selectors/material-cost-details/material-cost-details.selectors.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(gq): add option to change purchase order type in case header (GQUOTE-3443) (#5843)
  apps/gq/src/app/core/store/active-case/active-case.action.ts
  apps/gq/src/app/core/store/active-case/active-case.effects.ts
  apps/gq/src/app/process-case-view/header-content/header-content.component.spec.ts
  apps/gq/src/app/process-case-view/header-content/header-content.component.ts
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal-data.model.ts
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.html
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.spec.ts
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.ts
  apps/gq/src/app/shared/components/purchase-order-type-select/purchase-order-type-select.component.html
  apps/gq/src/app/shared/components/purchase-order-type-select/purchase-order-type-select.component.spec.ts
  apps/gq/src/app/shared/components/purchase-order-type-select/purchase-order-type-select.component.ts
  apps/gq/src/app/shared/models/quotation/quotation.model.ts
  apps/gq/src/app/shared/services/rest/quotation/models/update-quotation-request.model.ts
  apps/gq/src/testing/mocks/models/quotation.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(ea): adjust bearing behaviour labels (#5853)
  apps/ea/src/app/core/store/selectors/calculation-result/__snapshots__/calculation-result-report.selector.spec.ts.snap
  apps/ea/src/app/core/store/selectors/calculation-result/calculation-result-report.selector.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(ea): remove redundant check (#5852)
  apps/ea/src/app/core/services/pdfreport/pdf-report.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(ea): 🧈 release version 1.2.0 [CI SKIP]
  apps/ea/CHANGELOG.md
  apps/ea/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

fix(ea): fix assets path (#5854)
  apps/ea/src/app/core/services/fonts-loader.service.spec.ts
  apps/ea/src/app/core/services/fonts-loader.service.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(ea): 🧈 release version 1.2.1 [CI SKIP]
  apps/ea/CHANGELOG.md
  apps/ea/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

fix(ga): fix pdf typo (UFTABI-7067) (#5851)
  apps/ga/src/app/features/grease-calculation/calculation-result/services/grease-report-data-generator.service.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/services/grease-result-data-source.service.ts
  apps/ga/src/testing/mocks/models/grease-result.mock.ts
  apps/ga/src/testing/mocks/models/pdf/grease-pdf-result.mock.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(ga): 🧈 release version 1.5.0 [CI SKIP]
  apps/ga/CHANGELOG.md
  apps/ga/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

feat(ia): rename org view to drill down (IA-1335) (#5837)
  apps/ia/src/app/app-route-path.enum.ts
  apps/ia/src/app/app-routing.module.ts
  apps/ia/src/app/app.component.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.spec.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.ts
  apps/ia/src/assets/i18n/en.json
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @poltokzy_SGGIT, @grzegdmi_SGGIT

feat(ia): add action reason column (IA-1147) (#5808)
  apps/ia/src/app/shared/models/employee/employee-with-action.model.ts
  apps/ia/src/app/shared/tables/employee-list-table/employee-list-table.component.spec.ts
  apps/ia/src/app/shared/tables/employee-list-table/employee-list-table.component.ts
  apps/ia/src/assets/i18n/en.json
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @poltokzy_SGGIT, @grzegdmi_SGGIT

feat(gq): changes in translations (GQUOTE-3530) (#5855)
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(ea): add rating life preselection in initial state (#5856)
  apps/ea/src/app/core/store/reducers/calculation-parameters/calculation-parameters.reducer.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(gq): fix error on missing quotation dates (GQUOTE-3565) (#5858)
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.spec.ts
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(report): migrate to mdc based components (#5857)
  libs/shared/ui/report/src/lib/components/html-report/html-report.component.spec.ts
  libs/shared/ui/report/src/lib/components/html-report/html-report.component.ts
  libs/shared/ui/report/src/lib/report.module.ts
Owners: none

fix(gq): fix create customer case translation (GQUOTE-3440) (#5860)
  apps/gq/src/app/case-view/case-creation/create-customer-case/create-customer-case.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(ea): pdf report improvements (#5861)
  apps/ea/src/app/core/services/pdf-report.service.ts
  apps/ea/src/app/core/services/pdfreport/components/calculation-methods.ts
  apps/ea/src/app/core/services/pdfreport/components/input-table.ts
  apps/ea/src/app/core/services/pdfreport/data.ts
  apps/ea/src/app/core/services/pdfreport/pdf-document-settings.service.spec.ts
  apps/ea/src/app/core/services/pdfreport/pdf-document-settings.service.ts
  apps/ea/src/app/core/services/pdfreport/pdf-report.ts
  apps/ea/src/app/core/store/selectors/calculation-result/calculation-result-report.selector.ts
  apps/ea/src/app/shared/input-number/input-number.component.html
  apps/ea/src/assets/i18n/de.json
  apps/ea/src/assets/i18n/en.json
  apps/ea/src/assets/i18n/es.json
  apps/ea/src/assets/i18n/fr.json
  apps/ea/src/assets/i18n/it.json
  apps/ea/src/assets/i18n/zh.json
  apps/ea/src/assets/i18n/zh_TW.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore: update gitignore
  .gitignore
Owners: none

chore(shared-ui-styles): 🚀 release version 1.9.0 [CI SKIP]
  libs/shared/ui/styles/CHANGELOG.md
  libs/shared/ui/styles/package.json
Owners: none

chore(shared-utils-transloco): 🚀 release version 4.2.0 [CI SKIP]
  libs/shared/utils/transloco/CHANGELOG.md
  libs/shared/utils/transloco/package.json
Owners: none

chore(shared-ui-app-shell): 🚀 release version 1.2.0 [CI SKIP]
  libs/shared/ui/app-shell/CHANGELOG.md
  libs/shared/ui/app-shell/package.json
Owners: none

chore(shared-utils-application-insights): 🚀 release version 1.2.0 [CI SKIP]
  libs/shared/utils/application-insights/CHANGELOG.md
  libs/shared/utils/application-insights/package.json
Owners: none

chore(shared-ui-empty-states): 🚀 release version 2.6.0 [CI SKIP]
  libs/shared/ui/empty-states/CHANGELOG.md
  libs/shared/ui/empty-states/package.json
Owners: none

chore(shared-ui-inputs): 🚀 release version 1.3.0 [CI SKIP]
  libs/shared/ui/inputs/CHANGELOG.md
  libs/shared/ui/inputs/package.json
Owners: none

chore(shared-ui-label-value): 🚀 release version 1.2.0 [CI SKIP]
  libs/shared/ui/label-value/CHANGELOG.md
  libs/shared/ui/label-value/package.json
Owners: none

chore(shared-ui-banner): 🚀 release version 3.5.0 [CI SKIP]
  libs/shared/ui/banner/CHANGELOG.md
  libs/shared/ui/banner/package.json
Owners: none

chore(shared-ui-share-button): 🚀 release version 1.2.0 [CI SKIP]
  libs/shared/ui/share-button/CHANGELOG.md
  libs/shared/ui/share-button/package.json
Owners: none

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository

- @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

############

### Apps

############

# CDBA

apps/cdba @herpisef_SGGIT @soehnpsc_SGGIT @poltokzy_SGGIT @przybmci_SGGIT

# SEDO

apps/sedo @soehnpsc_SGGIT @schlesni_SGGIT

# GQ

apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @poltokzy_SGGIT @schlesni_SGGIT @panesrbe_SGGIT @szwajdmi_SGGIT

# MAC

apps/mac @berndcri_SGGIT @krausrbe_SGGIT @konramic_SGGIT @yankordo_SGGIT

# IA

apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT @poltokzy_SGGIT @grzegdmi_SGGIT

# MM

apps/mm @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# GA

apps/ga @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# EA

apps/ea @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ea-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
