Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @geissbnj_SGGIT, @gerlitm_SGGIT, @przybmci_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT @tgoetzcissolutionseu_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# GOLDWIND
apps/goldwind @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT
apps/goldwind-e2e @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT

# SEDO
apps/sedo @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT
apps/sedo-e2e @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT

# MAC
apps/mac @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

feat(ia): adapt color changes (#3557)
  apps/ia/src/app/app.component.html
  apps/ia/src/app/organizational-view/org-chart/org-chart.service.spec.ts
  apps/ia/src/app/organizational-view/org-chart/org-chart.service.ts
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-table/reasons-for-leaving-table.component.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

feat(storybook): add tabs story and theme tabs (#3562)
  libs/shared/ui/storybook/src/lib/atomic/molecules/tabs.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/molecules/tabs/README.md
  libs/shared/ui/styles/src/lib/theme-overrides.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(ga): add estimated load level (UFTABI-4954) (#3535)
  apps/ga/src/app/core/core.module.ts
  apps/ga/src/app/core/services/error/error.service.spec.ts
  apps/ga/src/app/core/services/error/error.service.ts
  apps/ga/src/app/core/services/error/index.ts
  apps/ga/src/app/core/services/index.ts
  apps/ga/src/app/core/services/rest/rest.service.ts
  apps/ga/src/app/core/store/effects/result/result.effects.spec.ts
  apps/ga/src/app/core/store/effects/result/result.effects.ts
  apps/ga/src/app/core/store/reducers/parameter/parameter.reducer.spec.ts
  apps/ga/src/app/core/store/reducers/parameter/parameter.reducer.ts
  apps/ga/src/app/core/store/selectors/parameter/parameter.selector.spec.ts
  apps/ga/src/app/core/store/selectors/parameter/parameter.selector.ts
  apps/ga/src/app/home/home.component.html
  apps/ga/src/app/parameters/parameter-constants.ts
  apps/ga/src/app/parameters/parameters.component.html
  apps/ga/src/app/parameters/parameters.component.spec.ts
  apps/ga/src/app/parameters/parameters.component.ts
  apps/ga/src/app/result/result.component.html
  apps/ga/src/app/shared/components/select/select.component.html
  apps/ga/src/app/shared/models/parameters/calculation-parameters.model.ts
  apps/ga/src/app/shared/models/parameters/dropdown-option.model.ts
  apps/ga/src/app/shared/models/parameters/index.ts
  apps/ga/src/app/shared/models/parameters/load-levels.model.ts
  apps/ga/src/app/shared/models/parameters/load-types.model.ts
  apps/ga/src/app/shared/models/parameters/selected-greases.model.ts
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
  apps/ga/src/environments/environment.dev.ts
  apps/ga/src/environments/environment.ts
  apps/ga/src/testing/mocks/rest.service.mock.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

feat(ga): adjust to json result from api (UFTABI-5229) (#3558)
  apps/ga/src/app/core/store/selectors/result/result.selector.ts
  apps/ga/src/app/result/result.component.html
  apps/ga/src/app/result/result.component.ts
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
  apps/ga/src/assets/mocks/grease-report.json
  apps/ga/src/testing/mocks/rest.service.mock.ts
  libs/shared/ui/report/src/lib/grease-report.service.ts
  libs/shared/ui/report/src/lib/i18n/de.json
  libs/shared/ui/report/src/lib/i18n/en.json
  libs/shared/ui/report/src/lib/models/title.enum.ts
  libs/shared/ui/report/src/lib/report.component.html
  libs/shared/ui/report/src/lib/report.component.spec.ts
  libs/shared/ui/report/src/lib/report.component.ts
  libs/shared/ui/report/src/mocks/active-grease-json.ts
  libs/shared/ui/report/src/mocks/formatted-grease-json.ts
  libs/shared/ui/report/src/mocks/grease-json-report.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @kauppfbi_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(goldwind): remove from deployment (#3595)
  deployments.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(report): add weight to grease report (UFTABI-5253) (#3554)
  libs/shared/ui/legal-pages/src/lib/i18n/de.json
  libs/shared/ui/report/src/lib/grease/grease-helpers.ts
  libs/shared/ui/report/src/lib/grease/grease-report.service.spec.ts
  libs/shared/ui/report/src/lib/grease/grease-report.service.ts
  libs/shared/ui/report/src/lib/i18n/de.json
  libs/shared/ui/report/src/lib/i18n/en.json
  libs/shared/ui/report/src/lib/report.component.html
  libs/shared/ui/report/src/lib/report.component.ts
  libs/shared/ui/report/src/mocks/active-grease-json.ts
  libs/shared/ui/report/src/mocks/formatted-grease-json.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(style): adjust tab overrides (#3592)
  libs/shared/ui/styles/src/lib/theme-overrides.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

build(cdba): use https-proxy-agent to support corporate proxy for serve (#3594)
  apps/cdba/project.json
  apps/cdba/proxy.conf.js
  apps/cdba/proxy.conf.json
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

feat(helloworld-azure): get rid of flex-layout dep (#3590)
  apps/helloworld-azure/src/app/home/home.component.html
  apps/helloworld-azure/src/app/home/home.module.ts
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT

feat: remove shared-utils-http lib (#3597)
  angular.json
  apps/goldwind/src/app/core/core.module.ts
  apps/mm/src/app/core/core.module.ts
  apps/mm/src/app/home/result-page/result-page.component.spec.ts
  libs/shared/utils/http/.eslintrc.json
  libs/shared/utils/http/.versionrc.json
  libs/shared/utils/http/CHANGELOG.md
  libs/shared/utils/http/README.md
  libs/shared/utils/http/jest.config.js
  libs/shared/utils/http/ng-package.json
  libs/shared/utils/http/package.json
  libs/shared/utils/http/project.json
  libs/shared/utils/http/src/index.ts
  libs/shared/utils/http/src/lib/constants/urls.ts
  libs/shared/utils/http/src/lib/data.service.spec.ts
  libs/shared/utils/http/src/lib/data.service.ts
  libs/shared/utils/http/src/lib/environment-config.interface.ts
  libs/shared/utils/http/src/lib/http.module.ts
  libs/shared/utils/http/src/lib/i18n/de.json
  libs/shared/utils/http/src/lib/i18n/en.json
  libs/shared/utils/http/src/lib/i18n/es.json
  libs/shared/utils/http/src/lib/i18n/fr.json
  libs/shared/utils/http/src/lib/i18n/ru.json
  libs/shared/utils/http/src/lib/i18n/zh.json
  libs/shared/utils/http/src/lib/interceptors/http-error.interceptor.spec.ts
  libs/shared/utils/http/src/lib/interceptors/http-error.interceptor.ts
  libs/shared/utils/http/src/lib/models/delete-options.model.ts
  libs/shared/utils/http/src/lib/models/get-options.model.ts
  libs/shared/utils/http/src/lib/models/index.ts
  libs/shared/utils/http/src/lib/models/post-options.model.ts
  libs/shared/utils/http/src/lib/models/put-options.model.ts
  libs/shared/utils/http/src/test-setup.ts
  libs/shared/utils/http/tsconfig.json
  libs/shared/utils/http/tsconfig.lib.json
  libs/shared/utils/http/tsconfig.lib.prod.json
  libs/shared/utils/http/tsconfig.spec.json
  tsconfig.base.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

refactor(ia): get rid of flex-layout dep (#3589)
  apps/ia/src/app/loss-of-skill/lost-job-profiles/amount-cell-renderer/amount-cell-renderer.component.spec.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

fix(cdba): fix error message in ag grid tables (#3572)
  apps/cdba/src/app/compare/store/actions/compare.actions.spec.ts
  apps/cdba/src/app/compare/store/actions/compare.actions.ts
  apps/cdba/src/app/compare/store/effects/compare-failure.effects.spec.ts
  apps/cdba/src/app/compare/store/effects/compare-failure.effects.ts
  apps/cdba/src/app/compare/store/effects/compare.effects.spec.ts
  apps/cdba/src/app/compare/store/effects/compare.effects.ts
  apps/cdba/src/app/compare/store/reducers/compare.reducer.spec.ts
  apps/cdba/src/app/compare/store/reducers/compare.reducer.ts
  apps/cdba/src/app/compare/store/selectors/compare.selectors.ts
  apps/cdba/src/app/core/store/actions/detail/detail.actions.spec.ts
  apps/cdba/src/app/core/store/actions/detail/detail.actions.ts
  apps/cdba/src/app/core/store/effects/detail/detail-failure.effects.spec.ts
  apps/cdba/src/app/core/store/effects/detail/detail-failure.effects.ts
  apps/cdba/src/app/core/store/effects/detail/detail.effects.spec.ts
  apps/cdba/src/app/core/store/effects/detail/detail.effects.ts
  apps/cdba/src/app/core/store/reducers/detail/detail.reducer.spec.ts
  apps/cdba/src/app/core/store/reducers/detail/detail.reducer.ts
  apps/cdba/src/app/core/store/selectors/details/detail.selector.ts
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.spec.ts
  apps/cdba/src/testing/mocks/state/compare-state.mock.ts
  apps/cdba/src/testing/mocks/state/detail-state.mock.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(cdba): adjust bom sidebar height (DSCDA-2826) (#3603)
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.scss
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

refactor(cdba): remove obsolete imports of flexLayoutModule (#3579) (#3602)
  apps/cdba/src/app/results/reference-types-table/pcm-cell-renderer/pcm-cell-renderer.component.spec.ts
  apps/cdba/src/app/shared/components/bom-legend/bom-legend.component.spec.ts
  apps/cdba/src/app/shared/components/bom-legend/bom-legend.module.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(ga): show load levels by default (UFTABI-5343) (#3591)
  apps/ga/src/app/core/store/reducers/parameter/parameter.reducer.ts
  apps/ga/src/app/core/store/selectors/parameter/parameter.selector.spec.ts
  apps/ga/src/app/parameters/parameter-constants.ts
  apps/ga/src/app/parameters/parameters.component.spec.ts
  apps/ga/src/app/parameters/parameters.component.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

feat: install prettier-plugin-tailwindcss (#3604)
  apps/cdba/src/app/compare/details-tab/details-tab.component.html
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

chore(sedo): update ag grid license key
  apps/sedo/src/main.ts
  apps/sedo/src/test-setup.ts
Owners: @soehnpsc_SGGIT, @PELZESEN_SGGIT, @kauppfbi_SGGIT

chore(gq): update ag grid license key
  apps/gq/src/main.ts
  apps/gq/src/test-setup.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT

chore(ia): update ag grid license key
  apps/ia/src/main.ts
  apps/ia/src/test-setup.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

chore(mac): update ag grid license key
  apps/mac/src/main.ts
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(cdba): update ag grid license key
  apps/cdba/src/main.ts
  apps/cdba/src/test-setup.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore: code formatting
  apps/helloworld-azure/src/app/home/home.component.html
  libs/shared/ui/report/src/lib/report.component.html
  libs/shared/ui/styles/src/lib/theme-overrides.scss
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(ia): implemenent pagination for shap data chart (IA-421) (#3596)
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.html
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.spec.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.module.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.service.spec.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.service.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.html
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.spec.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.config.spec.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.config.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.module.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.utils.spec.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.utils.ts
  apps/ia/src/app/attrition-analytics/models/index.ts
  apps/ia/src/app/attrition-analytics/models/sort-direction.enum.ts
  apps/ia/src/app/attrition-analytics/models/sort.model.ts
  apps/ia/src/app/attrition-analytics/store/actions/attrition-analytics.action.spec.ts
  apps/ia/src/app/attrition-analytics/store/actions/attrition-analytics.action.ts
  apps/ia/src/app/attrition-analytics/store/effects/attrition-analytics.effects.spec.ts
  apps/ia/src/app/attrition-analytics/store/effects/attrition-analytics.effects.ts
  apps/ia/src/app/attrition-analytics/store/index.spec.ts
  apps/ia/src/app/attrition-analytics/store/index.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.spec.factory.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.spec.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.ts
  apps/ia/src/assets/i18n/attrition-analytics/en.json
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

chore(deps): update dependency @caeonline/dynamic-forms to v0.5.0 (#3465)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(ga): add standard version target (#3607)
  apps/ga/project.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(ga): prevent broken parameter layout on ipad portrait (#3605)
  apps/ga/src/app/parameters/parameters.component.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(mm): 🚀 0.1.14 [ci skip]
  apps/mm/CHANGELOG.md
  apps/mm/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(picture-card): fix html format issues
  libs/shared/ui/picture-card/src/lib/picture-card-action/picture-card-action.component.html
  libs/shared/ui/picture-card/src/lib/picture-card.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(mac): fix html format issues
  apps/mac/src/app/app.component.html
  apps/mac/src/app/feature/aqm-calculator/aqm-calculator.component.html
  apps/mac/src/app/feature/aqm-calculator/aqm-calculator.component.scss
  apps/mac/src/app/feature/hardness-converter/hardness-converter.component.html
  apps/mac/src/app/feature/hardness-converter/hardness-converter.component.scss
  apps/mac/src/app/feature/lifetime-predictor/lifetime-predictor.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.scss
  apps/mac/src/app/feature/materials-supplier-database/materials-supplier-database.component.html
  apps/mac/src/app/feature/overview/overview.component.html
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

fix(loading-spinner): fix html format issues
  libs/shared/ui/loading-spinner/src/lib/loading-spinner.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(goldwind): fix html format issues
  apps/goldwind/src/app/app.component.html
  apps/goldwind/src/app/bearing/bearing.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/cm-equipment/cm-equipment.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/edm-monitor/edm-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.html
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.component.html
  apps/goldwind/src/app/bearing/maintenance-assessment/gcm-heatmap-card/gcm-heatmap-card.component.html
  apps/goldwind/src/app/bearing/maintenance-assessment/maintenance-assessment.component.html
  apps/goldwind/src/app/legal/data-privacy/data-privacy.component.html
  apps/goldwind/src/app/legal/legal-notice/legal-notice.component.html
  apps/goldwind/src/app/legal/legal.component.html
  apps/goldwind/src/app/legal/terms/terms.component.html
  apps/goldwind/src/app/overview/overview.component.html
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.html
  apps/goldwind/src/app/shared/dashboard-more-info-dialog/dashboard-more-info-dialog.component.html
  apps/goldwind/src/app/shared/preview-container/preview-container.component.html
  apps/goldwind/src/app/shared/sensor/sensor.component.html
  apps/goldwind/src/app/shared/status-indicator/status-indicator.component.html
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

fix(sedo): fix html format issues
  apps/sedo/src/app/sales-summary/sales-table/sales-table.component.html
Owners: @soehnpsc_SGGIT, @PELZESEN_SGGIT, @kauppfbi_SGGIT

fix(subheader): fix html format issues
  libs/shared/ui/subheader/src/lib/subheader.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(cdba): implement portfolio analysis (DSCDA-2619)
  apps/cdba/src/app/app-route-path.enum.ts
  apps/cdba/src/app/app-routing.module.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-chart/echarts-bundle.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-chart/portfolio-analysis-chart.component.html
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-chart/portfolio-analysis-chart.component.spec.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-chart/portfolio-analysis-chart.component.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-chart/portfolio-analysis-chart.module.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-chart/portfolio-analysis-chart.service.spec.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-chart/portfolio-analysis-chart.service.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-table/portfolio-analysis-table.component.html
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-table/portfolio-analysis-table.component.scss
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-table/portfolio-analysis-table.component.spec.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-table/portfolio-analysis-table.component.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-table/portfolio-analysis-table.models.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-table/portfolio-analysis-table.module.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-table/portfolio-analysis-table.service.spec.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-table/portfolio-analysis-table.service.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.component.html
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.component.spec.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.component.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.module.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.routing.module.ts
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.spec.ts
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-badge/beta-feature-badge.component.spec.ts
  apps/cdba/src/app/shared/components/table/custom-status-bar/compare-view-button/compare-view-button.component.html
  apps/cdba/src/app/shared/components/table/custom-status-bar/compare-view-button/compare-view-button.component.scss
  apps/cdba/src/app/shared/components/table/custom-status-bar/compare-view-button/compare-view-button.component.ts
  apps/cdba/src/app/shared/models/index.ts
  apps/cdba/src/app/shared/models/product-cost-analysis.model.ts
  apps/cdba/src/app/shared/services/breadcrumbs/breadcrumbs.service.spec.ts
  apps/cdba/src/app/shared/services/breadcrumbs/breadcrumbs.service.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
  apps/cdba/src/assets/i18n/portfolio-analysis/de.json
  apps/cdba/src/assets/i18n/portfolio-analysis/en.json
  apps/cdba/src/testing/mocks/models/product-cost-analysis.mock.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(hello-world): fix html format issues
  apps/helloworld-azure/src/app/app.component.html
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT

fix(ga): fix html format issues
  apps/ga/src/app/app.component.html
  apps/ga/src/app/bearing/bearing.component.html
  apps/ga/src/app/core/components/grease-stepper/grease-stepper.component.scss
  apps/ga/src/app/grease-calculation/grease-calculation.component.html
  apps/ga/src/app/home/home.component.html
  apps/ga/src/app/home/home.component.scss
  apps/ga/src/app/result/result.component.html
  apps/ga/src/app/shared/components/input/input/input.component.html
  apps/ga/src/app/shared/components/select/select.component.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

fix(ia): fix html format issues
  apps/ia/src/app/app.component.html
  apps/ia/src/app/attrition-analytics/attrition-analytics.scss
  apps/ia/src/app/attrition-analytics/features-dialog/features-dialog.component.html
  apps/ia/src/app/filter-section/filter-section.component.html
  apps/ia/src/app/loss-of-skill/loss-of-skill.component.html
  apps/ia/src/app/loss-of-skill/lost-job-profiles/amount-cell-renderer/amount-cell-renderer.component.html
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog-meta/attrition-dialog-meta.component.html
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.html
  apps/ia/src/app/organizational-view/org-chart/org-chart.component.html
  apps/ia/src/app/organizational-view/organizational-view.component.html
  apps/ia/src/app/organizational-view/world-map/world-map.component.html
  apps/ia/src/app/overview/entries-exits/entries-exits.component.html
  apps/ia/src/app/overview/open-positions/open-positions-list/open-positions-list.component.html
  apps/ia/src/app/overview/open-positions/open-positions.component.html
  apps/ia/src/app/overview/overview-chart/overview-chart.component.html
  apps/ia/src/app/overview/overview-chart/terminated-employees-dialog/terminated-employees-dialog.component.html
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/overview/resignations/resignations.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-chart/reasons-for-leaving-chart.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-table/reasons-for-leaving-table.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.html
  apps/ia/src/app/shared/charts/chart-legend/chart-legend.component.html
  apps/ia/src/app/shared/charts/external-legend/external-legend.component.html
  apps/ia/src/app/shared/charts/line-chart/line-chart.component.html
  apps/ia/src/app/shared/charts/loose-doughnut-chart/loose-doughnut-chart.component.html
  apps/ia/src/app/shared/charts/solid-doughnut-chart/solid-doughnut-chart.component.html
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.component.html
  apps/ia/src/app/shared/kpi/kpi.component.html
  apps/ia/src/app/shared/user-settings/user-settings.component.html
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

fix(mm): fix html format issues
  apps/mm/src/app/app.component.html
  apps/mm/src/app/core/components/pages-stepper/pages-stepper.component.scss
  apps/mm/src/app/core/components/settings/settings.component.html
  apps/mm/src/app/home/calculation-options/calculation-options.component.html
  apps/mm/src/app/home/home.component.html
  apps/mm/src/app/home/result-page/result-page.component.html
  apps/mm/src/app/shared/components/horizontal-seperator/horizontal-separator.component.html
  apps/mm/src/app/shared/components/language-confirmation-dialog/language-confirmation-dialog.component.html
  apps/mm/src/app/shared/components/magnetic-slider/magnetic-slider.component.html
  apps/mm/src/app/shared/components/member-controls/picture-card-list/picture-card-list.component.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT
