Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @spieksef_SGGIT, @meiswjn_SGGIT, @kemmemha_SGGIT, @bauerfla_SGGIT, @fischaxe_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @fohlmtor_SGGIT, @vogelmor_SGGIT

feat(gq): save GridState and FilterState( GQUOTE-2658) (#5599)
  apps/gq/src/app/app.module.ts
  apps/gq/src/app/case-view/case-table/case-table.component.html
  apps/gq/src/app/case-view/case-table/case-table.component.spec.ts
  apps/gq/src/app/case-view/case-table/case-table.component.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.html
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/shared/models/grid-state.model.ts
  apps/gq/src/app/shared/services/ag-grid-state/ag-grid-state.service.spec.ts
  apps/gq/src/app/shared/services/ag-grid-state/ag-grid-state.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT

feat(mac): added tracking of selected material - UFTABI-6668 (#5616)
  apps/mac/src/app/feature/materials-supplier-database/main-table/msd-navigation/msd-navigation.component.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/msd-navigation/msd-navigation.component.ts
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT

feat(ea): update co2 disclaimer (#5617)
  apps/ea/src/app/app.component.ts
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.ts
  apps/ea/src/assets/disclaimers/calculation-en.html
  apps/ea/src/assets/i18n/de.json
  apps/ea/src/assets/i18n/en.json
  apps/ea/src/assets/i18n/es.json
  apps/ea/src/assets/i18n/fr.json
  apps/ea/src/assets/i18n/it.json
  apps/ea/src/assets/i18n/zh.json
  apps/ea/src/assets/i18n/zh_TW.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @fohlmtor_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(ea): only embedded release should be visible on production (#5618)
  apps/ea/src/app/app.component.html
  apps/ea/src/app/app.component.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @fohlmtor_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(ea): 🧈 release version 0.1.4 [CI SKIP]
  apps/ea/CHANGELOG.md
  apps/ea/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @fohlmtor_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

feat(gq): update case-overview Tabs to handle individual GrdStates (G… (#5619)
  apps/gq/src/app/case-view/case-table/case-table.component.spec.ts
  apps/gq/src/app/case-view/case-table/case-table.component.ts
  apps/gq/src/app/case-view/case-table/config/custom-views.config.ts
  apps/gq/src/app/shared/services/ag-grid-state/ag-grid-state.service.spec.ts
  apps/gq/src/app/shared/services/ag-grid-state/ag-grid-state.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT

feat(ea): hide co2 hint on production (#5620)
  apps/ea/src/app/calculation/calculation-parameters/calculation-parameters.html
  apps/ea/src/app/calculation/calculation-parameters/calculation-parameters.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @fohlmtor_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository

- @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

############

### Apps

############

# helloworld-azure

apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT

# CDBA

apps/cdba @herpisef_SGGIT @soehnpsc_SGGIT @poltokzy_SGGIT @przybmci_SGGIT

# SEDO

apps/sedo @soehnpsc_SGGIT @schlesni_SGGIT

# GQ

apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @poltokzy_SGGIT @schlesni_SGGIT @panesrbe_SGGIT

# MAC

apps/mac @berndcri_SGGIT @krausrbe_SGGIT @konramic_SGGIT

# IA

apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT @poltokzy_SGGIT @grzegdmi_SGGIT

# MM

apps/mm @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# GA

apps/ga @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# EA

apps/ea @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ea-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @fohlmtor_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
