Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @meiswjn_SGGIT, @kemmemha_SGGIT, @bauerfla_SGGIT, @fischaxe_SGGIT, @leviptr_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT, @schlesni_SGGIT, @schlunls_SGGIT, @konramic_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository

- @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

############

### Apps

############

# helloworld-azure

apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT

# CDBA

apps/cdba @herpisef_SGGIT @soehnpsc_SGGIT @poltokzy_SGGIT @przybmci_SGGIT
apps/cdba-e2e @herpisef_SGGIT @soehnpsc_SGGIT @poltokzy_SGGIT @przybmci_SGGIT

# SEDO

apps/sedo @soehnpsc_SGGIT @schlesni_SGGIT
apps/sedo-e2e @soehnpsc_SGGIT @schlesni_SGGIT

# GQ

apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @schlunls_SGGIT @poltokzy_SGGIT @schlesni_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @schlunls_SGGIT @poltokzy_SGGIT @schlesni_SGGIT

# MAC

apps/mac @berndcri_SGGIT @krausrbe_SGGIT @konramic_SGGIT
apps/mac-e2e @berndcri_SGGIT @krausrbe_SGGIT @konramic_SGGIT

# IA

apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT @poltokzy_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT @poltokzy_SGGIT

# MM

apps/mm @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT

# GA

apps/ga @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT

feat(gq): remove FE preset for customer_purchase_date (GQUOTE-2146) (#4943)
  apps/gq/src/app/process-case-view/header-content/header-content.component.spec.ts
  apps/gq/src/app/process-case-view/header-content/header-content.component.ts
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

feat(ga): show concept1 suitability at dial (UFTABI-6154) (#4914)
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-concept1/grease-report-concept1.component.html
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-concept1/grease-report-concept1.component.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-concept1/grease-report-concept1.component.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-result/grease-report-result.component.html
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-result/grease-report-result.component.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-result/grease-report-result.component.ts
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
  apps/ga/src/assets/i18n/es.json
  apps/ga/src/assets/i18n/zh.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT

fix(gq): fixed gq homepage stuck after login (GQUOTE-1911) (#4945)
  apps/gq/src/app/core/store/effects/health-check/health-check.effects.spec.ts
  apps/gq/src/app/core/store/effects/health-check/health-check.effects.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): remove unused feature toggles (GQUOTE-1885) (#4933)
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.html
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/process-case-view/tabs/single-quotes-tab/single-quotes-tab.component.html
  apps/gq/src/app/shared/ag-grid/cell-renderer/edit-cells/edit-case-material/edit-case-material.component.html
  apps/gq/src/app/shared/ag-grid/cell-renderer/edit-cells/edit-case-material/edit-case-material.component.ts
  apps/gq/src/feature-config/default-config.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

feat(gq): update validation (dates shall not equal) (GQUOTE-2146) (#4950)
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.spec.ts
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): fixed initial focus for dialogs (GQUOTE-2049) (#4948)
  apps/gq/src/app/shared/components/autocomplete-input/autocomplete-input.component.html
  apps/gq/src/app/shared/components/modal/confirmation-modal/confirmation-modal.component.html
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

feat(cdba): current year net sales and quantities (#4686)
  apps/cdba/src/app/detail/detail-tab/quantities/quantities.component.html
Owners: @herpisef_SGGIT, @soehnpsc_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT

feat(gq): add 'openInTab' and 'openInWindow' to contextMenu (GQUOTE-1909) (#4951)
  apps/gq/src/app/case-view/case-table/case-table.component.spec.ts
  apps/gq/src/app/case-view/case-table/case-table.component.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.spec.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/shared/ag-grid/constants/column-fields.enum.ts
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.spec.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(mac): restore column configuration on navigation (UFTABI-6278) (#4944)
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/quick-filter/quick-filter.component.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/quick-filter/quick-filter.component.ts
  apps/mac/src/app/feature/materials-supplier-database/services/msd-ag-grid-state/msd-ag-grid-config.service.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/services/msd-ag-grid-state/msd-ag-grid-config.service.ts
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT

feat(mac): add learnMore link to Grease App - UFTABI-6256 (#4947)
  apps/mac/src/app/feature/overview/constants/internal-applications.ts
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT

feat(gq): adjust styling/layout (GQUOTE-1948) (#4954)
  apps/gq/src/app/process-case-view/tabs/single-quotes-tab/calculation-in-progress/calculation-in-progress.component.html
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

feat(mac): release date for historical supplier - UFTABI-6127 (#4949)
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/steel/constants/release-date-view-mode.enum.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/steel/steel-input-dialog.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/steel/steel-input-dialog.component.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/material-input-dialog/materials/steel/steel-input-dialog.component.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/materials/steel/steel-column-definitions.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/release-date-formatter.ts
  apps/mac/src/assets/i18n/en.json
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT

feat(cdba): column groups (#4752)
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.html
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.spec.ts
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.ts
  apps/cdba/src/app/shared/components/bom-table/config/column-definitions.service.spec.ts
  apps/cdba/src/app/shared/components/bom-table/config/column-definitions.service.ts
  apps/cdba/src/app/shared/components/bom-table/config/side-bar.service.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
Owners: @herpisef_SGGIT, @soehnpsc_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT

fix(gq): fixed issue with custom view tabs (GQUOTE-2048) (#4957)
  apps/gq/src/app/shared/services/ag-grid-state.service/ag-grid-state.service.spec.ts
  apps/gq/src/app/shared/services/ag-grid-state.service/ag-grid-state.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): fix BE request not sent, when casename did NOT change (GQUOTE-2160) (#4960)
  apps/gq/src/app/process-case-view/header-content/header-content.component.ts
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(ia): fix sorting on loss of skill (IA-1090) (#4958)
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.component.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @poltokzy_SGGIT

feat(gq): add contextMenu to Tabs and DetailButtons (GQUOTE-1909) (#4956)
  apps/gq/src/app/detail-view/detail-view/filter-pricing/detail-button/detail-button.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/detail-button/detail-button.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/detail-button/detail-button.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/filter-pricing.module.ts
  apps/gq/src/app/process-case-view/process-case-view.component.spec.ts
  apps/gq/src/app/process-case-view/process-case-view.component.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.ts
  apps/gq/src/app/shared/components/contextMenu/context-menu.module.ts
  apps/gq/src/app/shared/components/contextMenu/functions/context-menu-functions.ts
  apps/gq/src/app/shared/components/contextMenu/open-in-tab/open-in-tab.component.html
  apps/gq/src/app/shared/components/contextMenu/open-in-tab/open-in-tab.component.spec.ts
  apps/gq/src/app/shared/components/contextMenu/open-in-tab/open-in-tab.component.ts
  apps/gq/src/app/shared/components/contextMenu/open-in-window/open-in-window.component.html
  apps/gq/src/app/shared/components/contextMenu/open-in-window/open-in-window.component.spec.ts
  apps/gq/src/app/shared/components/contextMenu/open-in-window/open-in-window.component.ts
  apps/gq/src/app/shared/components/tabs-header/tab.model.ts
  apps/gq/src/app/shared/components/tabs-header/tabs-header.component.html
  apps/gq/src/app/shared/components/tabs-header/tabs-header.component.spec.ts
  apps/gq/src/app/shared/components/tabs-header/tabs-header.component.ts
  apps/gq/src/app/shared/components/tabs-header/tabs-header.module.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): check for disable button failed because of check undefined==… (#4962)
  apps/gq/src/app/shared/components/modal/edit-case-modal/edit-case-modal.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): fixed order of items in filter (GQUOTE-2151) (#4961)
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

feat(gq): added origin column to case overview (GQUOTE-2135) (#4953)
  apps/gq/src/app/case-view/case-table/config/column-def.service.ts
  apps/gq/src/app/shared/ag-grid/constants/column-fields.enum.ts
  apps/gq/src/app/shared/ag-grid/custom-status-bar/update-case-status-button/update-case-status-button.component.spec.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.ts
  apps/gq/src/app/shared/models/index.ts
  apps/gq/src/app/shared/models/quotation/quotation-origin.enum.ts
  apps/gq/src/app/shared/models/quotation/quotation.model.ts
  apps/gq/src/app/shared/models/quotation/view-quotation.model.ts
  apps/gq/src/assets/i18n/case-view/de.json
  apps/gq/src/assets/i18n/case-view/en.json
  apps/gq/src/testing/mocks/models/quotation.mock.ts
  apps/gq/src/testing/mocks/models/view-quotation.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): fixed issued with view not upadting after creating a new custom view (GQUOTE-2048) (#4963)
  apps/gq/src/app/shared/services/ag-grid-state.service/ag-grid-state.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): fixed order of case origin col (GQUOTE-2135) (#4964)
  apps/gq/src/app/case-view/case-table/config/column-def.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): force utc date in datepicker (GQUOTE-1793) (#4967)
  apps/gq/src/app/process-case-view/header-content/header-content.module.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(subheader): set font size to h5 in subheader (GQUOTE-1874)
  libs/shared/ui/subheader/src/lib/subheader.component.html
Owners: none

fix(gq): fix alignment in subheader (GQUOTE-1874)
  apps/gq/src/app/process-case-view/header-content/header-content.component.html
  apps/gq/src/app/process-case-view/process-case-view.component.html
  apps/gq/src/app/shared/components/info-icon/info-icon.component.html
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(mac): adjust to new subheader size
  apps/mac/src/app/feature/hardness-converter/hardness-converter.component.html
Owners: @berndcri_SGGIT, @krausrbe_SGGIT, @konramic_SGGIT

fix(gq): adjust layout of empty state pages (GQUOTE-1948) (#4968)
  apps/gq/src/app/detail-view/transaction-view/saving-in-progress/saving-in-progress.component.html
  apps/gq/src/app/detail-view/transaction-view/transaction-view.component.html
  apps/gq/src/app/process-case-view/process-case-view.component.html
  apps/gq/src/app/process-case-view/process-case-view.module.ts
  apps/gq/src/app/process-case-view/tabs/single-quotes-tab/calculation-in-progress/calculation-in-progress.component.html
  apps/gq/src/app/process-case-view/tabs/single-quotes-tab/single-quotes-tab.component.html
  apps/gq/src/app/process-case-view/tabs/single-quotes-tab/single-quotes-tab.component.spec.ts
  apps/gq/src/app/process-case-view/tabs/single-quotes-tab/single-quotes-tab.module.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(gq): fix tests displaying errorMessages (#4969)
  apps/gq/src/app/shared/components/contextMenu/open-in-tab/open-in-tab.component.spec.ts
  apps/gq/src/app/shared/components/contextMenu/open-in-window/open-in-window.component.spec.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

feat(gq): show sync failed status on quotation level (GQUOTE-2158) (#4972)
  apps/gq/src/app/core/store/selectors/process-case/process-case.selectors.spec.ts
  apps/gq/src/app/core/store/selectors/process-case/process-case.selectors.ts
  apps/gq/src/app/process-case-view/process-case-view.component.html
  apps/gq/src/app/process-case-view/process-case-view.component.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.ts
  apps/gq/src/app/shared/components/header/sync-status-customer-info-header/sync-status-customer-info-header.component.html
  apps/gq/src/app/shared/components/header/sync-status-customer-info-header/sync-status-customer-info-header.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @schlunls_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT

fix(ga): show arcanol subline for preselection (#4973)
  apps/ga/src/app/features/grease-calculation/calculation-result/calculation-result.component.html
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-result/grease-report-result.component.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT

feat(ga): add japanese translations (UFTABI-6210) (#4935)
  apps/ga/src/app/core/core.module.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-result/grease-report-result.component.spec.ts
  apps/ga/src/app/features/grease-calculation/grease-calculation.component.html
  apps/ga/src/app/features/grease-calculation/grease-calculation.component.spec.ts
  apps/ga/src/app/features/grease-calculation/grease-calculation.component.ts
  apps/ga/src/app/shared/constants/language.ts
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
  apps/ga/src/assets/i18n/es.json
  apps/ga/src/assets/i18n/ja.json
  apps/ga/src/assets/i18n/zh.json
  libs/shared/ui/report/src/lib/i18n/ja.json
  libs/shared/ui/report/src/lib/report.module.spec.ts
  libs/shared/ui/report/src/lib/report.module.ts
  libs/shared/utils/transloco/components/src/language-select/i18n/ja.json
  libs/shared/utils/transloco/components/src/language-select/language-select.module.ts
  libs/shared/utils/transloco/components/src/locale-select/i18n/ja.json
  libs/shared/utils/transloco/components/src/locale-select/locale-select.module.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT

chore(cdba): 🚀 release version 2.19.0 [CI SKIP]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @herpisef_SGGIT, @soehnpsc_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none
