Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT, @PELZESEN_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @geissbnj_SGGIT, @gerlitm_SGGIT, @yuqiugegmailcom_SGGIT, @przybmci_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

# Jenkinsfile
Jenkinsfile @kauppfbi_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

# package.json and package-lock.json for dependency updates
package.json @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT
package-lock.json @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @mailphilipriecksde_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @mailphilipriecksde_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# GOLDWIND
apps/goldwind @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT
apps/goldwind-e2e @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT

# SEDO
apps/sedo @birketho_SGGIT @soehnpsc_SGGIT @PELZESEN_SGGIT
apps/sedo-e2e @birketho_SGGIT @soehnpsc_SGGIT @PELZESEN_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @yuqiugegmailcom_SGGIT @kauppfbi_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @yuqiugegmailcom_SGGIT @kauppfbi_SGGIT

# MAC
apps/mac @berndcri_SGGIT @birketho_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @birketho_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @birketho_SGGIT @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @birketho_SGGIT @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

############
### Libs ###
############

feat(mac): add ui improvements (#3403)
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/column-definitions.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/manufacturer-supplier-formatter.ts
Owners: @berndcri_SGGIT, @birketho_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

feat(mac): change title depending on current app (#3401)
  apps/mac/src/app/feature/aqm-calculator/aqm-calculator.component.ts
  apps/mac/src/app/feature/hardness-converter/hardness-converter.component.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/prediction.component.ts
  apps/mac/src/app/feature/materials-supplier-database/materials-supplier-database.component.ts
  apps/mac/src/app/feature/overview/overview.component.ts
  apps/mac/src/app/shared/change-favicon.ts
  apps/mac/src/index.html
Owners: @berndcri_SGGIT, @birketho_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(gq): 🚀 2.2.0 [ci skip]
  apps/gq/CHANGELOG.md
  apps/gq/package.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @yuqiugegmailcom_SGGIT, @kauppfbi_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(goldwind): reset zoom slider on linechart when selecting new interval (#3417)
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.component.html
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.component.ts
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.html
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.spec.ts
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.ts
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

feat(ga): load validation adjusted, step two renamed (UFTABI-5276) (#3418)
  apps/ga/src/app/parameters/parameters.component.spec.ts
  apps/ga/src/app/parameters/parameters.component.ts
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

feat(storybook): add responsive and responsive grid story (#3412)
  libs/shared/ui/storybook/src/lib/atomic/atoms/responsive-grid.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/atoms/responsive.component.stories.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(ia): adjust labels for feature analytics (IA-379) (#3413)
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.html
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.spec.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.html
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.scss
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.spec.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.utils.spec.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.utils.ts
  apps/ia/src/app/attrition-analytics/models/employee-analytics-translations.model.ts
  apps/ia/src/app/attrition-analytics/models/employee-analytics.model.ts
  apps/ia/src/app/attrition-analytics/models/feature-importance-translations.model.ts
  apps/ia/src/app/attrition-analytics/models/feature-legend-translations.model.ts
  apps/ia/src/app/attrition-analytics/models/index.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.spec.factory.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.spec.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.utils.spec.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.utils.ts
  apps/ia/src/app/shared/charts/bar-chart/bar-chart.config.spec.ts
  apps/ia/src/app/shared/charts/bar-chart/bar-chart.config.ts
  apps/ia/src/app/shared/charts/models/bar-chart-config.model.ts
  apps/ia/src/assets/i18n/attrition-analytics/en.json
  tailwind.config.js
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @kauppfbi_SGGIT, @berndcri_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

refactor(cdba): improve screen usage (DSCDA-2692)
  apps/cdba/src/app/app.component.html
  apps/cdba/src/app/compare/bom-compare-tab/bom-compare-tab.component.html
  apps/cdba/src/app/compare/bom-compare-tab/bom-compare-tab.component.scss
  apps/cdba/src/app/compare/bom-compare-tab/bom-compare-tab.component.spec.ts
  apps/cdba/src/app/compare/bom-compare-tab/bom-compare-tab.component.ts
  apps/cdba/src/app/compare/bom-compare-tab/bom-compare-tab.module.ts
  apps/cdba/src/app/compare/compare.component.html
  apps/cdba/src/app/compare/compare.component.scss
  apps/cdba/src/app/compare/compare.component.ts
  apps/cdba/src/app/compare/details-tab/details-tab.component.html
  apps/cdba/src/app/compare/details-tab/material-card/material-card.component.html
  apps/cdba/src/app/detail/bom-tab/bom-tab.component.html
  apps/cdba/src/app/detail/bom-tab/bom-tab.component.scss
  apps/cdba/src/app/detail/bom-tab/bom-tab.component.ts
  apps/cdba/src/app/detail/calculations-tab/calculations-tab.component.html
  apps/cdba/src/app/detail/calculations-tab/calculations-tab.component.scss
  apps/cdba/src/app/detail/calculations-tab/calculations-tab.component.spec.ts
  apps/cdba/src/app/detail/calculations-tab/calculations-tab.component.ts
  apps/cdba/src/app/detail/calculations-tab/calculations-tab.module.ts
  apps/cdba/src/app/detail/detail-tab/detail-tab.component.html
  apps/cdba/src/app/detail/detail.component.html
  apps/cdba/src/app/detail/detail.component.scss
  apps/cdba/src/app/detail/detail.component.ts
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.html
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.scss
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.ts
  apps/cdba/src/app/results/results.component.html
  apps/cdba/src/app/results/results.component.ts
  apps/cdba/src/app/search/search.component.html
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.html
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.scss
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.html
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.scss
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.ts
  apps/cdba/src/app/shared/components/page-header/page-header.component.html
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.component.html
  apps/cdba/src/assets/i18n/detail/de.json
  apps/cdba/src/assets/i18n/detail/en.json
  apps/cdba/src/styles.scss
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(cdba): correct font classes after typography config changes
  apps/cdba/src/app/shared/components/page-header/page-header.component.html
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

refactor(app-shell): sticky footer and empty nodes
  libs/shared/ui/app-shell/src/lib/components/app-shell/app-shell.component.html
  libs/shared/ui/app-shell/src/lib/components/app-shell/app-shell.component.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

refactor(app-shell): make action buttons sticky (DSCDA-2692)
  apps/cdba/src/app/shared/components/table/custom-status-bar/compare-view-button/compare-view-button.component.html
  apps/cdba/src/app/shared/components/table/custom-status-bar/compare-view-button/compare-view-button.component.scss
  apps/cdba/src/app/shared/components/table/custom-status-bar/custom-status-bar.module.ts
  apps/cdba/src/app/shared/components/table/custom-status-bar/detail-view-button/detail-view-button.component.html
  apps/cdba/src/app/shared/components/table/custom-status-bar/detail-view-button/detail-view-button.component.scss
  apps/cdba/src/app/shared/components/table/custom-status-bar/load-bom-button/load-bom-button.component.html
  apps/cdba/src/app/shared/components/table/custom-status-bar/load-bom-button/load-bom-button.component.scss
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

refactor(cdba): erase fx-layout entirely
  apps/cdba/src/app/detail/detail-tab/drawings/drawings-table/actions-cell-renderer/actions-cell-renderer.component.html
  apps/cdba/src/app/detail/detail-tab/drawings/drawings-table/actions-cell-renderer/actions-cell-renderer.component.scss
  apps/cdba/src/app/detail/detail-tab/drawings/drawings-table/actions-cell-renderer/actions-cell-renderer.component.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.html
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.scss
  apps/cdba/src/app/shared/components/block-ui/block-ui.component.html
  apps/cdba/src/app/shared/components/bom-legend/bom-legend.component.html
  apps/cdba/src/app/shared/components/bom-legend/bom-legend.component.scss
  apps/cdba/src/app/shared/components/bom-legend/bom-legend.component.ts
  apps/cdba/src/app/shared/components/bom-legend/material-designation-cell-renderer/material-designation-cell-renderer.component.html
  apps/cdba/src/app/shared/components/bom-legend/material-designation-cell-renderer/material-designation-cell-renderer.component.scss
  apps/cdba/src/app/shared/components/bom-legend/material-designation-cell-renderer/material-designation-cell-renderer.component.ts
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.html
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.scss
  apps/cdba/src/app/shared/components/browser-support/browser-support-dialog/browser-support-dialog.component.html
  apps/cdba/src/app/shared/components/browser-support/browser-support-dialog/browser-support-dialog.component.scss
  apps/cdba/src/app/shared/components/browser-support/browser-support-dialog/browser-support-dialog.component.ts
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

refactor(storybook): improve app-shell story
  libs/shared/ui/storybook/src/lib/atomic/templates/app-shell.component.stories.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(cdba): introduce in-view directive
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.spec.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.spec.ts
  apps/cdba/src/app/shared/components/page-header/page-header.component.spec.ts
  apps/cdba/src/app/shared/components/page-header/page-header.module.ts
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.component.spec.ts
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.module.ts
  apps/cdba/src/app/shared/directives/back-button/index.ts
  apps/cdba/src/app/shared/directives/in-view/in-view.directive.spec.ts
  apps/cdba/src/app/shared/directives/in-view/in-view.directive.ts
  apps/cdba/src/app/shared/directives/in-view/in-view.module.ts
  apps/cdba/src/app/shared/directives/in-view/index.ts
  apps/cdba/src/app/shared/directives/index.ts
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(report): restore info tooltip in grease report (#3423)
  libs/shared/ui/report/src/lib/report.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(storybook): improve tooltip on touch devices (#3420)
  libs/shared/ui/storybook/src/lib/atomic/molecules/tooltip-material.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/molecules/tooltip/README.md
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

refactor(storybook): refactor responsive story (#3432)
  libs/shared/ui/storybook/src/lib/atomic/atoms/responsive-grid.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/atoms/responsive.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/atoms/responsive/README.md
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(cdba): 🚀 2.6.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(mm): 🚀 0.1.10 [ci skip]
  apps/mm/CHANGELOG.md
  apps/mm/package.json
Owners: @birketho_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

chore(mm): fix version number (#3433)
  apps/mm/package.json
Owners: @birketho_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

chore(mm): 🚀 0.1.11 [ci skip]
  apps/mm/CHANGELOG.md
  apps/mm/package.json
Owners: @birketho_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

chore(mm): 🚀 0.1.12 [ci skip]
  apps/mm/CHANGELOG.md
  apps/mm/package.json
Owners: @birketho_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(cdba): add missing changelog and version bump
  apps/cdba/CHANGELOG.md
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(workspace): fix compare url format of standard-version
  .versionrc.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

fix(goldwind): restrict zoom event when zoom is not modified (#3427)
  apps/goldwind/src/app/bearing/maintenance-assessment/maintenance-assessment.component.html
  apps/goldwind/src/app/bearing/maintenance-assessment/maintenance-assessment.component.ts
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.ts
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

chore(sedo): 🚀 1.14.0 [ci skip]
  apps/sedo/CHANGELOG.md
  apps/sedo/package.json
Owners: @birketho_SGGIT, @soehnpsc_SGGIT, @PELZESEN_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

fix(goldwind): change color of parent checkbox (#3428)
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.html
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

feat(goldwind): remove title above chart on loaddisPage (#3430)
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.html
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

chore(goldwind): change title of load dis card (#3431)
  apps/goldwind/src/assets/i18n/en.json
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

chore(jenkinsfile): clean master checkout on release (#3436)
  Jenkinsfile
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

feat(goldwind): add download functionality for assessment line charts (#3429)
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.html
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.scss
  apps/goldwind/src/app/shared/chart/assessment-linechart/assessment-linechart.component.ts
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

chore(goldwind): 🚀 0.3.0 [ci skip]
  apps/goldwind/CHANGELOG.md
  apps/goldwind/package-lock.json
  apps/goldwind/package.json
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

fix(mac): review improvements (UFTABI-5272) (#3435)
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.html
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/column-definitions.ts
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/manufacturer-supplier-formatter.ts
  apps/mac/src/app/feature/materials-supplier-database/models/data/data-result.model.ts
  apps/mac/src/app/feature/materials-supplier-database/services/msd-data/msd-data.service.spec.ts
  apps/mac/src/app/feature/materials-supplier-database/services/msd-data/msd-data.service.ts
  tailwind.config.js
Owners: @berndcri_SGGIT, @birketho_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT, @kauppfbi_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

improvement(cdba): add "no bom" hint (DSCDA-2360) (#3425)
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.html
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore(cdba): 🚀 2.7.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT
