Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @meiswjn_SGGIT, @ortuzfan_SGGIT, @kemmemha_SGGIT, @bauerfla_SGGIT, @fischaxe_SGGIT, @leviptr_SGGIT, @schlunls_SGGIT, @przybmci_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT @tgoetzcissolutionseu_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @ortuzfan_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @ortuzfan_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# SEDO
apps/sedo @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT
apps/sedo-e2e @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT @schlunls_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT @schlunls_SGGIT

# MAC
apps/mac @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

chore(cdba): adjust ag-grid props after upgrade (#3852)
  apps/cdba/src/app/detail/detail-tab/drawings/drawings-table/drawings-table.component.html
  apps/cdba/src/app/detail/detail-tab/drawings/drawings-table/drawings-table.component.ts
  apps/cdba/src/app/results/reference-types-table/material-designation-cell-render/material-designation-cell-render.component.ts
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.html
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.spec.ts
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.ts
  apps/cdba/src/app/shared/components/bom-legend/bom-legend.component.ts
  apps/cdba/src/app/shared/components/bom-legend/material-designation-cell-renderer/material-designation-cell-renderer.component.ts
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.html
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.html
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.spec.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.ts
  apps/cdba/src/app/shared/components/table/button/load-bom-button/load-bom-button.component.spec.ts
  apps/cdba/src/app/shared/components/table/button/load-bom-button/load-bom-button.component.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore(sedo): switch component usage for ag-grid 27
  apps/sedo/src/app/sales-summary/sales-table/sales-table.component.html
Owners: @soehnpsc_SGGIT, @PELZESEN_SGGIT, @kauppfbi_SGGIT

fix(ia): remove deprecations (#3852)
  apps/ia/src/app/overview/resignations/resignations.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving-table/reasons-for-leaving-table.component.html
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

chore(deps): upgrade ag-grid to 27.1
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(gq): migrate frameworkcomponents to components
  apps/gq/src/app/case-view/case-table/case-table.component.html
  apps/gq/src/app/case-view/case-table/case-table.component.ts
  apps/gq/src/app/case-view/case-table/config/components.ts
  apps/gq/src/app/case-view/case-table/config/index.ts
  apps/gq/src/app/process-case-view/quotation-details-table/config/components.ts
  apps/gq/src/app/process-case-view/quotation-details-table/config/index.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.html
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/shared/case-material/input-table/config/components.ts
  apps/gq/src/app/shared/case-material/input-table/config/framework-components.ts
  apps/gq/src/app/shared/case-material/input-table/config/index.ts
  apps/gq/src/app/shared/case-material/input-table/input-table.component.html
  apps/gq/src/app/shared/case-material/input-table/input-table.component.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(sedo): fix unit tests
  apps/sedo/src/app/sales-summary/sales-table/sales-table.component.spec.ts
Owners: @soehnpsc_SGGIT, @PELZESEN_SGGIT, @kauppfbi_SGGIT

chore(mac): adjust rowClass for new ag-grid v27
  apps/mac/src/app/feature/materials-supplier-database/main-table/main-table.component.html
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

fix(cdba): correct RowNode import
  apps/cdba/src/app/shared/components/table/radio-button-cell-render/radio-button-cell-render.component.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(gq): hightlight net prices lower than msp (GQUOTE-1201) (#3934)
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.html
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.spec.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(mac): denoise tests (#3936)
  apps/mac/src/app/feature/overview/overview.component.spec.ts
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

feat(storybook): categorize remaining stories (#3913) (#3935)
  libs/shared/ui/storybook/.storybook/storybook-navigation.constants.ts
  libs/shared/ui/storybook/src/lib/atomic/atoms/loading-spinner.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/molecules/share-button.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/organisms/dropdown-input.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/organisms/picture-card.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/organisms/search-autocomplete.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/organisms/stepper-component.stories.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(gq): reset Material Stock Store on missing productionPlant (GQUOTE-1262) (#3942)
  apps/gq/src/app/core/store/actions/material-stock/material-stock.actions.spec.ts
  apps/gq/src/app/core/store/actions/material-stock/material-stock.actions.ts
  apps/gq/src/app/core/store/effects/material-stock/material-stock.effects.spec.ts
  apps/gq/src/app/core/store/effects/material-stock/material-stock.effects.ts
  apps/gq/src/app/core/store/reducers/material-stock/material-stock.reducer.spec.ts
  apps/gq/src/app/core/store/reducers/material-stock/material-stock.reducer.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(gq): added editable column header (GQUOTE-1253) (#3937)
  apps/gq/src/app/process-case-view/quotation-details-table/config/tablecontext.model.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.module.ts
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
  apps/gq/src/app/shared/column-headers/column-headers.module.ts
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.html
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.scss
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.spec.ts
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

chore(mac): 🚀 0.4.1 [ci skip]
  apps/mac/CHANGELOG.md
  apps/mac/package.json
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

refactor(gq): adjust simulation to design review (GQUOTE-1247) (#3941)
  apps/gq/src/app/detail-view/detail-view/filter-pricing/filter-pricing.module.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/gq-price/gq-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/manual-price/manual-price.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/quantity/quantity-display/quantity-display.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/quantity/quantity-display/quantity-display.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/quantity/quantity-display/quantity-display.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/quantity/quantity-modal/quantity-modal.component.html
  apps/gq/src/app/detail-view/detail-view/filter-pricing/quantity/quantity-modal/quantity-modal.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/quantity/quantity-modal/quantity-modal.component.ts
  apps/gq/src/app/detail-view/detail-view/filter-pricing/sap-price/sap-price.component.html
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.module.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.spec.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-comment/edit-comment.component.spec.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-comment/edit-comment.component.ts
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.html
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.ts
  apps/gq/src/app/shared/header/dialog-header/dialog-header.component.html
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(mm): correct german bearing type texts (UFTABI-5581) (#3944)
  apps/mm/src/assets/i18n/de.json
  apps/mm/src/mock/dialog.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(helloworld-azure): 🚀 3.2.0 [ci skip]
  apps/helloworld-azure/CHANGELOG.md
  apps/helloworld-azure/package.json
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @meiswjn_SGGIT, @ortuzfan_SGGIT, @kemmemha_SGGIT, @bauerfla_SGGIT, @fischaxe_SGGIT, @leviptr_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix: add standard-version config for changelog generation (#3902) (#3950)
  libs/shared/ui/breadcrumbs/.versionrc.json
  libs/shared/ui/dropdown-input/.versionrc.json
  libs/shared/ui/legal-pages/.versionrc.json
  libs/shared/ui/loading-spinner/.versionrc.json
  libs/shared/ui/picture-card/.versionrc.json
  libs/shared/ui/report/.versionrc.json
  libs/shared/ui/search-autocomplete/.versionrc.json
  libs/shared/ui/share-button/.versionrc.json
  libs/shared/ui/stepper/.versionrc.json
  libs/shared/ui/subheader/.versionrc.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(ga): move meta tag translation to correct object
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

feat(gq): highlight columns affected by price simulation function (GQUOTE-1254) (#3945)
  apps/gq/src/app/core/store/actions/process-case/process-case.action.spec.ts
  apps/gq/src/app/core/store/actions/process-case/process-case.action.ts
  apps/gq/src/app/core/store/effects/process-case/process-case.effects.spec.ts
  apps/gq/src/app/core/store/effects/process-case/process-case.effects.ts
  apps/gq/src/app/core/store/reducers/process-case/process-case.reducer.spec.ts
  apps/gq/src/app/core/store/reducers/process-case/process-case.reducer.ts
  apps/gq/src/app/core/store/selectors/process-case/process-case.selectors.spec.ts
  apps/gq/src/app/core/store/selectors/process-case/process-case.selectors.ts
  apps/gq/src/app/process-case-view/process-case-view.component.ts
  apps/gq/src/app/process-case-view/quotation-details-table/config/tablecontext.model.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.html
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.spec.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/shared/ag-grid/constants/column-fields.enum.ts
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.html
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.spec.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.ts
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.html
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.scss
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.spec.ts
  apps/gq/src/app/shared/column-headers/editable-column-header/editable-column-header.component.ts
  apps/gq/src/app/shared/models/index.ts
  apps/gq/src/app/shared/models/simulated-quotation.ts
  apps/gq/src/testing/mocks/models/quotation-details.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

refactor(ia): consider also long name in country mapping (IA-537) (#3946)
  apps/ia/src/app/organizational-view/organizational-view.service.spec.ts
  apps/ia/src/app/organizational-view/organizational-view.service.ts
  apps/ia/src/app/organizational-view/store/actions/organizational-view.action.spec.ts
  apps/ia/src/app/organizational-view/store/actions/organizational-view.action.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.spec.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.ts
  apps/ia/src/app/organizational-view/store/index.spec.ts
  apps/ia/src/app/overview/store/actions/overview.action.spec.ts
  apps/ia/src/app/overview/store/actions/overview.action.ts
  apps/ia/src/app/overview/store/effects/overview.effects.spec.ts
  apps/ia/src/app/overview/store/effects/overview.effects.ts
  apps/ia/src/app/overview/store/index.spec.ts
  apps/ia/src/app/shared/http/params-creator.service.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

refactor(ia): extract filter component (#3955)
  apps/ia/src/app/filter-section/expanded-filters/expanded-filters.component.html
  apps/ia/src/app/filter-section/expanded-filters/expanded-filters.component.spec.ts
  apps/ia/src/app/filter-section/expanded-filters/expanded-filters.component.ts
  apps/ia/src/app/filter-section/expanded-filters/expanded-filters.module.ts
  apps/ia/src/app/filter-section/filter-section.component.html
  apps/ia/src/app/filter-section/filter-section.component.spec.ts
  apps/ia/src/app/filter-section/filter-section.component.ts
  apps/ia/src/app/filter-section/filter-section.module.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.ts
  apps/ia/src/app/shared/filter/filter-layout.enum.ts
  apps/ia/src/app/shared/filter/filter.component.html
  apps/ia/src/app/shared/filter/filter.component.ts
  apps/ia/src/app/shared/filter/filter.module.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

feat(report): add bottom spacing to grease result
  libs/shared/ui/report/src/lib/report.component.html
  libs/shared/ui/report/src/lib/report.component.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(mm): 🚀 0.1.18 [ci skip]
  apps/mm/CHANGELOG.md
  apps/mm/package.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(report): switch value entries (UFTABI-5458)
  libs/shared/ui/report/src/lib/grease/grease-helpers.ts
  libs/shared/ui/report/src/lib/grease/grease-report.service.ts
  libs/shared/ui/report/src/mocks/active-grease-json.ts
  libs/shared/ui/report/src/mocks/formatted-grease-json.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(styles): add secondary-900 color to tailwind config (#3962)
  apps/gq/src/app/shared/custom-status-bar/confirm-simulation-button/confirm-simulation-button.component.html
  apps/gq/src/app/shared/custom-status-bar/discard-simulation-button/discard-simulation-button.component.html
  apps/gq/src/app/shared/custom-status-bar/quotation-details-status/quotation-details-status.component.html
  apps/gq/src/app/shared/custom-status-bar/total-row-count/total-row-count.component.html
  libs/shared/ui/storybook/src/lib/atomic/foundations/color.stories.ts
  tailwind.config.js
  tailwind/colors.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(report): change order of grease result entries (UFTABI-5579) (#3961)
  libs/shared/ui/report/src/lib/grease/grease-report.service.ts
  libs/shared/ui/report/src/mocks/formatted-grease-json.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): add last customer price gpi and gpm (GQUOTE-1009) (#3966)
  apps/gq/src/app/core/store/effects/sap-price-details/sap-price-details.effects.spec.ts
  apps/gq/src/app/core/store/reducers/sap-price-details/sap-price-details.reducer.spec.ts
  apps/gq/src/app/detail-view/transaction-view/transaction-view.component.spec.ts
  apps/gq/src/app/shared/ag-grid/constants/column-fields.enum.ts
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
  apps/gq/src/app/shared/ag-grid/services/column-utility.service.spec.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.spec.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-detail.model.ts
  apps/gq/src/app/shared/services/price-service/price.service.spec.ts
  apps/gq/src/app/shared/services/price-service/price.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/models/quotation-details.mock.ts
  apps/gq/src/testing/mocks/models/sap-price-condition-detail.mock.ts
  apps/gq/src/testing/mocks/models/status-bar.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(storybook): ensure existence of grid utility classes
  apps/helloworld-azure/tailwind.config.js
Owners: @kauppfbi_SGGIT, @herpisef_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @meiswjn_SGGIT, @ortuzfan_SGGIT, @kemmemha_SGGIT, @bauerfla_SGGIT, @fischaxe_SGGIT, @leviptr_SGGIT

feat(gq): adjust net sales translation (GQUOTE-1269) (#3968)
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.ts
  apps/gq/src/app/shared/header/customer-header/customer-header.component.html
  apps/gq/src/assets/i18n/customer-view/de.json
  apps/gq/src/assets/i18n/customer-view/en.json
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(gq): added absolute price change (GQUOTE-1270) (#3972)
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.module.ts
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.html
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.spec.ts
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.ts
  apps/gq/src/app/shared/services/helper-service/helper-service.service.spec.ts
  apps/gq/src/app/shared/services/helper-service/helper-service.service.ts
  apps/gq/src/app/shared/services/price-service/price.service.spec.ts
  apps/gq/src/app/shared/services/price-service/price.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(gq): add notification on blocked clipboard access (GQUOTE-835) (#3977)
  apps/gq/src/app/shared/services/paste-materials-service/paste-materials.service.spec.ts
  apps/gq/src/app/shared/services/paste-materials-service/paste-materials.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(search-autocomplete): add "starts with" option (UFTABI-5609)
  libs/shared/ui/search-autocomplete/README.md
  libs/shared/ui/search-autocomplete/src/lib/search-autocomplete/search-autocomplete.component.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(application-insights): only track when opt in happened (#3932)
  apps/ga/src/app/app.component.spec.ts
  apps/ga/src/app/core/core.module.ts
  apps/ga/src/app/core/services/error/error.service.spec.ts
  apps/ga/src/app/core/services/error/error.service.ts
  apps/ga/src/app/core/services/index.ts
  apps/ga/src/app/core/store/effects/parameter/parameter.effects.ts
  apps/ga/src/app/core/store/effects/result/result.effects.spec.ts
  apps/ga/src/app/core/store/selectors/parameter/parameter.selector.spec.ts
  apps/ga/src/app/home/home.component.spec.ts
  apps/ga/src/app/parameters/parameter-constants.ts
  apps/ga/src/app/parameters/parameters.component.spec.ts
  apps/ga/src/app/parameters/parameters.component.ts
  apps/ga/src/app/shared/components/input/input/input.component.ts
  apps/ga/src/environments/environment.dev.ts
  apps/ga/src/environments/environment.model.ts
  apps/ga/src/environments/environment.prod.ts
  apps/ga/src/environments/environment.qa.ts
  apps/ga/src/environments/environment.ts
  apps/gq/src/app/app.component.spec.ts
  apps/gq/src/app/core/core.module.ts
  apps/gq/src/app/customer-view/customer-view.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/detail-view.component.spec.ts
  apps/gq/src/app/detail-view/transaction-view/transaction-view.component.spec.ts
  apps/gq/src/app/process-case-view/process-case-view.component.spec.ts
  apps/ia/src/app/core/core.module.ts
  apps/mm/src/app/core/components/pages-stepper/pages-stepper.component.spec.ts
  apps/mm/src/app/core/components/settings/settings.component.spec.ts
  apps/mm/src/app/core/core.module.ts
  apps/mm/src/app/home/bearing-search/bearing-search.component.spec.ts
  apps/mm/src/app/home/home.component.spec.ts
  apps/mm/src/app/home/result-page/result-page.component.spec.ts
  apps/mm/src/app/home/result-page/result-page.service.spec.ts
  libs/shared/ui/report/src/lib/grease/grease-report.service.spec.ts
  libs/shared/ui/report/src/lib/report.component.spec.ts
  libs/shared/utils/application-insights/README.md
  libs/shared/utils/application-insights/src/index.ts
  libs/shared/utils/application-insights/src/lib/application-insights.models.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.spec.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT, @przybmci_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): show "Target Price" as a column on the work area (GQUOTE-1259) (#3978)
  apps/gq/src/app/shared/ag-grid/constants/column-fields.enum.ts
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
  apps/gq/src/app/shared/models/quotation-detail/last-offer-detail.model.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/models/last-offer-detail.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(report): add white space break to "label" table cells in HTML report (UFTABI-5607)
  libs/shared/ui/report/src/lib/report.component.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT
