Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @geissbnj_SGGIT, @gerlitm_SGGIT, @przybmci_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT @tgoetzcissolutionseu_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# GOLDWIND
apps/goldwind @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT
apps/goldwind-e2e @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT

# SEDO
apps/sedo @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT
apps/sedo-e2e @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT

# MAC
apps/mac @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

fix(breadcrumbs): fix html format issues
  libs/shared/ui/breadcrumbs/src/lib/breadcrumbs.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(stepper): fix html format issues
  libs/shared/ui/stepper/index.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(legal-pages): fix html format issues
  libs/shared/ui/legal-pages/src/lib/legal.component.html
  libs/shared/ui/legal-pages/src/lib/legal.component.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(dropdown-input): fix html format issues
  libs/shared/ui/dropdown-input/src/lib/autocomplete-search/autocomplete-search.component.html
  libs/shared/ui/dropdown-input/src/lib/dropdown-input.component.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(storybook): fix html format issues
  libs/shared/ui/storybook/src/lib/atomic/molecules/snackbar-material.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/molecules/tabs.component.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/molecules/tooltip-material.component.stories.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(search-autocomplete): fix html format issues
  libs/shared/ui/search-autocomplete/src/lib/search-autocomplete/search-autocomplete.component.html
  libs/shared/ui/search-autocomplete/src/lib/search-autocomplete/search-autocomplete.component.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(app-shell): fix html format issues
  libs/shared/ui/app-shell/src/lib/components/app-shell/app-shell.component.html
  libs/shared/ui/app-shell/src/lib/components/app-shell/app-shell.component.scss
  libs/shared/ui/app-shell/src/lib/components/user-panel/user-panel.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(transloco): fix html format issues
  libs/shared/utils/transloco/components/src/locale-select/locale-select.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(roles-and-rights): fix html format issues
  libs/shared/ui/roles-and-rights/src/lib/components/roles-and-rights/roles-and-rights.component.html
  libs/shared/ui/roles-and-rights/src/lib/components/roles-groups/roles-groups.component.html
  libs/shared/ui/roles-and-rights/src/lib/components/roles/roles.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(picture-card): fix html format issues
  libs/shared/ui/report/src/lib/report.component.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(cdba): introduce beta-feature component module
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-badge/beta-feature-badge.component.html
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-badge/beta-feature-badge.component.spec.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-badge/beta-feature-badge.component.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-dialog/beta-feature-dialog.component.html
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-dialog/beta-feature-dialog.component.spec.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-dialog/beta-feature-dialog.component.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature.module.ts
  apps/cdba/src/app/shared/components/index.ts
  apps/cdba/src/app/shared/constants/emails.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(cdba): fix html format issues
  apps/cdba/src/app/compare/bom-compare-tab/bom-compare-tab.component.html
  apps/cdba/src/app/compare/details-tab/label-value/label-value.component.html
  apps/cdba/src/app/compare/details-tab/material-card/material-card.component.html
  apps/cdba/src/app/detail/bom-tab/bom-tab.component.html
  apps/cdba/src/app/detail/calculations-tab/calculations-tab.component.html
  apps/cdba/src/app/detail/detail-tab/customer/customer.component.html
  apps/cdba/src/app/detail/detail-tab/detail-tab.component.html
  apps/cdba/src/app/detail/detail-tab/dimension-and-weight/dimension-and-weight.component.html
  apps/cdba/src/app/detail/detail-tab/drawings/drawings-table/actions-cell-renderer/actions-cell-renderer.component.html
  apps/cdba/src/app/detail/detail-tab/drawings/drawings.component.html
  apps/cdba/src/app/detail/detail-tab/label-value/label-value.component.html
  apps/cdba/src/app/detail/detail-tab/pricing/pricing.component.html
  apps/cdba/src/app/detail/detail-tab/production/production.component.html
  apps/cdba/src/app/detail/detail-tab/quantities/quantities.component.html
  apps/cdba/src/app/detail/detail-tab/sales-and-description/sales-and-description.component.html
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.component.html
  apps/cdba/src/app/results/results.component.html
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.html
  apps/cdba/src/app/search/search.component.html
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-badge/beta-feature-badge.component.html
  apps/cdba/src/app/shared/components/bom-chart/bom-chart.component.html
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.html
  apps/cdba/src/app/shared/components/bom-legend/material-designation-cell-renderer/material-designation-cell-renderer.component.html
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.html
  apps/cdba/src/app/shared/components/browser-support/browser-support-dialog/browser-support-dialog.component.html
  apps/cdba/src/app/shared/components/page-header/page-header.component.html
  apps/cdba/src/app/shared/components/role-descriptions/role-descriptions/role-descriptions.component.html
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.component.html
  apps/cdba/src/app/shared/components/user-settings/user-settings.component.html
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(empty-states): fix html format issues
  libs/shared/ui/empty-states/src/lib/forbidden/forbidden.component.html
  libs/shared/ui/empty-states/src/lib/maintenance/maintenance.component.html
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.component.html
  libs/shared/ui/empty-states/src/lib/under-construction/under-construction.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(cdba): add title content area to page header
  apps/cdba/src/app/shared/components/page-header/page-header.component.html
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(label-value): init new shared component (#3353)
  angular.json
  libs/shared/ui/label-value/.eslintrc.json
  libs/shared/ui/label-value/.versionrc.json
  libs/shared/ui/label-value/README.md
  libs/shared/ui/label-value/jest.config.js
  libs/shared/ui/label-value/ng-package.json
  libs/shared/ui/label-value/package.json
  libs/shared/ui/label-value/project.json
  libs/shared/ui/label-value/src/index.ts
  libs/shared/ui/label-value/src/lib/components/label-value/label-value.component.html
  libs/shared/ui/label-value/src/lib/components/label-value/label-value.component.spec.ts
  libs/shared/ui/label-value/src/lib/components/label-value/label-value.component.ts
  libs/shared/ui/label-value/src/lib/label-value.module.ts
  libs/shared/ui/label-value/src/lib/mocks/label-value.mocks.ts
  libs/shared/ui/label-value/src/lib/models/index.ts
  libs/shared/ui/label-value/src/lib/models/label-value.model.ts
  libs/shared/ui/label-value/src/lib/models/value.model.ts
  libs/shared/ui/label-value/src/test-setup.ts
  libs/shared/ui/label-value/tsconfig.json
  libs/shared/ui/label-value/tsconfig.lib.json
  libs/shared/ui/label-value/tsconfig.lib.prod.json
  libs/shared/ui/label-value/tsconfig.spec.json
  libs/shared/ui/storybook/src/lib/atomic/molecules/label-value/label-value.component.stories.ts
  tsconfig.base.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(roles-and-rights): switch to label-value component (#3353)
  libs/shared/ui/legal-pages/README.md
  libs/shared/ui/roles-and-rights/src/lib/components/roles/roles.component.html
  libs/shared/ui/roles-and-rights/src/lib/components/roles/roles.component.ts
  libs/shared/ui/roles-and-rights/src/lib/mocks/roles-and-rights.mocks.ts
  libs/shared/ui/roles-and-rights/src/lib/roles-and-rights.module.ts
  libs/shared/ui/roles-and-rights/src/lib/utils/role-data.utils.spec.ts
  libs/shared/ui/roles-and-rights/src/lib/utils/role-data.utils.ts
  libs/shared/ui/storybook/src/lib/atomic/molecules/expansion-panel/README.md
  libs/shared/ui/storybook/src/lib/atomic/molecules/tabs/README.md
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(label-value): fix lint issues
  libs/shared/ui/label-value/src/index.ts
  libs/shared/ui/label-value/src/lib/models/index.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(label-value): fix html format issues
  libs/shared/ui/label-value/src/lib/components/label-value/label-value.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(mac): adjust msd columns (#3609)
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/column-definitions.ts
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(mac): 🚀 0.2.0 [ci skip]
  apps/mac/CHANGELOG.md
  apps/mac/package.json
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(workspace): fix unit tests after dependency update
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis-chart/portfolio-analysis-chart.component.spec.ts
  apps/cdba/src/app/shared/components/bom-chart/bom-chart.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/load-distribution-card/load-distribution-card.component.spec.ts
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.component.spec.ts
  apps/goldwind/src/app/bearing/maintenance-assessment/gcm-heatmap-card/gcm-heatmap-card.component.spec.ts
  apps/goldwind/src/app/bearing/maintenance-assessment/maintenance-assessment.component.spec.ts
  apps/gq/src/app/detail-view/transaction-view/transparency-graph/transparency-graph.component.spec.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.spec.ts
  apps/ia/src/app/shared/charts/bar-chart/bar-chart.component.spec.ts
  apps/ia/src/app/shared/charts/line-chart/line-chart.component.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/lifetime-predictor.component.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/chart/chart.component.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/prediction.component.spec.ts
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT, @przybmci_SGGIT, @berndcri_SGGIT

feat(gq): change sap special price displaying (GQUOTE-1104) (#3613)
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.ts
  apps/gq/src/app/shared/services/column-utility-service/column-def.service.ts
  apps/gq/src/app/shared/services/column-utility-service/column-fields.enum.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.spec.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT

fix(cdba): insert "plant" in calculation identification (DSCDA-2801) (#3606)
  apps/cdba/src/app/compare/store/actions/compare.actions.spec.ts
  apps/cdba/src/app/compare/store/actions/compare.actions.ts
  apps/cdba/src/app/compare/store/effects/compare.effects.spec.ts
  apps/cdba/src/app/compare/store/effects/compare.effects.ts
  apps/cdba/src/app/compare/store/reducers/compare.reducer.spec.ts
  apps/cdba/src/app/compare/store/reducers/compare.reducer.ts
  apps/cdba/src/app/core/store/actions/detail/detail.actions.spec.ts
  apps/cdba/src/app/core/store/actions/detail/detail.actions.ts
  apps/cdba/src/app/core/store/effects/detail/detail.effects.spec.ts
  apps/cdba/src/app/core/store/effects/detail/detail.effects.ts
  apps/cdba/src/app/core/store/reducers/detail/detail.reducer.spec.ts
  apps/cdba/src/app/core/store/reducers/detail/detail.reducer.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(mac): remove @schaeffler/responsive usage (#3521)
  apps/mac/src/app/feature/lifetime-predictor/lifetime-predictor.component.html
  apps/mac/src/app/feature/lifetime-predictor/lifetime-predictor.component.ts
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

fix(cdba): remove obsolete "now rows" call from bom table (DSCDA-2825) (#3616)
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.spec.ts
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(gq): limit quotation position upload to 100 (GQUOTE-1172) (#3619)
  apps/gq/src/app/shared/confirmation-modal/confirmation-modal.component.ts
  apps/gq/src/app/shared/confirmation-modal/models/confirmation-modal-data.model.ts
  apps/gq/src/app/shared/custom-status-bar/custom-status-bar.module.ts
  apps/gq/src/app/shared/custom-status-bar/delete-case-button/delete-case-button.component.ts
  apps/gq/src/app/shared/custom-status-bar/delete-items-button/delete-items-button.component.ts
  apps/gq/src/app/shared/custom-status-bar/upload-selection-to-sap-button/upload-selection-to-sap-button.component.html
  apps/gq/src/app/shared/custom-status-bar/upload-selection-to-sap-button/upload-selection-to-sap-button.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/upload-selection-to-sap-button/upload-selection-to-sap-button.component.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT

feat(mm): adjust html report selector
  apps/mm/src/environments/environment.dev.ts
  apps/mm/src/environments/environment.qa.ts
  apps/mm/src/environments/environment.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

feat(ia): refactor analytics page (#3617)
  apps/cdba/src/app/search/search.component.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.html
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.spec.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.module.ts
  apps/ia/src/app/attrition-analytics/feature-analysis/feature-analysis.component.html
  apps/ia/src/app/attrition-analytics/feature-analysis/feature-analysis.component.spec.ts
  apps/ia/src/app/attrition-analytics/feature-analysis/feature-analysis.component.ts
  apps/ia/src/app/attrition-analytics/feature-analysis/feature-analysis.module.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.config.spec.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.config.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.module.ts
  apps/ia/src/app/attrition-analytics/store/effects/attrition-analytics.effects.spec.ts
  apps/ia/src/app/attrition-analytics/store/effects/attrition-analytics.effects.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.spec.factory.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.utils.ts
  package-lock.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

feat: add unused var and imports rule to eslint (#3623)
  .eslintrc.json
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): adjust view quotation data model (GQUOTE-1120) (#3631)
  apps/gq/src/app/case-view/case-table/config/column-def.service.ts
  apps/gq/src/app/case-view/models/view-quotation.model.ts
  apps/gq/src/app/process-case-view/calculation-in-progress/calculation-in-progress.component.html
  apps/gq/src/app/shared/cell-renderer/gq-id/gq-id.component.spec.ts
  apps/gq/src/app/shared/cell-renderer/gq-id/gq-id.component.ts
  apps/gq/src/testing/mocks/models/view-quotation.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT

fix(gq): fix delete case bug (#3651)
  apps/gq/src/app/shared/custom-status-bar/delete-case-button/delete-case-button.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/delete-case-button/delete-case-button.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT

chore(deps): update core deps (#3647)
  README.md
  apps/ga/.browserslistrc
  apps/goldwind/.browserslistrc
  apps/gq/browserslist
  apps/helloworld-azure/.browserslistrc
  apps/ia/browserslist
  apps/mac/browserslist
  apps/mm/.browserslistrc
  apps/sedo/.browserslistrc
  docs/01_description.md
  libs/shared/ui/app-shell/.browserslistrc
  libs/shared/ui/banner/.browserslistrc
  libs/shared/ui/breadcrumbs/.browserslistrc
  libs/shared/ui/dropdown-input/.browserslistrc
  libs/shared/ui/empty-states/.browserslistrc
  libs/shared/ui/file-drop/.browserslistrc
  libs/shared/ui/icons/.browserslistrc
  libs/shared/ui/label-value/.browserslistrc
  libs/shared/ui/legal-pages/.browserslistrc
  libs/shared/ui/loading-spinner/.browserslistrc
  libs/shared/ui/picture-card/.browserslistrc
  libs/shared/ui/report/.browserslistrc
  libs/shared/ui/report/tsconfig.lib.json
  libs/shared/ui/roles-and-rights/.browserslistrc
  libs/shared/ui/search-autocomplete/.browserslistrc
  libs/shared/ui/share-button/.browserslistrc
  libs/shared/ui/snackbar/.browserslistrc
  libs/shared/ui/stepper/.browserslistrc
  libs/shared/ui/storybook/project.json
  libs/shared/ui/subheader/.browserslistrc
  nx.json
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT, @spieksef_SGGIT, @przybmci_SGGIT

ci(jenkinsfile): exclude dep updates from deliver and deployment stages (#3633)
  Jenkinsfile
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(cdba): 🚀 2.8.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(shared-ui-report): style long expansion panel title
  libs/shared/ui/report/src/lib/grease/grease-report.service.ts
  libs/shared/ui/report/src/lib/report.component.scss
  libs/shared/ui/report/src/lib/report.component.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(shared-ui-report): text and style fixes
  libs/shared/ui/report/src/lib/i18n/de.json
  libs/shared/ui/report/src/lib/report.component.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(report): show total result amount
  libs/shared/ui/report/src/lib/grease/grease-report.service.ts
  libs/shared/ui/report/src/lib/report.component.html
  libs/shared/ui/report/src/lib/report.component.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(report): text change in grease report
  apps/ga/src/assets/mocks/grease-report.json
  libs/shared/ui/report/src/lib/i18n/de.json
  libs/shared/ui/report/src/lib/i18n/en.json
  libs/shared/ui/report/src/lib/report.component.html
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @kauppfbi_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT
