Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @meiswjn_SGGIT, @ortuzfan_SGGIT, @kemmemha_SGGIT, @bauerfla_SGGIT, @fischaxe_SGGIT, @leviptr_SGGIT, @schlunls_SGGIT, @przybmci_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT @tgoetzcissolutionseu_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @ortuzfan_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @ortuzfan_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# SEDO
apps/sedo @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT
apps/sedo-e2e @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT @schlunls_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT @schlunls_SGGIT

# MAC
apps/mac @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

fix(gq): remove subscribe for cookie tracking (#3836)
  apps/gq/src/app/app.component.html
  apps/gq/src/app/app.component.spec.ts
  apps/gq/src/app/app.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(jenkinsfile): allow consecutive releases (#3829)
  Jenkinsfile
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): Added a new loading page for refreshing SAP data (#3835)
  apps/gq/src/app/process-case-view/calculation-in-progress/calculation-in-progress.component.html
  apps/gq/src/app/process-case-view/calculation-in-progress/calculation-in-progress.component.spec.ts
  apps/gq/src/app/process-case-view/calculation-in-progress/calculation-in-progress.component.ts
  apps/gq/src/app/process-case-view/process-case-view.component.html
  apps/gq/src/app/shared/models/quotation.model.ts
  apps/gq/src/assets/i18n/process-case-view/de.json
  apps/gq/src/assets/i18n/process-case-view/en.json
  apps/gq/src/assets/png/sap_refresh_in_progress.png
  apps/gq/src/testing/mocks/models/quotation.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(gq): changed image on create case loading screen (#3842)
  apps/gq/src/assets/png/calc_in_progress.png
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(cdba): synchronize expansions panels (DSCDA-2602)
  apps/cdba/src/app/compare/details-tab/material-card/material-card.component.html
  apps/cdba/src/app/compare/details-tab/material-card/material-card.component.spec.ts
  apps/cdba/src/app/compare/details-tab/material-card/material-card.component.ts
  apps/cdba/src/app/compare/details-tab/material-card/material-card.module.ts
  apps/cdba/src/app/compare/details-tab/material-card/material-card.store.spec.ts
  apps/cdba/src/app/compare/details-tab/material-card/material-card.store.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

refactor(cdba): enhance shared array utils
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.ts
  apps/cdba/src/app/shared/utils/array-equals.spec.ts
  apps/cdba/src/app/shared/utils/array-equals.ts
  apps/cdba/src/app/shared/utils/arrays.spec.ts
  apps/cdba/src/app/shared/utils/arrays.ts
  apps/cdba/src/app/shared/utils/index.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

fix(banner): further fix
  libs/shared/ui/banner/src/lib/banner-text/banner-text.component.spec.ts
  libs/shared/ui/banner/src/lib/banner-text/banner-text.component.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(banner): adjust according review
  libs/shared/ui/banner/src/index.ts
  libs/shared/ui/banner/src/lib/banner-text/banner-text.component.ts
  libs/shared/ui/banner/src/lib/banner.component.ts
  libs/shared/ui/banner/src/lib/store/actions/banner.actions.ts
  libs/shared/ui/banner/src/lib/store/reducers/banner.reducer.spec.ts
  libs/shared/ui/banner/src/lib/store/reducers/banner.reducer.ts
  libs/shared/ui/storybook/src/lib/atomic/organisms/banner.component.stories.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(banner): adjust icon logic to be more robust, adjust storybook
  libs/shared/ui/banner/src/lib/banner-text/banner-text.component.html
  libs/shared/ui/banner/src/lib/banner-text/banner-text.component.spec.ts
  libs/shared/ui/banner/src/lib/banner-text/banner-text.component.ts
  libs/shared/ui/storybook/src/lib/atomic/organisms/banner.component.stories.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): change price source column placement (GQUOTE-1235) (#3845)
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix: include formatOnSave in settings.json (#3841)
  .vscode/settings.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(cdba): sales organizations in compare screen (DSCDA-2899) (#3839)
  apps/cdba/src/app/compare/details-tab/additional-information-widget/additional-information-widget.component.html
  apps/cdba/src/app/compare/details-tab/additional-information-widget/additional-information-widget.component.spec.ts
  apps/cdba/src/app/compare/details-tab/additional-information-widget/additional-information-widget.component.ts
  apps/cdba/src/app/compare/details-tab/compare-label-value/compare-label-value.component.html
  apps/cdba/src/app/compare/details-tab/compare-label-value/compare-label-value.component.spec.ts
  apps/cdba/src/app/compare/details-tab/compare-label-value/compare-label-value.component.ts
  apps/cdba/src/app/compare/details-tab/compare-label-value/compare-label-value.module.ts
  apps/cdba/src/assets/i18n/compare/de.json
  apps/cdba/src/assets/i18n/compare/en.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(mac) apply new design for overview page (UFTABI-5494) (#3837)
  apps/mac/src/app/app.component.html
  apps/mac/src/app/feature/overview/constants/index.ts
  apps/mac/src/app/feature/overview/constants/internal-applications.ts
  apps/mac/src/app/feature/overview/constants/linked-applications.ts
  apps/mac/src/app/feature/overview/constants/links.ts
  apps/mac/src/app/feature/overview/overview.component.html
  apps/mac/src/app/feature/overview/overview.component.spec.ts
  apps/mac/src/app/feature/overview/overview.component.ts
  apps/mac/src/app/feature/overview/overview.module.ts
  apps/mac/src/app/shared/components/overview-card/overview-card.component.html
  apps/mac/src/app/shared/components/overview-card/overview-card.component.scss
  apps/mac/src/app/shared/components/overview-card/overview-card.component.spec.ts
  apps/mac/src/app/shared/components/overview-card/overview-card.component.ts
  apps/mac/src/app/shared/components/overview-card/overview-card.model.ts
  apps/mac/src/app/shared/components/overview-card/overview-card.module.ts
  apps/mac/src/assets/img/Materials_Supplier_Database.svg
  apps/mac/src/assets/img/app-preview/aqm.jpg
  apps/mac/src/assets/img/app-preview/ga.png
  apps/mac/src/assets/img/app-preview/hc.jpg
  apps/mac/src/assets/img/app-preview/ltp.jpg
  apps/mac/src/assets/img/app-preview/msd.jpg
  apps/mac/src/assets/img/aqm_calculator.svg
  apps/mac/src/assets/img/carbonitriding_prediction.svg
  apps/mac/src/assets/img/greaseapp.svg
  apps/mac/src/assets/img/hardness_converter.svg
  apps/mac/src/assets/img/lifetime_documenter.svg
  apps/mac/src/assets/img/lifetime_predictor.svg
  apps/mac/src/assets/img/polyassist.svg
  apps/mac/src/assets/img/steel_cleanliness_database.svg
  apps/mac/src/assets/img/steel_supplier_data_presenter.svg
  apps/mac/src/assets/img/wiam.svg
  apps/mac/tailwind.config.js
  package-lock.json
  package.json
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT, @kauppfbi_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(mm): adjust next trigger to prevent step skip (UFTABI-5238) (#3838)
  apps/mm/src/app/home/home.component.spec.ts
  apps/mm/src/app/home/home.component.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

chore(deps): update workspace dependencies (#3854)
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(mac): add subheader padding (#3858)
  apps/mac/src/app/feature/overview/overview.component.html
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

fix(azure-auth): wait for login to complete before getting roles (#3855)
  apps/cdba/src/app/core/auth/guards/basic-role.guard.spec.ts
  apps/cdba/src/app/core/auth/guards/basic-role.guard.ts
  apps/cdba/src/app/core/auth/guards/descriptive-role.guard.spec.ts
  apps/cdba/src/app/core/auth/guards/descriptive-role.guard.ts
  apps/cdba/src/app/core/auth/guards/pricing-role.guard.spec.ts
  apps/cdba/src/app/core/auth/guards/pricing-role.guard.ts
  apps/cdba/src/app/core/auth/role.facade.ts
  apps/gq/src/app/core/guards/role.guard.spec.ts
  apps/gq/src/app/core/guards/role.guard.ts
  apps/mac/src/app/core/guards/role.guard.spec.ts
  apps/mac/src/app/core/guards/role.guard.ts
  apps/sedo/src/app/core/guards/role.guard.spec.ts
  apps/sedo/src/app/core/guards/role.guard.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @schlunls_SGGIT, @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(cdba): 🚀 2.11.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(ia): adjust tooltip (IA-448) (#3856)
  apps/ia/src/app/shared/charts/loose-doughnut-chart/loose-doughnut-chart.config.spec.ts
  apps/ia/src/app/shared/charts/loose-doughnut-chart/loose-doughnut-chart.config.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

fix(cdba): only add node_id as url param for detail comparison (#3864)
  apps/cdba/src/app/shared/components/table/button/compare-button/compare-button.component.spec.ts
  apps/cdba/src/app/shared/components/table/button/compare-button/compare-button.component.ts
  apps/cdba/src/app/shared/services/breadcrumbs/breadcrumbs.service.spec.ts
  apps/cdba/src/app/shared/services/breadcrumbs/breadcrumbs.service.ts
  apps/cdba/src/app/shared/utils/index.ts
  apps/cdba/src/app/shared/utils/routes.spec.ts
  apps/cdba/src/app/shared/utils/routes.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(storybook): add input stories (#3814) (#3846)
  libs/shared/ui/storybook/src/lib/atomic/atoms/input.stories.ts
  libs/shared/ui/storybook/src/lib/atomic/atoms/input/README.md
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(cdba): 🚀 2.11.1 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(application-insights): handle iframe, initial track event (#3859)
  apps/ga/src/app/core/core.module.ts
  apps/gq/src/app/core/core.module.ts
  apps/ia/src/app/core/core.module.ts
  apps/mm/src/app/core/core.module.ts
  apps/mm/src/app/home/result-page/result-page.service.spec.ts
  apps/mm/src/app/home/result-page/result-page.service.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.spec.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT, @przybmci_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(cdba): implement beta feature settings (DSCDA-2894)
  apps/cdba/src/app/app.component.html
  apps/cdba/src/app/app.component.spec.ts
  apps/cdba/src/app/app.component.ts
  apps/cdba/src/app/app.module.ts
  apps/cdba/src/app/core/auth/auth.config.ts
  apps/cdba/src/app/core/auth/models/auth.models.ts
  apps/cdba/src/app/core/auth/role.facade.ts
  apps/cdba/src/app/core/store/selectors/details/detail.selector.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-badge/beta-feature-badge.component.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-dialog/beta-feature-dialog.component.html
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-dialog/beta-feature-dialog.component.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-settings/beta-feature-settings.component.html
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-settings/beta-feature-settings.component.scss
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-settings/beta-feature-settings.component.spec.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-settings/beta-feature-settings.component.ts
  apps/cdba/src/app/shared/components/beta-feature/beta-feature.module.ts
  apps/cdba/src/app/shared/constants/beta-feature.ts
  apps/cdba/src/app/shared/services/ag-grid-state/ag-grid-state.service.spec.ts
  apps/cdba/src/app/shared/services/beta-feature/beta-feature.service.spec.ts
  apps/cdba/src/app/shared/services/beta-feature/beta-feature.service.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
  apps/cdba/src/testing/mocks/storage/local-storage.mock.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(mac): add new wiam icon (#3867)
  apps/mac/src/assets/img/wiam.svg
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(mac): 🚀 0.3.0 [ci skip]
  apps/mac/CHANGELOG.md
  apps/mac/package.json
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): direct paste into quantity and price edit boxes (GQUOTE-1236) (#3863)
  apps/gq/src/app/process-case-view/header-content/header-content.component.ts
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.html
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.ts
  apps/gq/src/app/shared/services/helper-service/helper-service.service.spec.ts
  apps/gq/src/app/shared/services/helper-service/helper-service.service.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(tailwind): add nordic blue to text and border color (#3871)
  apps/mac/src/app/feature/hardness-converter/hardness-converter.component.html
  apps/mac/src/app/feature/materials-supplier-database/materials-supplier-database.component.html
  libs/shared/ui/banner/src/lib/banner-text/banner-text.component.html
  libs/shared/ui/storybook/src/lib/atomic/foundations/color.stories.ts
  tailwind.config.js
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT, @kauppfbi_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(deps): bump @altack/ngx-onetrust from 0.0.5 to 1.3.0 (#3853) (#3872)
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): add price simulation functionality (GQUOTE-1041) (#3870)
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.module.ts
  apps/gq/src/app/shared/ag-grid/constants/column-fields.enum.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.spec.ts
  apps/gq/src/app/shared/cell-renderer/edit-cells/edit-cell/edit-cell.component.ts
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.html
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.spec.ts
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.ts
  apps/gq/src/app/shared/components/editing-modal/kpi-value.model.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.spec.ts
  apps/gq/src/app/shared/models/keyboard.enum.ts
  apps/gq/src/app/shared/services/helper-service/helper-service.service.spec.ts
  apps/gq/src/app/shared/services/helper-service/helper-service.service.ts
  apps/gq/src/app/shared/services/price-service/price.service.spec.ts
  apps/gq/src/app/shared/services/price-service/price.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

refactor(cdba): use shared "subheader" component in CDBA (DSCDA-2823) (#3801)
  apps/cdba/src/app/compare/compare.component.html
  apps/cdba/src/app/compare/compare.component.spec.ts
  apps/cdba/src/app/compare/compare.module.ts
  apps/cdba/src/app/detail/detail.component.html
  apps/cdba/src/app/detail/detail.component.spec.ts
  apps/cdba/src/app/detail/detail.module.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.component.html
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.component.spec.ts
  apps/cdba/src/app/portfolio-analysis/portfolio-analysis.module.ts
  apps/cdba/src/app/results/results.component.html
  apps/cdba/src/app/results/results.component.spec.ts
  apps/cdba/src/app/results/results.module.ts
  apps/cdba/src/app/shared/components/index.ts
  apps/cdba/src/app/shared/components/page-header/page-header.component.html
  apps/cdba/src/app/shared/components/page-header/page-header.component.spec.ts
  apps/cdba/src/app/shared/components/page-header/page-header.component.ts
  apps/cdba/src/app/shared/components/page-header/page-header.module.ts
  apps/cdba/src/app/shared/directives/back-button/back-button.directive.spec.ts
  apps/cdba/src/app/shared/directives/back-button/back-button.directive.ts
  apps/cdba/src/app/shared/directives/back-button/back-button.module.ts
  apps/cdba/src/app/shared/directives/back-button/index.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(workspace): update commitlint configuration (#3865)
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
  renovate.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(storybook): advance input story (#3874)
  libs/shared/ui/storybook/src/lib/atomic/atoms/input.stories.ts
  libs/shared/ui/styles/src/lib/theme-overrides.scss
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(gq): add navigation bar for quick navigation between quotation items (GQUOTE-1060) (#3876)
  apps/gq/src/app/detail-view/detail-view/detail-view-navigation-bar/detail-view-navigation-bar.component.html
  apps/gq/src/app/detail-view/detail-view/detail-view-navigation-bar/detail-view-navigation-bar.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/detail-view-navigation-bar/detail-view-navigation-bar.component.ts
  apps/gq/src/app/detail-view/detail-view/detail-view-navigation-bar/detail-view-navigation-bar.module.ts
  apps/gq/src/app/detail-view/detail-view/detail-view.component.html
  apps/gq/src/app/detail-view/detail-view/detail-view.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/detail-view.component.ts
  apps/gq/src/app/detail-view/detail-view/detail-view.module.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.html
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.spec.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/shared/services/ag-grid-state.service/ag-grid-state.service.spec.ts
  apps/gq/src/app/shared/services/ag-grid-state.service/ag-grid-state.service.ts
  apps/gq/tailwind.config.js
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(ia): adopt employee logic (IA-397) (#3790)
  apps/ia/src/app/organizational-view/organizational-view.service.spec.ts
  apps/ia/src/app/organizational-view/organizational-view.service.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.spec.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.spec.ts
  apps/ia/src/app/shared/models/employee/employee.model.ts
  apps/ia/src/app/shared/models/position.model.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

chore: use paging for autocomplete, at least partially
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.service.ts
  apps/ia/src/app/attrition-analytics/feature-importance/feature-importance.component.ts
  apps/ia/src/app/attrition-analytics/models/index.ts
  apps/ia/src/app/attrition-analytics/store/actions/attrition-analytics.action.ts
  apps/ia/src/app/attrition-analytics/store/index.ts
  apps/ia/src/app/filter-section/filter.service.ts
  apps/ia/src/app/filter-section/models/auto-complete-response.model.ts
  apps/ia/src/app/shared/models/index.ts
  apps/ia/src/app/shared/models/pageable/index.ts
  apps/ia/src/app/shared/models/pageable/pageable.model.ts
  apps/ia/src/app/shared/models/pageable/slice.model.ts
  apps/ia/src/app/shared/models/pageable/sort-direction.enum.ts
  apps/ia/src/app/shared/models/pageable/sort.model.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT
