Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT, @konramic_SGGIT, @yankordo_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

chore(shared-utils-azure-auth): 🚀 release version 1.2.0 [CI SKIP]
  libs/shared/utils/azure-auth/CHANGELOG.md
  libs/shared/utils/azure-auth/package.json
Owners: none

chore(shared-ui-picture-card): 🚀 release version 1.2.0 [CI SKIP]
  libs/shared/ui/picture-card/CHANGELOG.md
  libs/shared/ui/picture-card/package.json
Owners: none

chore(shared-ui-report): 🚀 release version 1.2.0 [CI SKIP]
  libs/shared/ui/report/CHANGELOG.md
  libs/shared/ui/report/package.json
Owners: none

chore(shared-ui-storybook): 🚀 release version 2.0.0 [CI SKIP]
  libs/shared/ui/storybook/CHANGELOG.md
  libs/shared/ui/storybook/package.json
Owners: none

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

feat(ea): pdf report improvements and medias link in report (#5864)
  apps/ea/src/app/core/services/pdfreport/components/header.ts
  apps/ea/src/app/core/services/pdfreport/components/input-table.ts
  apps/ea/src/app/core/services/pdfreport/data.ts
  apps/ea/src/app/core/services/pdfreport/pdf-document-settings.service.spec.ts
  apps/ea/src/app/core/services/pdfreport/pdf-document-settings.service.ts
  apps/ea/src/app/core/services/pdfreport/pdf-report.ts
  apps/ea/src/app/core/services/pdfreport/util.ts
  apps/ea/src/app/core/store/selectors/calculation-result/calculation-result-report.selector.ts
  apps/ea/src/assets/i18n/de.json
  apps/ea/src/assets/i18n/en.json
  apps/ea/src/assets/i18n/es.json
  apps/ea/src/assets/i18n/fr.json
  apps/ea/src/assets/i18n/it.json
  apps/ea/src/assets/i18n/zh.json
  apps/ea/src/assets/i18n/zh_TW.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(ga): change action on contact card for schmeckthal gruppe partner (#5866)
  apps/ga/src/app/home/components/homepage-card/homepage-card.component.html
  apps/ga/src/app/home/components/homepage-card/homepage-card.component.spec.ts
  apps/ga/src/app/home/components/homepage-card/homepage-card.component.ts
  apps/ga/src/app/home/components/homepage-card/homepage-card.module.ts
  apps/ga/src/app/home/components/homepage-card/index.ts
  apps/ga/src/app/home/constants/homepage-card.constants.ts
  apps/ga/src/app/home/constants/index.ts
  apps/ga/src/app/home/home.component.html
  apps/ga/src/app/home/home.component.spec.ts
  apps/ga/src/app/home/home.component.ts
  apps/ga/src/app/home/home.module.ts
  apps/ga/src/app/home/models/homepage-card.model.ts
  apps/ga/src/app/home/services/__snapshots__/home-cards.service.spec.ts.snap
  apps/ga/src/app/home/services/home-cards-tracking-ids.enum.ts
  apps/ga/src/app/home/services/home-cards.service.spec.ts
  apps/ga/src/app/home/services/home-cards.service.ts
  apps/ga/src/testing/mocks/models/homepage-card.mock.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(cdba): fixes for found styling issues (#5867)
  apps/cdba/src/app/compare/details-tab/material-card/material-card.component.html
  apps/cdba/src/app/shared/components/beta-feature/beta-feature-settings/beta-feature-settings.component.html
  apps/cdba/src/app/shared/components/beta-feature/beta-feature.module.ts
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.component.html
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.component.ts
  apps/cdba/src/app/shared/components/tabs-header/tabs-header.scss
Owners: @herpisef_SGGIT, @soehnpsc_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT

feat(loading-spinner): migrate to mdc components (#5833)
  libs/shared/ui/loading-spinner/src/lib/loading-spinner.component.spec.ts
  libs/shared/ui/loading-spinner/src/lib/loading-spinner.module.ts
Owners: none

feat(transloco): migrate to mdc components (#5868)
  libs/shared/utils/transloco/components/src/language-select/language-select.component.html
  libs/shared/utils/transloco/components/src/language-select/language-select.component.spec.ts
  libs/shared/utils/transloco/components/src/language-select/language-select.module.ts
  libs/shared/utils/transloco/components/src/locale-select/locale-select.component.html
  libs/shared/utils/transloco/components/src/locale-select/locale-select.component.spec.ts
  libs/shared/utils/transloco/components/src/locale-select/locale-select.module.ts
Owners: none

feat(breadcrumbs): migrate to mdc components (#5832)
  libs/shared/ui/breadcrumbs/src/lib/breadcrumbs.module.ts
Owners: none

feat(app-shell): migrate to mdc components (#5834)
  libs/shared/ui/app-shell/src/lib/app-shell.module.ts
  libs/shared/ui/app-shell/src/lib/components/app-shell/app-shell.component.spec.ts
Owners: none

refactor(ia): fix circular dependency (IA-1161) (#5859)
  apps/ia/src/app/reasons-and-counter-measures/store/selectors/reasons-and-counter-measures.selector.spec.ts
  apps/ia/src/app/reasons-and-counter-measures/store/selectors/reasons-and-counter-measures.selector.ts
  apps/ia/src/app/reasons-and-counter-measures/store/selectors/reasons-and-counter-measures.selector.utils.spec.ts
  apps/ia/src/app/reasons-and-counter-measures/store/selectors/reasons-and-counter-measures.selector.utils.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT, @poltokzy_SGGIT, @grzegdmi_SGGIT

feat(gq): enable feature toggle for rfq data (#5869)
  apps/gq/src/feature-config/default-config.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

chore(gq): 🚀 release version 4.4.0 [CI SKIP]
  apps/gq/CHANGELOG.md
  apps/gq/package.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
Owners: none

feat(gq): add created by to quotation search results (GQUOTE-3588) (#5865)
  apps/gq/src/app/shared/components/autocomplete-input/filter-names.enum.ts
  apps/gq/src/app/shared/components/global-search-bar/global-search-results-item/global-search-results-item.component.html
  apps/gq/src/app/shared/models/quotation/quotation-search-result.model.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/models/quotation-search-result.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(gq): add word break for approval workflow started comments (GQUOTE-3558) (#5863)
  apps/gq/src/app/process-case-view/tabs/overview-tab/components/general-information/general-information.component.html
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

fix(gq): correct translations (#5862)
  apps/gq/src/app/shared/ag-grid/custom-status-bar/export-to-excel-button/export-to-excel-button.component.ts
  apps/gq/src/assets/i18n/case-view/de.json
  apps/gq/src/assets/i18n/case-view/en.json
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/assets/i18n/feature-toggle-view/de.json
  apps/gq/src/assets/i18n/feature-toggle-view/en.json
  apps/gq/src/assets/i18n/process-case-view/de.json
  apps/gq/src/assets/i18n/process-case-view/en.json
  apps/gq/src/assets/i18n/user-settings/de.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(ga): add affiliate partner codes to the external links (UFTABI-6920) (#5870)
  apps/ga/src/app/features/grease-calculation/bearing-selection/bearing-selection.component.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-parameters/calculation-parameters.component.html
  apps/ga/src/app/features/grease-calculation/calculation-parameters/calculation-parameters.component.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/calculation-result.component.html
  apps/ga/src/app/features/grease-calculation/calculation-result/calculation-result.component.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-concept1-detail/grease-report-concept1-detail.component.html
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-concept1-detail/grease-report-concept1-detail.component.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-result/grease-report-result.component.html
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-shop-buttons/grease-report-shop-buttons.component.spec.ts
  apps/ga/src/app/features/grease-calculation/calculation-result/components/grease-report-shop-buttons/grease-report-shop-buttons.component.ts
  apps/ga/src/app/home/services/home-cards.service.spec.ts
  apps/ga/src/app/home/services/home-cards.service.ts
  apps/ga/src/app/shared/components/medias-button/medias-button.component.spec.ts
  apps/ga/src/app/shared/components/medias-button/medias-button.component.ts
  apps/ga/src/app/shared/models/settings/partner-version.model.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

fix(cdba): fixed filters not being sent to BE (#5872)
  apps/cdba/src/app/core/store/reducers/search/models/filter-item-range.model.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.spec.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.html
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.ts
Owners: @herpisef_SGGIT, @soehnpsc_SGGIT, @poltokzy_SGGIT, @przybmci_SGGIT

refactor(gq): remove feature toggle for rfq update (#5871)
  apps/gq/src/app/core/store/rfq-data/rfq-data.effects.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/rfq-position-details/rfq-position-details.component.html
  apps/gq/src/feature-config/default-config.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @poltokzy_SGGIT, @schlesni_SGGIT, @panesrbe_SGGIT, @szwajdmi_SGGIT

feat(legal-pages): add option to override imprint data (#5873)
  libs/shared/ui/legal-pages/src/index.ts
  libs/shared/ui/legal-pages/src/lib/legal.component.spec.ts
  libs/shared/ui/legal-pages/src/lib/legal.component.ts
  libs/shared/ui/legal-pages/src/lib/legal.model.ts
Owners: none

feat(ea): add static safety to preview (#5877)
  apps/ea/src/app/calculation/calculation-result-preview-item/calculation-result-preview-item.component.html
  apps/ea/src/app/calculation/calculation-result-preview-item/calculation-result-preview-item.component.spec.ts
  apps/ea/src/app/calculation/calculation-result-preview/calculation-result-preview.html
  apps/ea/src/app/calculation/calculation-result-preview/calculation-result-preview.spec.ts
  apps/ea/src/app/calculation/calculation-result-report/calculation-result-report.component.spec.ts
  apps/ea/src/app/calculation/overrolling-frequencies-preview-iterm/overrolling-frequencies-preview-item.component.html
  apps/ea/src/app/calculation/overrolling-frequencies-preview-iterm/overrolling-frequencies-preview-item.component.ts
  apps/ea/src/app/core/core.module.ts
  apps/ea/src/app/core/store/selectors/calculation-result/__snapshots__/calculation-result-preview.selector.spec.ts.snap
  apps/ea/src/app/core/store/selectors/calculation-result/calculation-result-preview.selector.ts
  apps/ea/src/assets/i18n/de.json
  apps/ea/src/assets/i18n/en.json
  apps/ea/src/assets/i18n/es.json
  apps/ea/src/assets/i18n/fr.json
  apps/ea/src/assets/i18n/it.json
  apps/ea/src/assets/i18n/zh.json
  apps/ea/src/assets/i18n/zh_TW.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

feat(ga): add schmeckthal legal pages (UFTABI-7035) (#5874)
  apps/ga/src/app/app.module.ts
  apps/ga/src/app/core/core.module.ts
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/partner-version-styles/schmeckthal-gruppe.scss
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @konramic_SGGIT, @grzegdmi_SGGIT, @vogelmor_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository

- @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

############

### Apps

############

# CDBA

apps/cdba @herpisef_SGGIT @soehnpsc_SGGIT @poltokzy_SGGIT @przybmci_SGGIT

# SEDO

apps/sedo @soehnpsc_SGGIT @schlesni_SGGIT

# GQ

apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @poltokzy_SGGIT @schlesni_SGGIT @panesrbe_SGGIT @szwajdmi_SGGIT

# MAC

apps/mac @berndcri_SGGIT @krausrbe_SGGIT @konramic_SGGIT @yankordo_SGGIT

# IA

apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT @poltokzy_SGGIT @grzegdmi_SGGIT

# MM

apps/mm @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# GA

apps/ga @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT

# EA

apps/ea @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
apps/ea-e2e @krausrbe_SGGIT @berndcri_SGGIT @konramic_SGGIT @grzegdmi_SGGIT @vogelmor_SGGIT
