Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT, @PELZESEN_SGGIT, @mailphilipriecksde_SGGIT, @tgoetzcissolutionseu_SGGIT, @geissbnj_SGGIT, @gerlitm_SGGIT, @yuqiugegmailcom_SGGIT, @przybmci_SGGIT

fix(mm): fix mobile layout (#3555)
  apps/mm/src/app/app.component.html
Owners: @birketho_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT

fix(ga): prevent invalid parameters upon navigating back (UFTABI-5310) (#3549)
  apps/ga/src/app/parameters/parameters.component.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

fix(ga): adjust json report table padding (UFTABI-5311) (#3550)
  libs/shared/ui/report/src/lib/report.component.html
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @birketho_SGGIT, @soehnpsc_SGGIT

chore(goldwind): set qa environment file to prod (#3559)
  apps/goldwind/project.json
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

chore(goldwind): remove zombie code (#3560)
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.module.ts
  apps/goldwind/src/app/core/store/effects/index.ts
  apps/goldwind/src/app/core/store/effects/load-sense/load-sense.effects.spec.ts
  apps/goldwind/src/app/core/store/effects/load-sense/load-sense.effects.ts
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

fix(goldwind): add error handling for partials returns (#3561)
  apps/goldwind/src/app/core/store/effects/load-distribution/load-distribution.effects.ts
  apps/goldwind/src/app/core/store/selectors/load-distribution/polar-series-generator.class.ts
  apps/goldwind/src/app/shared/chart/data-to-chart-series-converter.ts
Owners: @krausrbe_SGGIT, @geissbnj_SGGIT, @PELZESEN_SGGIT, @gerlitm_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

# Jenkinsfile
Jenkinsfile @kauppfbi_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

# package.json and package-lock.json for dependency updates
package.json @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT
package-lock.json @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @birketho_SGGIT @soehnpsc_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @mailphilipriecksde_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @mailphilipriecksde_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# GOLDWIND
apps/goldwind @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT
apps/goldwind-e2e @krausrbe_SGGIT @geissbnj_SGGIT @PELZESEN_SGGIT @gerlitm_SGGIT

# SEDO
apps/sedo @birketho_SGGIT @soehnpsc_SGGIT @PELZESEN_SGGIT
apps/sedo-e2e @birketho_SGGIT @soehnpsc_SGGIT @PELZESEN_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @yuqiugegmailcom_SGGIT @kauppfbi_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @yuqiugegmailcom_SGGIT @kauppfbi_SGGIT

# MAC
apps/mac @berndcri_SGGIT @birketho_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @birketho_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @birketho_SGGIT @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @birketho_SGGIT @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT

############
### Libs ###
############
