Repository tejas7535/storybookM3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT, @PELZESEN_SGGIT, @spieksef_SGGIT, @meiswjn_SGGIT, @ortuzfan_SGGIT, @kemmemha_SGGIT, @bauerfla_SGGIT, @fischaxe_SGGIT, @leviptr_SGGIT, @schlunls_SGGIT, @przybmci_SGGIT

chore: fix unit tests
  apps/ia/src/app/attrition-analytics/attrition-analytics.component.spec.ts
  apps/ia/src/app/attrition-analytics/attrition-analytics.service.spec.ts
  apps/ia/src/app/attrition-analytics/store/effects/attrition-analytics.effects.spec.ts
  apps/ia/src/app/attrition-analytics/store/index.spec.ts
  apps/ia/src/app/attrition-analytics/store/selectors/attrition-analytics.selector.spec.factory.ts
  apps/ia/src/app/core/store/actions/filter/filter.action.spec.ts
  apps/ia/src/app/core/store/effects/filter/filter.effects.spec.ts
  apps/ia/src/app/core/store/effects/filter/filter.effects.ts
  apps/ia/src/app/core/store/reducers/filter/filter.reducer.spec.ts
  apps/ia/src/app/core/store/selectors/filter/filter.selector.spec.ts
  apps/ia/src/app/filter-section/expanded-filters/expanded-filters.component.spec.ts
  apps/ia/src/app/filter-section/filter-section.component.spec.ts
  apps/ia/src/app/filter-section/filter.service.spec.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.spec.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.spec.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.spec.ts
  apps/ia/src/app/shared/autocomplete-input/autocomplete-input.component.spec.ts
  apps/ia/src/app/shared/autocomplete-input/validation/input-error-state-matcher.spec.ts
  apps/ia/src/app/shared/autocomplete-input/validation/input-validator.directive.spec.ts
  apps/ia/src/app/shared/autocomplete-input/validation/validation-utils.spec.ts
  apps/ia/src/app/shared/autocomplete-input/validation/validation-utils.ts
  apps/ia/src/app/user-settings/store/actions/user-settings.action.spec.ts
  apps/ia/src/app/user-settings/store/effects/user-settings.effects.spec.ts
  apps/ia/src/app/user-settings/store/index.spec.ts
  apps/ia/src/app/user-settings/store/selectors/user-settings.selector.spec.ts
  apps/ia/src/app/user-settings/user-settings-dialog/user-settings-dialog.component.spec.ts
  apps/ia/src/app/user-settings/user-settings.component.spec.ts
  apps/ia/src/app/user-settings/user-settings.service.spec.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

chore: consider feedback
  apps/ia/src/app/core/store/reducers/filter/filter.reducer.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

feat(ia): use autocomplete for org units (IA-532)
  apps/ia/src/app/core/store/effects/filter/filter.effects.ts
  apps/ia/src/app/core/store/reducers/filter/filter.reducer.ts
  apps/ia/src/app/filter-section/filter-service.service.ts
  apps/ia/src/app/filter-section/models/auto-complete-response.model.ts
  apps/ia/src/app/shared/date-input/date-input.component.ts
  apps/ia/src/app/shared/http/params-creator.service.ts
  apps/ia/src/app/shared/utils/utilities.ts
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

chore: change complete
  apps/ia/src/app/core/store/actions/filter/filter.action.ts
  apps/ia/src/app/core/store/effects/filter/filter.effects.ts
  apps/ia/src/app/core/store/reducers/filter/filter.reducer.ts
  apps/ia/src/app/core/store/selectors/filter/filter.selector.ts
  apps/ia/src/app/filter-section/expanded-filters/expanded-filters.component.html
  apps/ia/src/app/filter-section/expanded-filters/expanded-filters.component.ts
  apps/ia/src/app/filter-section/filter-section.component.html
  apps/ia/src/app/filter-section/filter-section.component.ts
  apps/ia/src/app/filter-section/filter.service.spec.ts
  apps/ia/src/app/filter-section/filter.service.ts
  apps/ia/src/app/filter-section/models/auto-complete-request.model.ts
  apps/ia/src/app/filter-section/models/index.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.ts
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.html
  apps/ia/src/app/reasons-and-counter-measures/reasons-for-leaving/reasons-for-leaving.component.ts
  apps/ia/src/app/shared/autocomplete-input/autocomplete-input.component.html
  apps/ia/src/app/shared/autocomplete-input/autocomplete-input.component.ts
  apps/ia/src/app/shared/autocomplete-input/autocomplete-input.module.ts
  apps/ia/src/app/shared/autocomplete-input/validation/input-error-state-matcher.ts
  apps/ia/src/app/shared/autocomplete-input/validation/input-validator.directive.ts
  apps/ia/src/app/shared/autocomplete-input/validation/validation-utils.ts
  apps/ia/src/app/shared/filter/filter.component.html
  apps/ia/src/app/shared/filter/filter.component.ts
  apps/ia/src/app/shared/models/filter/filter-key.enum.ts
  apps/ia/src/app/shared/models/filter/selected-filter.model.ts
  apps/ia/src/app/user-settings/models/user-settings.model.ts
  apps/ia/src/app/user-settings/store/effects/user-settings.effects.ts
  apps/ia/src/app/user-settings/store/selectors/user-settings.selector.ts
  apps/ia/src/app/user-settings/user-settings-dialog/user-settings-dialog.component.html
  apps/ia/src/app/user-settings/user-settings-dialog/user-settings-dialog.component.ts
  apps/ia/src/app/user-settings/user-settings.component.html
  apps/ia/src/app/user-settings/user-settings.component.ts
  apps/ia/src/assets/i18n/en.json
  apps/ia/src/assets/i18n/user-settings/en.json
Owners: @herpisef_SGGIT, @przybmci_SGGIT, @krausrbe_SGGIT

feat(gq): responsive design and style adjustments for margin by volume graph (GQUOTE-684) (#3883)
  apps/gq/src/app/detail-view/transaction-view/transaction-view.component.html
  apps/gq/src/app/detail-view/transaction-view/transaction-view.component.ts
  apps/gq/src/app/detail-view/transaction-view/transaction-view.module.ts
  apps/gq/src/app/detail-view/transaction-view/transparency-graph/echarts/chart.config.service.ts
  apps/gq/src/app/detail-view/transaction-view/transparency-graph/echarts/chart.config.ts
  apps/gq/src/app/detail-view/transaction-view/transparency-graph/transparency-graph.component.html
  apps/gq/src/assets/i18n/transaction-view/en.json
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(gq): fixed a bug with navigation bar not updating when deleting items (GQUOTE-1060) (#3882)
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.html
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.spec.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(ga): add inital bearing selection to store (UFTABI-5529) (#3866)
  apps/ga/src/app/bearing/bearing.component.html
  apps/ga/src/app/bearing/bearing.component.spec.ts
  apps/ga/src/app/bearing/bearing.component.ts
  apps/ga/src/app/bearing/bearing.module.ts
  apps/ga/src/app/core/services/rest/rest.service.spec.ts
  apps/ga/src/app/core/services/rest/rest.service.ts
  apps/ga/src/app/core/store/actions/bearing/bearing.actions.spec.ts
  apps/ga/src/app/core/store/actions/bearing/bearing.actions.ts
  apps/ga/src/app/core/store/effects/bearing/bearing.effects.spec.ts
  apps/ga/src/app/core/store/effects/bearing/bearing.effects.ts
  apps/ga/src/app/core/store/reducers/bearing/bearing.reducer.spec.ts
  apps/ga/src/app/core/store/reducers/bearing/bearing.reducer.ts
  apps/ga/src/app/core/store/selectors/bearing/bearing.selector.spec.ts
  apps/ga/src/app/core/store/selectors/bearing/bearing.selector.ts
  apps/ga/src/app/shared/constants/bearing-types.ts
  apps/ga/src/app/shared/constants/index.ts
  apps/ga/src/app/shared/models/bearing/bearing-types.model.ts
  apps/ga/src/app/shared/models/bearing/extended-search-parameters.model.ts
  apps/ga/src/app/shared/models/bearing/index.ts
  apps/ga/src/assets/i18n/de.json
  apps/ga/src/assets/i18n/en.json
Owners: @krausrbe_SGGIT, @berndcri_SGGIT

fix(workspace): re-activate eslint rule (#3599) (#3873)
  .eslintrc.json
  apps/shared-ui-storybook-e2e/src/support/commands.ts
  libs/shared/ui/breadcrumbs/src/index.ts
  libs/shared/ui/dropdown-input/src/lib/dropdown-input.component.ts
  libs/shared/ui/report/src/lib/grease/grease-report.service.spec.ts
  libs/shared/ui/roles-and-rights/src/lib/components/roles/roles.component.ts
  libs/shared/ui/roles-and-rights/src/lib/utils/role-data.utils.spec.ts
  libs/shared/ui/search-autocomplete/src/lib/search-autocomplete/search-autocomplete.component.ts
  libs/shared/utils/transloco/components/src/locale-select/locale-select.component.ts
  libs/shared/utils/transloco/components/src/locale-select/locale-select.module.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(gq): fixed price simulation bug (GQUOTE-1248) (#3900)
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.spec.ts
  apps/gq/src/app/shared/components/editing-modal/editing-modal.component.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

fix(gq): fix cache issues (GQUOTE-1207) (#3892)
  apps/gq/proxy.conf.js
  apps/gq/src/app/app.component.ts
  apps/gq/src/index.html
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

chore(assets): 🚀 1.12.1 [ci skip]
  libs/shared/assets/CHANGELOG.md
  libs/shared/assets/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(cypress-utils): 🚀 1.13.1 [ci skip]
  libs/shared/cypress-utils/CHANGELOG.md
  libs/shared/cypress-utils/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(app-shell): 🚀 0.0.7 [ci skip]
  libs/shared/ui/app-shell/CHANGELOG.md
  libs/shared/ui/app-shell/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(banner): 🚀 3.2.0 [ci skip]
  libs/shared/ui/banner/CHANGELOG.md
  libs/shared/ui/banner/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(empty-states): 🚀 2.2.0 [ci skip]
  libs/shared/ui/empty-states/CHANGELOG.md
  libs/shared/ui/empty-states/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(icons): 🚀 2.1.1 [ci skip]
  libs/shared/ui/icons/CHANGELOG.md
  libs/shared/ui/icons/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(label-value): 🚀 0.0.3 [ci skip]
  libs/shared/ui/label-value/CHANGELOG.md
  libs/shared/ui/label-value/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(roles-and-rights): 🚀 0.0.3 [ci skip]
  libs/shared/ui/roles-and-rights/CHANGELOG.md
  libs/shared/ui/roles-and-rights/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(styles): 🚀 1.5.0 [ci skip]
  libs/shared/ui/styles/CHANGELOG.md
  libs/shared/ui/styles/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(application-insights): 🚀 0.1.4 [ci skip]
  libs/shared/utils/application-insights/CHANGELOG.md
  libs/shared/utils/application-insights/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(auth): 🚀 0.1.4 [ci skip]
  libs/shared/utils/azure-auth/CHANGELOG.md
  libs/shared/utils/azure-auth/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(transloco): 🚀 3.2.0 [ci skip]
  libs/shared/utils/transloco/CHANGELOG.md
  libs/shared/utils/transloco/package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  libs/shared/ui/breadcrumbs/package.json
  libs/shared/ui/dropdown-input/package.json
  libs/shared/ui/legal-pages/package.json
  libs/shared/ui/loading-spinner/package.json
  libs/shared/ui/picture-card/package.json
  libs/shared/ui/report/package.json
  libs/shared/ui/search-autocomplete/package.json
  libs/shared/ui/share-button/package.json
  libs/shared/ui/stepper/package.json
  libs/shared/ui/subheader/package.json
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

fix(mac): correct rating column (#3906)
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/column-definitions.ts
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

feat(cdba): introduce table row select radio button (DSCDA-2900)
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.spec.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.module.ts
  apps/cdba/src/app/shared/components/calculations-table/config/column-definitions.service.spec.ts
  apps/cdba/src/app/shared/components/calculations-table/config/column-definitions.service.ts
  apps/cdba/src/app/shared/components/calculations-table/config/framework-components.ts
  apps/cdba/src/app/shared/components/table/radio-button-cell-render/radio-button-cell-render.component.html
  apps/cdba/src/app/shared/components/table/radio-button-cell-render/radio-button-cell-render.component.scss
  apps/cdba/src/app/shared/components/table/radio-button-cell-render/radio-button-cell-render.component.spec.ts
  apps/cdba/src/app/shared/components/table/radio-button-cell-render/radio-button-cell-render.component.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

refactor(cdba): remove obsolete column resizing from calculations table
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.html
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.spec.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

refactor(cdba): rename resizable width spec file
  apps/cdba/src/app/shared/directives/resize/resizable-width.directive.spec.ts
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(cdba): adjust bom sidebar (DSCDA-2900)
  apps/cdba/src/app/shared/components/bom-chart/bom-chart.component.html
  apps/cdba/src/app/shared/components/bom-chart/bom-chart.component.spec.ts
  apps/cdba/src/app/shared/components/bom-chart/bom-chart.component.ts
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.html
  apps/cdba/src/app/shared/components/bom-legend/bom-legend.component.html
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.html
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.html
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.module.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
  apps/cdba/src/styles.scss
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(cdba): implement resizable sidebar (DSCDA-2900)
  apps/cdba/src/app/shared/components/bom-chart/bom-chart.component.html
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.html
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.scss
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.spec.ts
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.ts
  apps/cdba/src/app/shared/components/bom-container/bom-container.module.ts
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.html
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.scss
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.spec.ts
  apps/cdba/src/app/shared/components/bom-overlay/bom-overlay.component.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.spec.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.ts
  apps/cdba/src/app/shared/components/calculations-table/config/column-definitions.service.ts
  apps/cdba/src/app/shared/directives/resize/index.ts
  apps/cdba/src/app/shared/directives/resize/resizable-width.directive.ts
  apps/cdba/src/app/shared/directives/resize/resize-width.directive.spec.ts
  apps/cdba/src/app/shared/directives/resize/resize.module.ts
  apps/cdba/src/assets/images/resizable_handle_vertical.png
  apps/cdba/src/styles.scss
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

refactor(cdba): add separate class for tree-view tables
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.html
  apps/cdba/src/styles.scss
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

feat(empty-states): implement 404 easter egg (#3891)
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.component.html
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.component.scss
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.component.ts
  libs/shared/ui/empty-states/src/lib/page-not-found/page-not-found.module.ts
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

feat(mac): change default cols in msd (#3914)
  apps/mac/src/app/feature/materials-supplier-database/main-table/table-config/column-definitions.ts
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

fix(workspace): add docs as valid commit scope (#3916)
  commitlint.config.js
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(mac): 🚀 0.4.0 [ci skip]
  apps/mac/CHANGELOG.md
  apps/mac/package.json
Owners: @berndcri_SGGIT, @PELZESEN_SGGIT, @krausrbe_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

refactor(gq): rename "customer classification" to "net sales classification" (GQUOTE-1260) (#3924)
  apps/gq/src/app/core/store/reducers/transactions/models/comparable-linked-transaction.model.ts
  apps/gq/src/app/customer-view/customer-information/basic-customer/basic-customer.component.html
  apps/gq/src/app/detail-view/transaction-view/comparable-transactions/config/column-def.service.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.ts
  apps/gq/src/app/shared/header/customer-header/customer-header.component.html
  apps/gq/src/app/shared/models/customer/abc-classification.enum.ts
  apps/gq/src/app/shared/models/customer/customer.model.ts
  apps/gq/src/app/shared/models/customer/index.ts
  apps/gq/src/app/shared/models/customer/net-sales-classification.ts
  apps/gq/src/assets/i18n/customer-view/de.json
  apps/gq/src/assets/i18n/customer-view/en.json
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/assets/i18n/transaction-view/de.json
  apps/gq/src/assets/i18n/transaction-view/en.json
  apps/gq/src/testing/mocks/models/comparable-linked-transaction.mock.ts
  apps/gq/src/testing/mocks/models/customer.mock.ts
  apps/gq/src/testing/mocks/models/extended-comparable-linked-transaction.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(gq): add reason for rejection text (GQUOTE-1034) (#3931)
  apps/gq/src/app/shared/ag-grid/services/column-def.service.ts
  apps/gq/src/app/shared/models/quotation-detail/last-offer-detail.model.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/assets/i18n/transaction-view/en.json
  apps/gq/src/testing/mocks/models/last-offer-detail.mock.ts
Owners: @soehnpsc_SGGIT, @herpisef_SGGIT, @kauppfbi_SGGIT, @schlunls_SGGIT

feat(ga): add most important custom event trackers (UFTABI-5298) (#3923)
  apps/ga/src/app/app.component.spec.ts
  apps/ga/src/app/app.component.ts
  apps/ga/src/app/core/store/effects/result/result.effects.spec.ts
  apps/ga/src/app/core/store/effects/result/result.effects.ts
  apps/ga/src/app/home/home.component.html
  apps/ga/src/app/home/home.component.spec.ts
  apps/ga/src/app/home/home.component.ts
  apps/ga/src/app/shared/constants/index.ts
  apps/ga/src/app/shared/constants/tracking-names.ts
  libs/shared/ui/report/src/lib/grease/grease-report.service.spec.ts
  libs/shared/ui/report/src/lib/grease/grease-report.service.ts
  libs/shared/ui/report/src/lib/models/index.ts
  libs/shared/ui/report/src/lib/models/subordinate.model.ts
  libs/shared/ui/report/src/lib/models/tracking-names.ts
  libs/shared/ui/report/src/lib/report.component.html
  libs/shared/ui/report/src/lib/report.component.spec.ts
  libs/shared/ui/report/src/lib/report.component.ts
Owners: @krausrbe_SGGIT, @berndcri_SGGIT, @kauppfbi_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

chore(cdba): 🚀 2.12.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi_SGGIT, @tgoetzcissolutionseu_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi_SGGIT, @krausrbe_SGGIT, @berndcri_SGGIT, @herpisef_SGGIT, @soehnpsc_SGGIT, @tgoetzcissolutionseu_SGGIT

.github/CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi_SGGIT @krausrbe_SGGIT @berndcri_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT @tgoetzcissolutionseu_SGGIT

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @ortuzfan_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT
apps/helloworld-azure-e2e @kauppfbi_SGGIT @herpisef_SGGIT @PELZESEN_SGGIT @spieksef_SGGIT @meiswjn_SGGIT @ortuzfan_SGGIT @kemmemha_SGGIT @bauerfla_SGGIT @fischaxe_SGGIT @leviptr_SGGIT

# CDBA
apps/cdba @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT
apps/cdba-e2e @kauppfbi_SGGIT @tgoetzcissolutionseu_SGGIT @herpisef_SGGIT @soehnpsc_SGGIT

# SEDO
apps/sedo @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT
apps/sedo-e2e @soehnpsc_SGGIT @PELZESEN_SGGIT @kauppfbi_SGGIT

# GQ
apps/gq @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT @schlunls_SGGIT
apps/gq-e2e @soehnpsc_SGGIT @herpisef_SGGIT @kauppfbi_SGGIT @schlunls_SGGIT

# MAC
apps/mac @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT
apps/mac-e2e @berndcri_SGGIT @PELZESEN_SGGIT @krausrbe_SGGIT

# IA
apps/ia @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT
apps/ia-e2e @herpisef_SGGIT @przybmci_SGGIT @krausrbe_SGGIT

# MM
apps/mm @krausrbe_SGGIT @berndcri_SGGIT
apps/mm-e2e @krausrbe_SGGIT @berndcri_SGGIT

# GA
apps/ga @krausrbe_SGGIT @berndcri_SGGIT
apps/ga-e2e @krausrbe_SGGIT @berndcri_SGGIT
