Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @pelzesen, @andrafnk, @saragjri, @birketho, @soehnpsc, @juskibry

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef @pelzesen
apps/helloworld-azure-e2e @kauppfbi @herpisef @pelzesen

# LTP
apps/ltp @krausrbe @berndcri @pelzesen
apps/ltp-e2e @krausrbe @berndcri @pelzesen

# CDBA
apps/cdba @kauppfbi @herpisef @andrafnk
apps/cdba-e2e @kauppfbi @herpisef @andrafnk

# GOLDWIND
apps/goldwind @krausrbe @saragjri
apps/goldwind-e2e @krausrbe @saragjri

# SEDO
apps/sedo @birketho @soehnpsc @pelzesen
apps/sedo-e2e @birketho @soehnpsc @pelzesen
 
# GQ
apps/gq @andrafnk @soehnpsc @herpisef 
apps/gq-e2e @andrafnk @soehnpsc @herpisef

# MAC
apps/mac @berndcri @birketho @pelzesen
apps/mac-e2e @berndcri @birketho @pelzesen

# IA
apps/ia @herpisef 
apps/ia-e2e @herpisef 

# MM
apps/mm @juskibry @birketho @krausrbe @berndcri 
apps/mm-e2e @juskibry @birketho @krausrbe @berndcri  

############
### Libs ###
############

chore(deps): update eslint to v4.22.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(cdba): 🚀 1.18.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi, @herpisef, @andrafnk

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(workspace): add Philip as contributor
  README.md
  docs/06_contributors.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency tailwindcss to v2.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mac): remove apply from styles
  apps/mac/src/app/feature/aqm-calculator/aqm-calculator.component.html
  apps/mac/src/app/feature/aqm-calculator/aqm-calculator.component.scss
Owners: @berndcri, @birketho, @pelzesen

feat(workspace): enable tailwind jit
  tailwind.config.js
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(workspace): add tailwindcss badge
  README.md
  docs/01_description.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency webpack-bundle-analyzer to v4.4.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(loading-spinner): add loading spinner ui lib (UFTABI-3691)
  angular.json
  libs/shared/ui/loading-spinner/.eslintrc.json
  libs/shared/ui/loading-spinner/README.md
  libs/shared/ui/loading-spinner/jest.config.js
  libs/shared/ui/loading-spinner/ng-package.json
  libs/shared/ui/loading-spinner/package.json
  libs/shared/ui/loading-spinner/src/index.ts
  libs/shared/ui/loading-spinner/src/lib/loading-spinner.component.html
  libs/shared/ui/loading-spinner/src/lib/loading-spinner.component.scss
  libs/shared/ui/loading-spinner/src/lib/loading-spinner.component.spec.ts
  libs/shared/ui/loading-spinner/src/lib/loading-spinner.component.ts
  libs/shared/ui/loading-spinner/src/lib/loading-spinner.module.ts
  libs/shared/ui/loading-spinner/src/test-setup.ts
  libs/shared/ui/loading-spinner/tsconfig.json
  libs/shared/ui/loading-spinner/tsconfig.lib.json
  libs/shared/ui/loading-spinner/tsconfig.lib.prod.json
  libs/shared/ui/loading-spinner/tsconfig.spec.json
  libs/shared/ui/storybook/src/lib/loading-spinner.component.stories.ts
  nx.json
  tsconfig.base.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency eslint-config-prettier to v8.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(goldwind): adjust to use polar chart for load sense (DIGDTGW-2169)
  .eslintrc.json
  apps/goldwind/src/app/bearing/condition-monitoring/center-load/center-load.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/center-load/center-load.component.ts
  apps/goldwind/src/app/core/http/rest.service.spec.ts
  apps/goldwind/src/app/core/http/rest.service.ts
  apps/goldwind/src/app/core/store/reducers/load-sense/load-sense.reducer.ts
  apps/goldwind/src/app/core/store/reducers/shared/models/graph-data.model.ts
  apps/goldwind/src/app/core/store/selectors/load-sense/load-sense.selector.spec.ts
  apps/goldwind/src/app/core/store/selectors/load-sense/load-sense.selector.ts
  apps/goldwind/src/app/shared/chart/chart.ts
  apps/goldwind/src/app/shared/chart/echarts.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @saragjri

feat(goldwind): add legal pages (DIGDTGW-2152)
  apps/goldwind/src/app/app-route-path.enum.ts
  apps/goldwind/src/app/app-routing.module.ts
  apps/goldwind/src/app/app.component.html
  apps/goldwind/src/app/app.component.spec.ts
  apps/goldwind/src/app/app.component.ts
  apps/goldwind/src/app/core/core.module.ts
  apps/goldwind/src/app/core/store/selectors/devices/devices.selector.spec.ts
  apps/goldwind/src/app/core/store/selectors/devices/devices.selector.ts
  apps/goldwind/src/app/legal/legal-route-path.enum.ts
  apps/goldwind/src/app/legal/legal-routing.module.ts
  apps/goldwind/src/app/legal/legal.component.html
  apps/goldwind/src/app/legal/legal.component.scss
  apps/goldwind/src/app/legal/legal.component.spec.ts
  apps/goldwind/src/app/legal/legal.component.ts
  apps/goldwind/src/app/legal/legal.module.ts
  apps/goldwind/src/assets/i18n/en.json
  apps/goldwind/src/assets/legal/dataprivacy.ts
  apps/goldwind/src/assets/legal/imprint.ts
  apps/goldwind/src/assets/legal/index.ts
  apps/goldwind/src/assets/legal/terms.ts
Owners: @krausrbe, @saragjri

fix(gq): removed automotive roles
  apps/gq/src/assets/i18n/role-modal/de.json
  apps/gq/src/assets/i18n/role-modal/en.json
Owners: @andrafnk, @soehnpsc, @herpisef

fix(mac): adjust service urls
  apps/mac/src/app/feature/lifetime-predictor/services/rest.service.ts
Owners: @berndcri, @birketho, @pelzesen

chore(deps): update @nrwl/nx to v12.0.6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(goldwind): change url back for old api structure
  apps/goldwind/src/app/core/http/rest.service.spec.ts
  apps/goldwind/src/app/core/http/rest.service.ts
Owners: @krausrbe, @saragjri

chore(storybooks): fix to make storybook fully functional again
  libs/shared/ui/storybook/src/lib/scroll-to-top.component.stories.ts
  libs/shared/ui/storybook/src/lib/settings-sidebar.component.stories.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update storybook to v6.2.7
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(storybooks): e2e fix attempt
  apps/shared-ui-storybook-e2e/src/support/scroll-to-top.po.ts
  apps/shared-ui-storybook-e2e/src/support/settings-sidebar.po.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(storybooks): adjust to work after update
  libs/shared/ui/empty-states/src/lib/forbidden/forbidden.module.ts
  libs/shared/ui/storybook/src/lib/banner.component.stories.ts
  libs/shared/ui/storybook/src/lib/snackbar.component.stories.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(storybooks): undo last attempt
  apps/shared-ui-storybook-e2e/src/support/scroll-to-top.po.ts
  apps/shared-ui-storybook-e2e/src/support/settings-sidebar.po.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update storybook to v6.2.8
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): fix security vulnerabilities
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(gq): added customerMaterial
  apps/gq/src/app/core/store/models/quotation-detail.model.ts
  apps/gq/src/app/detail-view/pricing-details/material-details/material-details.component.html
  apps/gq/src/app/detail-view/pricing-details/material-details/material-details.component.ts
  apps/gq/src/app/detail-view/pricing-details/pricing-details.component.html
  apps/gq/src/app/shared/services/column-utility-service/column-defs.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/quotation-details.mock.ts
Owners: @andrafnk, @soehnpsc, @herpisef

chore(deps): update @angular/angular to v11.2.10
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(gq): disabled upload-offer for manual cases (GQUOTE-595)
  apps/gq/src/app/case-view/delete-accept/delete-accept.component.spec.ts
  apps/gq/src/app/core/store/models/index.ts
  apps/gq/src/app/core/store/models/key-account.model.ts
  apps/gq/src/app/core/store/models/sector-management.model.ts
  apps/gq/src/app/core/store/models/sub-key-account.model.ts
  apps/gq/src/app/core/store/models/sub-sector.model.ts
  apps/gq/src/app/core/store/reducers/process-case/process-case.reducer.spec.ts
  apps/gq/src/app/core/store/selectors/process-case/process-case.selectors.spec.ts
  apps/gq/src/app/core/store/selectors/process-case/process-case.selectors.ts
  apps/gq/src/app/shared/custom-status-bar/upload-to-sap-button/upload-to-sap-button.component.html
  apps/gq/src/app/shared/custom-status-bar/upload-to-sap-button/upload-to-sap-button.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/upload-to-sap-button/upload-to-sap-button.component.ts
  apps/gq/src/app/shared/offer-drawer/offer-drawer.component.html
  apps/gq/src/app/shared/offer-drawer/offer-drawer.component.spec.ts
  apps/gq/src/app/shared/offer-drawer/offer-drawer.component.ts
  apps/gq/src/app/shared/offer-drawer/offer-drawer.module.ts
Owners: @andrafnk, @soehnpsc, @herpisef
