Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# STA
apps/sta @kauppfbi @herpisef @birketho
apps/sta-e2e @kauppfbi @herpisef @birketho

# STEEL
apps/steel @krausrbe
apps/steel-e2e @krausrbe

# CDBA
apps/cdba @kauppfbi @herpisef
apps/cdba-e2e @kauppfbi @herpisef

############
### Libs ###
############

# assets
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# cypress-utils
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# empty-states
libs/shared/empty-states @kauppfbi @krausrbe @berndcri @herpisef

# responsive
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# styles
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# transloco
libs/shared/transloco @kauppfbi @krausrbe @berndcri @herpisef

# ui-components
libs/shared/ui-components @kauppfbi @krausrbe @berndcri @herpisef

chore(release): 🚀 0.2.0 [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(readme): add nx.json hint in project setup
  README.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @angular-devkit/build-angular to v0.900.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): change text in translate button (UFTABI-2197)
  apps/sta/src/app/feature/translation/translation.component.html
Owners: @kauppfbi, @herpisef, @birketho

chore(deps): update dependency stylelint to v13.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency cypress to v4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @angular-devkit/build-ng-packagr to v0.900.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(readme): add nx.json hint to setup
  README.md
  docs/03_setup.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

ci(workspace): add a group for devextreme and transloco
  Jenkinsfile
  renovate.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): remove checkstyle errors
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.service.spec.ts
Owners: @kauppfbi, @herpisef, @birketho

feat(cdba): setup NgRx Router Store (DSCDA-1312)
  apps/cdba/src/app/app.module.ts
  apps/cdba/src/app/core/core.module.ts
  apps/cdba/src/app/core/store/reducers/index.spec.ts
  apps/cdba/src/app/core/store/reducers/index.ts
  apps/cdba/src/app/core/store/store.module.ts
  apps/cdba/src/app/shared/shared.module.ts
  apps/cdba/src/environments/environment.dev.ts
  apps/cdba/src/environments/environment.prod.ts
  apps/cdba/src/environments/environment.ts
Owners: @kauppfbi, @herpisef

chore(deps): lock file maintenance
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.9.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): initial store setup (UFTABI-2124)
  apps/sta/src/app/core/core.module.ts
  apps/sta/src/app/core/store/reducers/index.spec.ts
  apps/sta/src/app/core/store/reducers/index.ts
  apps/sta/src/app/core/store/store.module.ts
  apps/sta/src/environments/environment.dev.ts
  apps/sta/src/environments/environment.prod.ts
  apps/sta/src/environments/environment.ts
Owners: @kauppfbi, @herpisef, @birketho

feat(sta): language detection and selection (UFTABI-1668)
  Jenkinsfile
  apps/sta/src/app/constants/available-languages.constant.ts
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.html
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.spec.ts
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.ts
  apps/sta/src/app/feature/translation/translation.component.spec.ts
  apps/sta/src/app/feature/translation/translation.component.ts
  apps/sta/src/app/interceptors/http-error.interceptor.spec.ts
  apps/sta/src/app/interceptors/http-error.interceptor.ts
  apps/sta/src/app/shared/language-detection/language-detection.component.html
  apps/sta/src/app/shared/language-detection/language-detection.component.scss
  apps/sta/src/app/shared/language-detection/language-detection.component.spec.ts
  apps/sta/src/app/shared/language-detection/language-detection.component.ts
  apps/sta/src/app/shared/language-detection/language-detection.module.ts
  apps/sta/src/app/shared/result/models/index.ts
  apps/sta/src/app/shared/result/models/input-text.model.ts
  apps/sta/src/app/shared/result/models/input-translation.model.ts
  apps/sta/src/app/shared/result/models/key-value.model.ts
  apps/sta/src/app/shared/result/models/language-detection-response.model.ts
  apps/sta/src/app/shared/result/models/language-detection.model.ts
  apps/sta/src/app/shared/result/models/language.enum.ts
  apps/sta/src/app/shared/result/models/text-input.model.ts
  apps/sta/src/app/shared/result/services/data-store.service.spec.ts
  apps/sta/src/app/shared/result/services/data-store.service.ts
  apps/sta/src/app/shared/result/services/data.service.spec.ts
  apps/sta/src/app/shared/result/services/data.service.ts
  apps/sta/src/app/shared/text-input/text-input.component.html
  apps/sta/src/app/shared/text-input/text-input.component.scss
  apps/sta/src/app/shared/text-input/text-input.component.spec.ts
  apps/sta/src/app/shared/text-input/text-input.component.ts
  apps/sta/src/app/shared/text-input/text-input.module.ts
  apps/sta/src/assets/i18n/de.json
  apps/sta/src/assets/i18n/en.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

refactor(cypress-utils): apply selecting best practice for 404 spec
  libs/shared/cypress-utils/src/lib/specs/page-not-found-spec.ts
  libs/shared/empty-states/src/lib/page-not-found/page-not-found.component.html
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ltp): oauth2 authentication via Azure AD (ADAPLD-6461)
  Jenkinsfile
  apps/ltp/src/app/app-init.spec.ts
  apps/ltp/src/app/app-init.ts
  apps/ltp/src/app/app-routing.module.ts
  apps/ltp/src/app/app.component.html
  apps/ltp/src/app/app.component.spec.ts
  apps/ltp/src/app/app.component.ts
  apps/ltp/src/app/app.module.ts
  apps/ltp/src/app/core/core.module.ts
  apps/ltp/src/app/core/guards/auth-config.ts
  apps/ltp/src/app/core/guards/index.ts
  apps/ltp/src/app/core/guards/role.guard.spec.ts
  apps/ltp/src/app/core/guards/role.guard.ts
  apps/ltp/src/app/core/interceptors/index.ts
  apps/ltp/src/app/core/interceptors/token.interceptor.spec.ts
  apps/ltp/src/app/core/interceptors/token.interceptor.ts
  apps/ltp/src/app/core/services/auth.service.spec.ts
  apps/ltp/src/app/core/services/auth.service.ts
  apps/ltp/src/app/core/services/index.ts
  apps/ltp/src/app/core/services/rest.service.ts
  apps/ltp/src/app/shared/models/access-token.model.ts
  apps/ltp/src/app/shared/models/index.ts
  apps/ltp/src/environments/environment.dev.ts
  apps/ltp/src/environments/environment.prod.ts
  apps/ltp/src/environments/environment.ts
  apps/ltp/src/favicon.ico
  apps/ltp/src/silent-refresh.html
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency stylelint to v13.2.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(ltp): fix dev environment (ADAPLD-6469)
  apps/ltp/src/environments/environment.dev.ts
Owners: @krausrbe, @berndcri

chore(deps): update dependency webpack-bundle-analyzer to v3.6.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/jest to v25.1.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency angular-tslint-rules to v1.20.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix security vulnerabilities
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

improvement(ui-components): improve banner styling (UFTABI-1887)
  apps/kitchen-sink/src/app/app.component.spec.ts
  apps/kitchen-sink/src/app/home/home.component.spec.ts
  apps/kitchen-sink/src/app/home/home.component.ts
  apps/ltp/src/app/feature/home/home.component.spec.ts
  apps/ltp/src/app/feature/home/home.component.ts
  apps/ltp/src/app/feature/prediction/prediction.component.spec.ts
  libs/shared/styles/src/lib/buttons.scss
  libs/shared/ui-components/src/lib/banner/banner-text/banner-text.component.html
  libs/shared/ui-components/src/lib/banner/banner-text/banner-text.component.scss
  libs/shared/ui-components/src/lib/banner/banner-text/banner-text.component.spec.ts
  libs/shared/ui-components/src/lib/banner/banner-text/banner-text.component.ts
  libs/shared/ui-components/src/lib/banner/banner-text/banner-text.module.ts
  libs/shared/ui-components/src/lib/banner/banner.component.html
  libs/shared/ui-components/src/lib/banner/banner.component.spec.ts
  libs/shared/ui-components/src/lib/banner/banner.component.ts
  libs/shared/ui-components/src/lib/banner/store/actions/banner.actions.spec.ts
  libs/shared/ui-components/src/lib/banner/store/actions/banner.actions.ts
  libs/shared/ui-components/src/lib/banner/store/reducers/banner.reducer.spec.ts
  libs/shared/ui-components/src/lib/banner/store/reducers/banner.reducer.ts
  libs/shared/ui-components/src/lib/banner/store/selectors/banner.selectors.spec.ts
  libs/shared/ui-components/src/lib/banner/store/selectors/banner.selectors.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ui-components): add ng-content to header (UFTABI-1977)
  apps/cdba/src/app/app.component.html
  apps/cdba/src/styles.scss
  apps/helloworld-azure/src/app/app.component.html
  apps/helloworld-azure/src/app/app.component.scss
  apps/helloworld-azure/src/app/home/home.component.scss
  apps/kitchen-sink/src/app/app.component.html
  apps/ltp/src/app/app.component.html
  apps/ltp/src/styles.scss
  apps/sta/src/app/app.component.html
  apps/sta/src/app/feature/landing/landing.component.html
  apps/sta/src/app/feature/landing/landing.component.scss
  apps/steel/src/app/features/home/home.component.html
  libs/shared/ui-components/src/lib/header/header.component.html
  libs/shared/ui-components/src/lib/header/header.component.scss
  libs/shared/ui-components/src/lib/header/header.component.spec.ts
  libs/shared/ui-components/src/lib/header/header.component.ts
  libs/shared/ui-components/src/lib/sidebar/sidebar.component.scss
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri, @birketho

chore(deps): update dependency ng-packagr to v9.0.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

ci(workspace): use package names instead of patterns for renovate
  renovate.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency angular-oauth2-oidc to v9
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore: fix implicit flow due to dep change
  apps/helloworld-azure/src/app/core/core.module.ts
  apps/ltp/src/app/core/core.module.ts
  apps/sta/src/app/core/core.module.ts
  package-lock.json
  package.json
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri, @birketho

chore(deps): update dependency tslint to v6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix checkstyle issues
  apps/helloworld-azure/src/app/core/token.interceptor.spec.ts
  apps/ltp/src/app/core/interceptors/token.interceptor.spec.ts
  apps/sta/src/app/app.module.ts
  apps/sta/src/app/core/token.interceptor.spec.ts
  apps/sta/src/app/interceptors/http-error.interceptor.spec.ts
  libs/shared/transloco/src/lib/shared-transloco.loader.ts
  libs/shared/transloco/src/lib/shared-transloco.module.ts
  libs/shared/ui-components/src/lib/snackbar/snackbar.component.spec.ts
  libs/shared/ui-components/src/lib/snackbar/snackbar.module.ts
  package-lock.json
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri, @birketho

chore: remove prettier update due to existing MR
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency prettier to v1.19.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest-preset-angular to v8.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix security vulnerabilities
  README.md
  docs/01_description.md
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(workspace): update ngrx to v9
  README.md
  apps/cdba/src/app/core/store/store.module.ts
  apps/kitchen-sink/src/app/core/store/store.module.ts
  apps/ltp/src/app/core/store/store.module.ts
  apps/sta/src/app/core/store/store.module.ts
  apps/steel/src/app/core/store/store.module.ts
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

chore(workspace): update renovate configuration
  renovate.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.9.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): lock file maintenance
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update nrwl to v9.1.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef
