Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

chore(release): 🚀 0.1.1 [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency renovate to v19.138.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.7.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency renovate to v19.140.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(helloworld-azure): fix basePaths in environments
  apps/helloworld-azure/src/environments/environment.dev.ts
  apps/helloworld-azure/src/environments/environment.prod.ts
Owners: @kauppfbi, @herpisef

fix(sta): fix text length error for translation
  apps/sta/src/app/feature/translation/translation.component.html
Owners: @kauppfbi, @herpisef, @birketho

feat(sta): show username in header (UFTABI-2090)
  apps/sta/src/app/app.component.html
  apps/sta/src/app/app.component.spec.ts
  apps/sta/src/app/app.component.ts
  apps/sta/src/app/core/access-token.model.ts
  apps/sta/src/app/core/auth.service.spec.ts
  apps/sta/src/app/core/auth.service.ts
Owners: @kauppfbi, @herpisef, @birketho

feat(workspace): support multiple build configurations (UFTABI-2030)
  Jenkinsfile
  README.md
  angular.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency renovate to v19.143.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.7.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @angular-devkit/build-ng-packagr to v0.900.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): Implement empty states (UFTABI-1656)
  apps/sta/src/app/app-routing.module.ts
  apps/sta/src/app/app.component.html
  apps/sta/src/app/app.component.spec.ts
  apps/sta/src/app/app.component.ts
  apps/sta/src/app/feature/auto-tagging/auto-tagging-routing.module.ts
  apps/sta/src/app/feature/translation/translation-routing.module.ts
  apps/sta/src/app/shared/result/models/index.ts
  apps/sta/src/app/shared/result/models/service-type.enum.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.html
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.scss
  apps/sta/src/app/shared/result/result-translation/result-translation.component.html
  apps/sta/src/app/shared/result/result-translation/result-translation.component.scss
  apps/sta/src/app/shared/result/result.component.html
  apps/sta/src/app/shared/result/result.component.ts
  apps/sta/src/assets/empty-states/tagging.png
  apps/sta/src/assets/empty-states/translation.png
Owners: @kauppfbi, @herpisef, @birketho

feat(sta): content area improvement (UFTABI-1577)
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.html
  apps/sta/src/app/feature/translation/translation.component.html
  apps/sta/src/app/shared/file-upload/file-upload.component.html
  apps/sta/src/app/shared/file-upload/file-upload.component.scss
  apps/sta/src/app/shared/file-upload/file-upload.component.ts
  apps/sta/src/app/shared/text-input/text-input.component.html
  apps/sta/src/app/shared/text-input/text-input.component.scss
  apps/sta/src/app/shared/text-input/text-input.component.ts
Owners: @kauppfbi, @herpisef, @birketho

fix(workspace): fix build configurations
  README.md
  angular.json
  docs/03_setup.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(sta): reset functionality works now for all cases
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.ts
  apps/sta/src/app/feature/translation/translation.component.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.spec.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.ts
  package-lock.json
Owners: @kauppfbi, @herpisef, @birketho, @krausrbe, @berndcri

feat(reset-filter): add reset-filter extension (SSBI-57)
  README.md
  apps/steel/src/app/app-routing.module.ts
  apps/steel/src/app/features/extensions/extensions-routing.module.ts
  apps/steel/src/app/features/extensions/extensions.module.ts
  apps/steel/src/app/features/extensions/reset-filter/reset-filter-routing.module.ts
  apps/steel/src/app/features/extensions/reset-filter/reset-filter.component.html
  apps/steel/src/app/features/extensions/reset-filter/reset-filter.component.scss
  apps/steel/src/app/features/extensions/reset-filter/reset-filter.component.spec.ts
  apps/steel/src/app/features/extensions/reset-filter/reset-filter.component.ts
  apps/steel/src/app/features/extensions/reset-filter/reset-filter.module.ts
  apps/steel/src/app/features/home/extension/extension.component.html
  apps/steel/src/app/features/home/extension/extension.component.scss
  apps/steel/src/assets/extensions.json
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): add header and settings sidebar (DSCDA-1269)
  apps/cdba-e2e/src/integration/app.spec.ts
  apps/cdba-e2e/src/support/app.po.ts
  apps/cdba/src/app/app.component.html
  apps/cdba/src/app/app.component.scss
  apps/cdba/src/app/app.component.spec.ts
  apps/cdba/src/app/app.component.ts
  apps/cdba/src/app/app.module.ts
  apps/cdba/src/styles.scss
  deployments.json
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri

fix(workspace): use gesture config from angular material
  apps/kitchen-sink/src/app/shared/config/hammer-config.ts
  apps/sta/src/app/config/hammer-config.ts
  apps/steel/src/app/shared/config/hammer-config.ts
  libs/shared/ui-components/src/lib/settings-sidebar/config/hammer-config.ts
  libs/shared/ui-components/src/lib/sidebar/config/hammer-config.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

feat(sta): implement ghost elements (UFTABI-1567)
  apps/sta/src/app/shared/animations/fade-in-animation.ts
  apps/sta/src/app/shared/ghost-elements/ghost-line-elements.component.html
  apps/sta/src/app/shared/ghost-elements/ghost-line-elements.component.scss
  apps/sta/src/app/shared/ghost-elements/ghost-line-elements.component.spec.ts
  apps/sta/src/app/shared/ghost-elements/ghost-line-elements.component.ts
  apps/sta/src/app/shared/ghost-elements/ghost-line-elements.module.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.html
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.scss
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.spec.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.ts
  apps/sta/src/app/shared/result/result-translation/result-translation.component.html
  apps/sta/src/app/shared/result/result-translation/result-translation.component.scss
  apps/sta/src/app/shared/result/result-translation/result-translation.component.spec.ts
  apps/sta/src/app/shared/result/result-translation/result-translation.component.ts
  apps/sta/src/app/shared/result/result.component.scss
  apps/sta/src/app/shared/result/result.component.spec.ts
  apps/sta/src/app/shared/result/result.module.ts
  apps/sta/src/app/shared/result/services/data-store.service.spec.ts
  apps/sta/src/app/shared/result/services/data-store.service.ts
  libs/shared/styles/src/lib/ghost-animation.scss
Owners: @kauppfbi, @herpisef, @birketho, @krausrbe, @berndcri

chore(deps): update dependency tslib to v1.11.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency renovate to v19.144.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): lock file maintenance
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency renovate to v19.147.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): add translation functionality (DSCDA-1305)
  apps/cdba/src/app/app.module.ts
  apps/cdba/src/assets/i18n/en.json
Owners: @kauppfbi, @herpisef

feat(cdba): routing and empty states (DSCDA-1305)
  apps/cdba/src/app/app-routing.module.ts
  apps/cdba/src/app/app.component.html
  apps/cdba/src/app/app.component.spec.ts
  apps/cdba/src/app/app.module.ts
  apps/cdba/src/app/ref-type/ref-type-routing.module.ts
  apps/cdba/src/app/ref-type/ref-type.component.html
  apps/cdba/src/app/ref-type/ref-type.component.spec.ts
  apps/cdba/src/app/ref-type/ref-type.component.ts
  apps/cdba/src/app/ref-type/ref-type.module.ts
Owners: @kauppfbi, @herpisef

feat(sta): error handling (UFTABI-1673)
  apps/ltp/src/app/app.module.ts
  apps/sta/src/app/app.component.spec.ts
  apps/sta/src/app/app.component.ts
  apps/sta/src/app/app.module.ts
  apps/sta/src/app/interceptors/http-error.interceptor.spec.ts
  apps/sta/src/app/interceptors/http-error.interceptor.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.scss
  apps/sta/src/app/shared/result/result-translation/result-translation.component.scss
  apps/sta/src/app/shared/result/services/data-store.service.spec.ts
  apps/sta/src/app/shared/result/services/data-store.service.ts
  apps/sta/src/assets/i18n/de.json
  apps/sta/src/assets/i18n/en.json
Owners: @krausrbe, @berndcri, @kauppfbi, @herpisef, @birketho

chore(deps): update dependency ng-packagr to v9.0.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v10.0.8
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.7.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.7.6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency renovate to v19.148.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): add temporary fix for ci pipeline
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): lock file maintenance
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency tslib to v1.11.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): adjust text in disclaimer
  apps/sta/src/app/feature/landing/landing.component.html
Owners: @kauppfbi, @herpisef, @birketho

chore(deps): update dependency @types/node to v13.7.7
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/transloco to v2.13.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @angular-devkit/build-ng-packagr to v0.900.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @angular-devkit/build-angular to v0.900.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): loading bar with fun facts for user entertainment (UFTABI-1676)
  apps/sta/src/app/feature/translation/translation.component.html
  apps/sta/src/app/feature/translation/translation.component.spec.ts
  apps/sta/src/app/feature/translation/translation.component.ts
  apps/sta/src/app/feature/translation/translation.module.ts
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.component.html
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.component.scss
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.component.spec.ts
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.component.ts
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.module.ts
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.service.spec.ts
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.service.ts
  apps/sta/src/app/shared/fun-facts-loading-bar/models/fun-fact.model.ts
  apps/sta/src/app/shared/result/services/data-store.service.spec.ts
  apps/sta/src/app/shared/result/services/data-store.service.ts
Owners: @kauppfbi, @herpisef, @birketho

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# STA
apps/sta @kauppfbi @herpisef @birketho
apps/sta-e2e @kauppfbi @herpisef @birketho

# STEEL
apps/steel @krausrbe
apps/steel-e2e @krausrbe

# CDBA
apps/cdba @kauppfbi @herpisef
apps/cdba-e2e @kauppfbi @herpisef

############
### Libs ###
############

# assets
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# cypress-utils
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# empty-states
libs/shared/empty-states @kauppfbi @krausrbe @berndcri @herpisef

# responsive
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# styles
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# transloco
libs/shared/transloco @kauppfbi @krausrbe @berndcri @herpisef

# ui-components
libs/shared/ui-components @kauppfbi @krausrbe @berndcri @herpisef
