Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @pelzesen, @rieckpil_ext, @gerlitm, @geissbnj, @birketho, @soehnpsc, @juskibry

feat(sedo): improve user input feedback
  apps/sedo/src/app/sales-summary/sales-row-details/sales-row-details.component.spec.ts
  apps/sedo/src/app/sales-summary/sales-row-details/sales-row-details.component.ts
Owners: @birketho, @soehnpsc, @pelzesen

feat(mm): refactor picture card (UFTABI-4858)
  apps/mm/src/app/core/components/pages-stepper/pages-stepper.component.scss
  apps/mm/src/app/shared/components/member-controls/picture-card-list/picture-card-list.component.html
  libs/shared/ui/dropdown-input/src/lib/dropdown-input.component.scss
  libs/shared/ui/picture-card/src/lib/models/picture-card-action.model.ts
  libs/shared/ui/picture-card/src/lib/picture-card-action/picture-card-action.component.html
  libs/shared/ui/picture-card/src/lib/picture-card-action/picture-card-action.component.ts
  libs/shared/ui/picture-card/src/lib/picture-card.component.html
  libs/shared/ui/picture-card/src/lib/picture-card.component.spec.ts
  libs/shared/ui/picture-card/src/lib/picture-card.component.ts
  tailwind.config.js
Owners: @juskibry, @birketho, @krausrbe, @berndcri, @kauppfbi, @herpisef

chore(sedo): 🚀 1.12.0 [ci skip]
  apps/sedo/CHANGELOG.md
  apps/sedo/package.json
Owners: @birketho, @soehnpsc, @pelzesen

chore(docs): update docs [ci skip]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/cashew to v2.1.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update eslint to v12.2.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-node to v10.1.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ngx-build-plus to v12.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v16.3.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

refactor(ia): restructure and caching (IA-162)
  apps/ia/src/app/app.module.ts
  apps/ia/src/app/core/store/effects/filter/filter.effects.spec.ts
  apps/ia/src/app/core/store/effects/filter/filter.effects.ts
  apps/ia/src/app/filter-section/filter-service.service.spec.ts
  apps/ia/src/app/filter-section/filter-service.service.ts
  apps/ia/src/app/loss-of-skills/loss-of-skills.service.spec.ts
  apps/ia/src/app/loss-of-skills/loss-of-skills.service.ts
  apps/ia/src/app/loss-of-skills/store/effects/loss-of-skills.effects.spec.ts
  apps/ia/src/app/loss-of-skills/store/effects/loss-of-skills.effects.ts
  apps/ia/src/app/organizational-view/organizational-view.service.spec.ts
  apps/ia/src/app/organizational-view/organizational-view.service.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.spec.ts
  apps/ia/src/app/organizational-view/store/effects/organizational-view.effects.ts
  apps/ia/src/app/overview/models/index.ts
  apps/ia/src/app/overview/models/overview-fluctuation-rates.model.ts
  apps/ia/src/app/overview/overview.component.spec.ts
  apps/ia/src/app/overview/overview.service.spec.ts
  apps/ia/src/app/overview/overview.service.ts
  apps/ia/src/app/overview/store/effects/overview.effects.spec.ts
  apps/ia/src/app/overview/store/effects/overview.effects.ts
  apps/ia/src/app/overview/store/selectors/overview-selector-utils.spec.ts
  apps/ia/src/app/overview/store/selectors/overview-selector-utils.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.spec.ts
  apps/ia/src/app/shared/http/params-creator.service.spec.ts
  apps/ia/src/app/shared/http/params-creator.service.ts
  apps/ia/src/app/shared/models/attrition-over-time.model.ts
  apps/ia/src/app/shared/models/employee.model.ts
  apps/ia/src/app/shared/services/employee.service.spec.ts
  apps/ia/src/app/shared/services/employee.service.ts
Owners: @herpisef

chore(workspace): update jenkins deployment path
  deployments.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(storybook): adjust dropdown input story
  libs/shared/ui/storybook/src/lib/dropdown-input.component.stories.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(dropdown-input): adjust documentation
  libs/shared/ui/dropdown-input/README.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(dropdown-input): remove whitespace in readme
  libs/shared/ui/dropdown-input/README.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(dropdown-input): add formControl input docu
  libs/shared/ui/dropdown-input/README.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(dropdown-input): remove blank line
  libs/shared/ui/dropdown-input/README.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(ia): apply correct style to employee dialog in lost job profiles table (IA-189)
  apps/ia/src/app/app-routing.module.ts
  apps/ia/src/app/loss-of-skill/loss-of-skill-routing.module.ts
  apps/ia/src/app/loss-of-skill/loss-of-skill.component.html
  apps/ia/src/app/loss-of-skill/loss-of-skill.component.spec.ts
  apps/ia/src/app/loss-of-skill/loss-of-skill.component.ts
  apps/ia/src/app/loss-of-skill/loss-of-skill.module.ts
  apps/ia/src/app/loss-of-skill/loss-of-skill.service.spec.ts
  apps/ia/src/app/loss-of-skill/loss-of-skill.service.ts
  apps/ia/src/app/loss-of-skill/lost-job-profiles/amount-cell-renderer/amount-cell-renderer.component.html
  apps/ia/src/app/loss-of-skill/lost-job-profiles/amount-cell-renderer/amount-cell-renderer.component.spec.ts
  apps/ia/src/app/loss-of-skill/lost-job-profiles/amount-cell-renderer/amount-cell-renderer.component.ts
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.component.html
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.component.spec.ts
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.component.ts
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.module.ts
  apps/ia/src/app/loss-of-skill/models/index.ts
  apps/ia/src/app/loss-of-skill/models/lost-job-profile.model.ts
  apps/ia/src/app/loss-of-skill/models/lost-job-profiles-response.model.ts
  apps/ia/src/app/loss-of-skill/risk-of-leaving/risk-of-leaving.component.html
  apps/ia/src/app/loss-of-skill/risk-of-leaving/risk-of-leaving.component.spec.ts
  apps/ia/src/app/loss-of-skill/risk-of-leaving/risk-of-leaving.component.ts
  apps/ia/src/app/loss-of-skill/risk-of-leaving/risk-of-leaving.module.ts
  apps/ia/src/app/loss-of-skill/store/actions/loss-of-skill.actions.spec.ts
  apps/ia/src/app/loss-of-skill/store/actions/loss-of-skill.actions.ts
  apps/ia/src/app/loss-of-skill/store/effects/loss-of-skill.effects.spec.ts
  apps/ia/src/app/loss-of-skill/store/effects/loss-of-skill.effects.ts
  apps/ia/src/app/loss-of-skill/store/index.spec.ts
  apps/ia/src/app/loss-of-skill/store/index.ts
  apps/ia/src/app/loss-of-skill/store/selectors/loss-of-skill.selector.spec.ts
  apps/ia/src/app/loss-of-skill/store/selectors/loss-of-skill.selector.ts
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.component.html
  apps/ia/src/assets/i18n/loss-of-skill/en.json
  apps/ia/src/assets/i18n/loss-of-skills/en.json
  apps/ia/src/styles.scss
Owners: @herpisef

fix(mm): empty cached form values after back navigation (UFTABI-4859)
  apps/mm/src/app/core/components/pages-stepper/pages-stepper.component.scss
  apps/mm/src/app/home/home.component.html
  apps/mm/src/app/home/home.component.spec.ts
  apps/mm/src/app/home/home.component.ts
  apps/mm/src/app/shared/components/member-controls/list-member/list-member.component.html
  apps/mm/src/app/shared/models/home/form-value.model.ts
  apps/mm/src/app/shared/models/home/index.ts
  apps/mm/src/app/shared/models/index.ts
Owners: @juskibry, @birketho, @krausrbe, @berndcri

chore(deps): update dependency @ngneat/transloco-keys-manager to v2.7.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(goldwind): add firt implementation of the static safety factor
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/condition-monitoring.module.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.scss
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.module.ts
  apps/goldwind/src/app/core/http/rest.service.ts
  apps/goldwind/src/app/core/store/actions/index.ts
  apps/goldwind/src/app/core/store/actions/static-safety/static-safety.actions.ts
  apps/goldwind/src/app/core/store/effects/index.ts
  apps/goldwind/src/app/core/store/effects/static-safety/static-safety.effects.spec.ts
  apps/goldwind/src/app/core/store/effects/static-safety/static-safety.effects.ts
  apps/goldwind/src/app/core/store/reducers/index.ts
  apps/goldwind/src/app/core/store/reducers/shared/models/graph-data.model.ts
  apps/goldwind/src/app/core/store/reducers/static-safety/models/index.ts
  apps/goldwind/src/app/core/store/reducers/static-safety/models/static-safety.model.ts
  apps/goldwind/src/app/core/store/reducers/static-safety/static-safety.reducer.spec.ts
  apps/goldwind/src/app/core/store/reducers/static-safety/static-safety.reducer.ts
  apps/goldwind/src/app/core/store/selectors/grease-status/grease-status.selector.ts
  apps/goldwind/src/app/core/store/selectors/index.ts
  apps/goldwind/src/app/core/store/selectors/static-safety/static-safety.selector.spec.ts
  apps/goldwind/src/app/core/store/selectors/static-safety/static-safety.selector.ts
  apps/goldwind/src/app/shared/chart/chart.ts
  apps/goldwind/src/app/shared/chart/gauge-chart.spec.ts
  apps/goldwind/src/app/shared/chart/gauge-chart.ts
  apps/goldwind/src/app/shared/chart/gauge-config.interface.ts
  apps/goldwind/src/app/shared/constants/index.ts
  apps/goldwind/src/app/shared/constants/static-safety.ts
  apps/goldwind/src/app/shared/constants/update-settings.ts
  apps/goldwind/src/assets/i18n/en.json
  apps/goldwind/src/testing/mocks/grease-gauges.mock.ts
  apps/goldwind/src/testing/mocks/shaft.mock.ts
Owners: @krausrbe, @gerlitm, @geissbnj

fix(ia): attrition chart title fixed (IA-185)
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.html
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.ts
Owners: @herpisef

feat(mm): fix lint issues
  apps/mm/src/app/core/services/locale/locale.service.ts
  apps/mm/src/app/home/home.component.spec.ts
  apps/mm/src/app/home/home.component.store.ts
  apps/mm/src/app/home/home.component.ts
  apps/mm/src/app/shared/components/member-controls/list-member/list-member.component.spec.ts
  apps/mm/src/app/shared/components/member-controls/picture-card-list/picture-card-list.component.spec.ts
  apps/mm/src/app/shared/interceptors/http-locale.interceptor.spec.ts
  apps/mm/src/app/shared/interceptors/http-locale.interceptor.ts
  apps/mm/src/main.ts
Owners: @juskibry, @birketho, @krausrbe, @berndcri

fix(ia): open applications calculation (IA-191)
  apps/ia/src/app/overview/open-positions/open-positions.component.html
  apps/ia/src/app/overview/open-positions/open-positions.component.spec.ts
  apps/ia/src/app/overview/open-positions/open-positions.component.ts
Owners: @herpisef

chore(deps): update @nrwl/nx to v12.5.8
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ng-web-apis/common to v1.12.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v11.0.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular to v12.1.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency standard-version to v9.3.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(subheader): setup shared lib (UFTABI-4889)
  angular.json
  libs/shared/ui/subheader/.eslintrc.json
  libs/shared/ui/subheader/README.md
  libs/shared/ui/subheader/jest.config.js
  libs/shared/ui/subheader/ng-package.json
  libs/shared/ui/subheader/package.json
  libs/shared/ui/subheader/src/index.ts
  libs/shared/ui/subheader/src/lib/subheader.component.html
  libs/shared/ui/subheader/src/lib/subheader.component.scss
  libs/shared/ui/subheader/src/lib/subheader.component.spec.ts
  libs/shared/ui/subheader/src/lib/subheader.component.ts
  libs/shared/ui/subheader/src/lib/subheader.module.ts
  libs/shared/ui/subheader/src/test-setup.ts
  libs/shared/ui/subheader/tsconfig.json
  libs/shared/ui/subheader/tsconfig.lib.json
  libs/shared/ui/subheader/tsconfig.lib.prod.json
  libs/shared/ui/subheader/tsconfig.spec.json
  nx.json
  tsconfig.base.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v16.3.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(gq): added summary page to excel export (GQUOTE-692)
  apps/gq/src/app/process-case-view/quotation-details-table/config/tablecontext.model.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.html
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.spec.ts
  apps/gq/src/app/process-case-view/quotation-details-table/quotation-details-table.component.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/excel-styles.constants.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/export-to-excel-button/export-to-excel-button.component.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.spec.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc, @herpisef

feat(mac): fix lint issues (UFTABI-4833)
  .eslintrc.json
  apps/mac/src/app/core/guards/role.guard.spec.ts
  apps/mac/src/app/core/guards/role.guard.ts
  apps/mac/src/app/feature/aqm-calculator/aqm-calculator.component.ts
  apps/mac/src/app/feature/hardness-converter/hardness-converter.component.spec.ts
  apps/mac/src/app/feature/hardness-converter/hardness-converter.component.ts
  apps/mac/src/app/feature/lifetime-predictor/input/input.component.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/input/input.component.ts
  apps/mac/src/app/feature/lifetime-predictor/input/slider/slider.component.ts
  apps/mac/src/app/feature/lifetime-predictor/models/prediction-result-parsed.model.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/chart/chart-bundle/echart.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/chart/chart.component.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/chart/chart.module.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/kpi/kpi.component.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/prediction.component.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/prediction/prediction.component.ts
  apps/mac/src/app/feature/lifetime-predictor/services/helpers.service.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/store/effects/input.effects.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/store/effects/input.effects.ts
  apps/mac/src/app/feature/lifetime-predictor/store/effects/prediction.effects.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/store/effects/prediction.effects.ts
  apps/mac/src/app/feature/lifetime-predictor/store/reducers/input.reducer.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/store/selectors/input.selectors.ts
  apps/mac/src/app/feature/lifetime-predictor/store/selectors/prediction.selector.spec.ts
  apps/mac/src/app/feature/lifetime-predictor/store/selectors/prediction.selectors.ts
  apps/mac/src/app/shared/change-favicon.ts
  apps/mac/src/main.ts
  apps/mac/src/testing/mocks/aqm-calculation-calculation.mock.ts
  apps/mac/src/testing/mocks/aqm-calculation-materials.mock.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho, @pelzesen

chore(deps): update dependency @ngneat/cashew to v2.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mm): finish styling of report (UFTABI-4852)
  apps/mm/src/app/home/home.component.html
  apps/mm/src/app/home/result-page/result-page.component.html
  apps/mm/src/app/home/result-page/result-page.component.ts
  apps/mm/src/app/shared/interceptors/http-locale.interceptor.ts
  apps/mm/src/environments/environment.dev.ts
  apps/mm/src/environments/environment.ts
  apps/mm/src/mock/dialog.json
  libs/shared/ui/report/src/lib/report.service.ts
  libs/shared/ui/report/src/mocks/report.ts
Owners: @juskibry, @birketho, @krausrbe, @berndcri, @kauppfbi, @herpisef

chore(deps): update dependency rxjs-marbles to v7.0.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/transloco-keys-manager to v2.7.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(mm): no control reset on page 4 or 5
  apps/mm/src/app/home/home.component.ts
  apps/mm/src/app/shared/constants/dialog-constant.ts
  apps/mm/src/environments/environment.prod.ts
  apps/mm/src/environments/environment.qa.ts
Owners: @juskibry, @birketho, @krausrbe, @berndcri

feat(ia): equally sized continent buttons on world map (IA-201)
  apps/ia/src/app/organizational-view/toggle-charts/toggle-charts.component.html
  apps/ia/src/app/organizational-view/world-map/world-map.component.html
Owners: @herpisef

feat(gq): added lastCustomerPriceDate as column on workarea
  apps/gq/src/app/case-view/case-table/config/column-def.service.spec.ts
  apps/gq/src/app/case-view/case-table/config/column-def.service.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-detail.model.ts
  apps/gq/src/app/shared/services/column-utility-service/column-def.service.ts
  apps/gq/src/app/shared/services/column-utility-service/column-fields.enum.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.spec.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/quotation-details.mock.ts
Owners: @soehnpsc, @herpisef

chore(deps): update dependency @types/node to v16.3.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef @pelzesen
apps/helloworld-azure-e2e @kauppfbi @herpisef @pelzesen

# CDBA
apps/cdba @kauppfbi @herpisef @rieckpil_ext
apps/cdba-e2e @kauppfbi @herpisef @rieckpil_ext

# GOLDWIND
apps/goldwind @krausrbe @gerlitm @geissbnj
apps/goldwind-e2e @krausrbe @gerlitm @geissbnj

# SEDO
apps/sedo @birketho @soehnpsc @pelzesen
apps/sedo-e2e @birketho @soehnpsc @pelzesen

# GQ
apps/gq @soehnpsc @herpisef
apps/gq-e2e @soehnpsc @herpisef

# MAC
apps/mac @berndcri @birketho @pelzesen
apps/mac-e2e @berndcri @birketho @pelzesen

# IA
apps/ia @herpisef
apps/ia-e2e @herpisef

# MM
apps/mm @juskibry @birketho @krausrbe @berndcri
apps/mm-e2e @juskibry @birketho @krausrbe @berndcri

# GA
apps/ga @juskibry @krausrbe @berndcri
apps/ga-e2e @juskibry @krausrbe @berndcri

############
### Libs ###
############
