Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @pelzesen, @rieckpil_ext, @saragjri, @birketho, @soehnpsc, @juskibry

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef @pelzesen
apps/helloworld-azure-e2e @kauppfbi @herpisef @pelzesen

# CDBA
apps/cdba @kauppfbi @herpisef @rieckpil_ext
apps/cdba-e2e @kauppfbi @herpisef @rieckpil_ext

# GOLDWIND
apps/goldwind @krausrbe @saragjri
apps/goldwind-e2e @krausrbe @saragjri

# SEDO
apps/sedo @birketho @soehnpsc @pelzesen
apps/sedo-e2e @birketho @soehnpsc @pelzesen

# GQ
apps/gq @soehnpsc @herpisef
apps/gq-e2e @soehnpsc @herpisef

# MAC
apps/mac @berndcri @birketho @pelzesen
apps/mac-e2e @berndcri @birketho @pelzesen

# IA
apps/ia @herpisef
apps/ia-e2e @herpisef

# MM
apps/mm @juskibry @birketho @krausrbe @berndcri
apps/mm-e2e @juskibry @birketho @krausrbe @berndcri

############
### Libs ###
############

chore(deps): update @nrwl/nx to v12.0.8
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @babel/core to v7.13.16
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency core-js to v3.10.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(helloworld-azure): add azure function greeting
  apps/helloworld-azure/src/app/greeting.service.ts
  apps/helloworld-azure/src/app/home/home.component.html
  apps/helloworld-azure/src/app/home/home.component.spec.ts
  apps/helloworld-azure/src/app/home/home.component.ts
Owners: @kauppfbi, @herpisef, @pelzesen

chore(helloworld-azure): 🚀 2.2.0 [ci skip]
  apps/helloworld-azure/CHANGELOG.md
  apps/helloworld-azure/package.json
Owners: @kauppfbi, @herpisef, @pelzesen

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(cdba): avoid unprotected access to possible undefined field
  apps/cdba/src/app/detail/detail-tab/quantities/quantities.component.html
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(goldwind): 🚀 1.12.0 [ci skip]
  apps/goldwind/CHANGELOG.md
  apps/goldwind/package.json
Owners: @krausrbe, @saragjri

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/components to v11.2.10
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(cdba): remove feature 'flag' to show compare screen on prod (DSCDA-2333)
  apps/cdba/src/app/app-routing.module.ts
  apps/cdba/src/app/core/guards/dev.guard.spec.ts
  apps/cdba/src/app/core/guards/dev.guard.ts
  apps/cdba/src/app/core/guards/index.ts
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.ts
  apps/cdba/src/app/shared/components/table/custom-status-bar/compare-view-button/compare-view-button.component.html
  apps/cdba/src/app/shared/components/table/custom-status-bar/compare-view-button/compare-view-button.component.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext

feat(cdba): align error handling for BoM container (DSCDA-2315)
  apps/cdba/src/app/compare/store/actions/compare.actions.spec.ts
  apps/cdba/src/app/compare/store/actions/compare.actions.ts
  apps/cdba/src/app/compare/store/effects/compare.effects.spec.ts
  apps/cdba/src/app/compare/store/effects/compare.effects.ts
  apps/cdba/src/app/compare/store/reducers/compare.reducer.spec.ts
  apps/cdba/src/app/compare/store/reducers/compare.reducer.ts
  apps/cdba/src/app/compare/store/selectors/compare.selectors.ts
  apps/cdba/src/testing/mocks/state/compare-state.mock.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(deps): update @angular/angular to v11.2.11
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngrx/component-store to v11.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(goldwind): 🚀 1.12.1 [ci skip]
  apps/goldwind/CHANGELOG.md
  apps/goldwind/package.json
Owners: @krausrbe, @saragjri

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency tailwindcss to v2.1.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(gq): changed customer identifier naming
  apps/gq/src/app/case-view/case-table/config/column-def.service.ts
  apps/gq/src/app/core/store/effects/create-case/create-case.effects.spec.ts
  apps/gq/src/app/core/store/effects/create-case/create-case.effects.ts
  apps/gq/src/app/customer-view/customer-information/customer-information.component.html
  apps/gq/src/app/shared/custom-status-bar/open-case-button/open-case-button.component.ts
  apps/gq/src/app/shared/header/customer-header/customer-header.component.html
  apps/gq/src/app/shared/models/customer/customer.model.ts
  apps/gq/src/testing/mocks/customer.mock.ts
Owners: @soehnpsc, @herpisef

chore(deps): update ngrx to v11.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @testing-library/jest-dom to v5.12.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency postcss to v8.2.12
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency core-js to v3.11.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency stylelint to v13.13.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(cdba): 🚀 1.19.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(docs): update docs [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update eslint
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef
