Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @pelzesen, @rieckpil_ext, @gerlitm, @geissbnj, @birketho, @soehnpsc, @juskibry

chore(deps): update @nrwl/nx to v12.6.2
  angular.json
  apps/cdba/webpack.config.js
  apps/gq/webpack.config.js
  apps/ia/webpack.config.js
  package-lock.json
  package.json
  renovate.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @rieckpil_ext, @soehnpsc

chore(deps): update dependency commitlint to v13
  package-lock.json
  package.json
  renovate.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mm): translate dialog strings (UFTABI-4913)
  apps/mm/src/assets/i18n/de.json
  apps/mm/src/assets/i18n/en.json
  apps/mm/src/assets/i18n/es.json
  apps/mm/src/assets/i18n/fr.json
  apps/mm/src/assets/i18n/ru.json
  apps/mm/src/assets/i18n/zh.json
Owners: @juskibry, @birketho, @krausrbe, @berndcri

feat(ia): use one dialog to show employee list (IA-221)
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.component.spec.ts
  apps/ia/src/app/loss-of-skill/lost-job-profiles/lost-job-profiles.component.ts
  apps/ia/src/app/organizational-view/org-chart/org-chart.component.spec.ts
  apps/ia/src/app/organizational-view/org-chart/org-chart.component.ts
  apps/ia/src/app/organizational-view/org-chart/org-chart.module.ts
  apps/ia/src/app/organizational-view/org-chart/team-member-dialog/team-member-dialog.component.html
  apps/ia/src/app/organizational-view/org-chart/team-member-dialog/team-member-dialog.component.spec.ts
  apps/ia/src/app/organizational-view/org-chart/team-member-dialog/team-member-dialog.component.ts
  apps/ia/src/app/organizational-view/org-chart/team-member-dialog/team-member-dialog.module.ts
  apps/ia/src/app/overview/entries-exits/entries-exits.component.html
  apps/ia/src/app/overview/entries-exits/entries-exits.component.ts
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/overview/overview.component.ts
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog-meta-headings.model.ts
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog-meta.model.ts
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.component.html
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.component.spec.ts
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.component.ts
  apps/ia/src/app/shared/employee-list-dialog/employee-list-dialog.module.ts
  apps/ia/src/app/shared/kpi/kpi.component.spec.ts
  apps/ia/src/app/shared/kpi/kpi.component.ts
  apps/ia/src/app/shared/kpi/kpi.module.ts
  apps/ia/src/assets/i18n/en.json
  apps/ia/src/assets/i18n/loss-of-skill/en.json
  apps/ia/src/assets/i18n/organizational-view/en.json
  apps/ia/src/assets/i18n/overview/en.json
Owners: @herpisef

chore(deps): update dependency @types/node to v16.4.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(subheader): added documentation
  libs/shared/ui/subheader/README.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ga): responsive tiles in landing page (UFTABI-4801)
  apps/ga/src/app/app.component.html
  apps/ga/src/app/app.component.scss
  apps/ga/src/app/app.component.ts
  apps/ga/src/app/app.module.ts
  apps/ga/src/assets/i18n/en.json
  apps/ga/src/assets/images/Arcanol.jpg
  apps/ga/src/assets/images/calc.png
  apps/ga/src/assets/images/lubricators.png
  apps/ga/src/assets/images/medias.png
  apps/ga/src/styles.scss
Owners: @juskibry, @krausrbe, @berndcri

feat(snackbar): update icon, control duration (UFTABI-4814)
  libs/shared/ui/snackbar/src/lib/snackbar.component.spec.ts
  libs/shared/ui/snackbar/src/lib/snackbar.component.ts
  libs/shared/ui/snackbar/src/lib/snackbar.service.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mm): use shared subheader (UFTABI-4893)
  apps/mm/src/app/legal/legal.component.html
  apps/mm/src/app/legal/legal.component.spec.ts
  apps/mm/src/app/legal/legal.component.ts
  apps/mm/src/app/legal/legal.module.ts
  libs/shared/ui/subheader/src/lib/subheader.component.html
Owners: @juskibry, @birketho, @krausrbe, @berndcri, @kauppfbi, @herpisef

fix(gq): fixed Price Difference % not correct concerning Price Unit > 1 (GQUOTE-775 )
  apps/gq/src/app/shared/services/price-service/price.service.spec.ts
  apps/gq/src/app/shared/services/price-service/price.service.ts
Owners: @soehnpsc, @herpisef

feat(gq): removed limit for create manual case (GQUOTE-767)
  apps/gq/src/app/shared/custom-status-bar/material-validation-status/material-validation-status.component.html
  apps/gq/src/app/shared/custom-status-bar/material-validation-status/material-validation-status.component.scss
  apps/gq/src/app/shared/custom-status-bar/material-validation-status/material-validation-status.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/material-validation-status/material-validation-status.component.ts
Owners: @soehnpsc, @herpisef

chore(deps): update dependency @types/node to v16.4.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(goldwind): add center loads for force and momentum on there axises
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.spec.ts
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.spec.ts
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.component.spec.ts
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.component.ts
  apps/goldwind/src/app/bearing/load-assessment/load-assessment.module.ts
  apps/goldwind/src/app/core/http/rest.service.spec.ts
  apps/goldwind/src/app/core/http/rest.service.ts
  apps/goldwind/src/app/core/store/actions/center-load/center-load.actions.spec.ts
  apps/goldwind/src/app/core/store/actions/center-load/center-load.actions.ts
  apps/goldwind/src/app/core/store/actions/index.ts
  apps/goldwind/src/app/core/store/effects/load-assessment/load-assessment.effects.spec.ts
  apps/goldwind/src/app/core/store/effects/load-assessment/load-assessment.effects.ts
  apps/goldwind/src/app/core/store/reducers/center-load/center-load.reducer.spec.ts
  apps/goldwind/src/app/core/store/reducers/center-load/center-load.reducer.ts
  apps/goldwind/src/app/core/store/reducers/index.ts
  apps/goldwind/src/app/core/store/reducers/load-assessment/load-assessment.reducer.ts
  apps/goldwind/src/app/core/store/reducers/load-assessment/models/load-assessment-display.model.ts
  apps/goldwind/src/app/core/store/reducers/shaft/shaft.reducer.ts
  apps/goldwind/src/app/core/store/reducers/static-safety/static-safety.reducer.spec.ts
  apps/goldwind/src/app/core/store/selectors/center-load/center-load.selector.spec.ts
  apps/goldwind/src/app/core/store/selectors/center-load/center-load.selector.ts
  apps/goldwind/src/app/core/store/selectors/load-assessment/load-assessment.selector.spec.ts
  apps/goldwind/src/app/core/store/selectors/load-assessment/load-assessment.selector.ts
  apps/goldwind/src/app/core/store/selectors/static-safety/static-safety.selector.spec.ts
  apps/goldwind/src/app/shared/constants/load-assessment-controls.ts
  apps/goldwind/src/app/shared/models/center-load.ts
  apps/goldwind/src/app/shared/models/controls.ts
  apps/goldwind/src/app/shared/models/index.ts
  apps/goldwind/src/app/shared/store/utils.action.ts
  apps/goldwind/src/app/shared/store/utils.reducer.ts
  apps/goldwind/src/app/shared/store/utils.selector.ts
  apps/goldwind/src/assets/i18n/en.json
  apps/goldwind/src/testing/mocks/display.mock.ts
Owners: @krausrbe, @gerlitm, @geissbnj

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(workspace): fix autogeneration of readme
  README.md
  docs/01_description.md
  md-magic.config.js
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ia): update period of time to support wider range (IA-232)
  apps/ia/src/app/shared/date-input/date-input.component.html
  apps/ia/src/app/shared/date-input/date-input.component.spec.ts
  apps/ia/src/app/shared/date-input/date-input.component.ts
Owners: @herpisef

chore(deps): update @angular/angular to v12.1.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v16.4.6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency rxjs to v7.3.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

refactor(cdba): fix non ngrx-related lint issues (UFTABI-4832)
  apps/cdba/.eslintrc.json
  apps/cdba/src/app/core/store/reducers/search/filter-item.entity.ts
  apps/cdba/src/app/core/store/reducers/search/search.reducer.ts
  apps/cdba/src/app/results/reference-types-table/config/column-definitions.service.spec.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.ts
  apps/cdba/src/app/search/services/search-utility.service.ts
  apps/cdba/src/app/shared/components/bom-chart/bom-chart.component.spec.ts
  apps/cdba/src/app/shared/components/bom-chart/bom-chart.component.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.ts
  apps/cdba/src/app/shared/components/calculations-table/config/column-definitions.service.spec.ts
  apps/cdba/src/testing/index.ts
  apps/cdba/src/testing/types/index.ts
  apps/cdba/src/testing/types/value-formatter-function.ts
  apps/cdba/src/testing/types/value-getter-function.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext

Revert "fix(gp): add debug config (GQUOTE-676)"
  apps/gq/src/app/shared/services/column-utility-service/column-def.service.spec.ts
  apps/gq/src/app/shared/services/column-utility-service/column-def.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc, @herpisef

feat(gq): added last offer data to workarea (GQUOTE-629)
  apps/gq/src/app/shared/models/quotation-detail/index.ts
  apps/gq/src/app/shared/models/quotation-detail/last-offer-detail.model.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-detail.model.ts
  apps/gq/src/app/shared/services/column-utility-service/column-def.service.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.spec.ts
  apps/gq/src/app/shared/services/column-utility-service/column-utility.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/last-offer-detail.mock.ts
  apps/gq/src/testing/mocks/quotation-details.mock.ts
Owners: @soehnpsc, @herpisef

feat(gq): add position counter to work area (GQUOTE-565)
  apps/gq/src/app/process-case-view/process-case-view.component.spec.ts
  apps/gq/src/app/process-case-view/quotation-details-table/config/framework-components.ts
  apps/gq/src/app/process-case-view/quotation-details-table/config/status-bar.ts
  apps/gq/src/app/shared/custom-status-bar/custom-status-bar.module.ts
  apps/gq/src/app/shared/custom-status-bar/quotation-details-status/quotation-details-status.component.html
  apps/gq/src/app/shared/custom-status-bar/quotation-details-status/quotation-details-status.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/total-row-count/total-row-count.component.html
  apps/gq/src/app/shared/custom-status-bar/total-row-count/total-row-count.component.spec.ts
  apps/gq/src/app/shared/custom-status-bar/total-row-count/total-row-count.component.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @soehnpsc, @herpisef

chore(deps): update @angular/angular-cli
  README.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(snackbar): fix type error (UFTABI-4814)
  libs/shared/ui/snackbar/src/lib/snackbar-data.model.ts
  libs/shared/ui/snackbar/src/lib/snackbar.component.ts
  libs/shared/ui/snackbar/src/lib/snackbar.service.spec.ts
  libs/shared/ui/snackbar/src/lib/snackbar.service.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mm): add ru/zh general translations (UFTABI-4941)
  apps/mm/src/assets/i18n/ru.json
  apps/mm/src/assets/i18n/zh.json
Owners: @juskibry, @birketho, @krausrbe, @berndcri

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef @pelzesen
apps/helloworld-azure-e2e @kauppfbi @herpisef @pelzesen

# CDBA
apps/cdba @kauppfbi @herpisef @rieckpil_ext
apps/cdba-e2e @kauppfbi @herpisef @rieckpil_ext

# GOLDWIND
apps/goldwind @krausrbe @gerlitm @geissbnj
apps/goldwind-e2e @krausrbe @gerlitm @geissbnj

# SEDO
apps/sedo @birketho @soehnpsc @pelzesen
apps/sedo-e2e @birketho @soehnpsc @pelzesen

# GQ
apps/gq @soehnpsc @herpisef
apps/gq-e2e @soehnpsc @herpisef

# MAC
apps/mac @berndcri @birketho @pelzesen
apps/mac-e2e @berndcri @birketho @pelzesen

# IA
apps/ia @herpisef
apps/ia-e2e @herpisef

# MM
apps/mm @juskibry @birketho @krausrbe @berndcri
apps/mm-e2e @juskibry @birketho @krausrbe @berndcri

# GA
apps/ga @juskibry @krausrbe @berndcri
apps/ga-e2e @juskibry @krausrbe @berndcri

############
### Libs ###
############
