Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

chore(deps): update dependency jest-preset-angular to v8.1.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update transloco
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): add trigger resize on text input value change
  apps/sta/src/app/shared/text-input/text-input.component.html
  apps/sta/src/app/shared/text-input/text-input.component.ts
Owners: @kauppfbi, @herpisef, @birketho

chore(deps): update dependency cypress to v4.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(release): 🚀 0.2.1 [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

improvement(ui-components): enhance sidebar service tests (UFTABI-1840)
  libs/shared/responsive/src/lib/breakpoint.service.spec.ts
  libs/shared/responsive/src/lib/breakpoint.service.ts
  libs/shared/ui-components/src/lib/sidebar/sidebar.service.spec.ts
  libs/shared/ui-components/src/lib/sidebar/sidebar.service.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency zone.js to v0.10.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/components to v9.1.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-node to v8.7.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.9.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): apply npm audit fixes
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): add error message for unathorized
  apps/sta/src/assets/i18n/de.json
  apps/sta/src/assets/i18n/en.json
Owners: @kauppfbi, @herpisef, @birketho

docs(workspace): update versions ins readme
  README.md
  docs/01_description.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

improvement(workspace): standardize import sorting (UFTABI-1824)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(footer): add footer links, refactor footer (UFTABI-1830)
  apps/sta/src/app/app.component.html
  apps/sta/src/app/app.component.ts
  apps/steel/src/app/features/home/home.component.html
  apps/steel/src/app/features/home/home.component.ts
  libs/shared/ui-components/src/lib/footer/footer-link.model.ts
  libs/shared/ui-components/src/lib/footer/footer.component.html
  libs/shared/ui-components/src/lib/footer/footer.component.scss
  libs/shared/ui-components/src/lib/footer/footer.component.spec.ts
  libs/shared/ui-components/src/lib/footer/footer.component.ts
  libs/shared/ui-components/src/lib/footer/footer.module.ts
  libs/shared/ui-components/src/lib/footer/index.ts
Owners: @kauppfbi, @herpisef, @birketho, @krausrbe, @berndcri

chore(deps): lock file maintenance
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix security vulnerabilities
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): implement store for tagging (UFTABI-2162)
  apps/kitchen-sink/src/app/core/store/selectors/sidebar/sidebar.selectors.spec.ts
  apps/sta/src/app/core/store/actions/index.spec.ts
  apps/sta/src/app/core/store/actions/index.ts
  apps/sta/src/app/core/store/actions/tagging/tagging.actions.spec.ts
  apps/sta/src/app/core/store/actions/tagging/tagging.actions.ts
  apps/sta/src/app/core/store/effects/index.ts
  apps/sta/src/app/core/store/effects/tagging/tagging.effects.spec.ts
  apps/sta/src/app/core/store/effects/tagging/tagging.effects.ts
  apps/sta/src/app/core/store/index.ts
  apps/sta/src/app/core/store/reducers/index.ts
  apps/sta/src/app/core/store/reducers/tagging/models/tags-for-file-input.model.ts
  apps/sta/src/app/core/store/reducers/tagging/models/tags-for-text-input.model.ts
  apps/sta/src/app/core/store/reducers/tagging/tagging.reducer.spec.ts
  apps/sta/src/app/core/store/reducers/tagging/tagging.reducer.ts
  apps/sta/src/app/core/store/selectors/index.ts
  apps/sta/src/app/core/store/selectors/tagging/mock-tags.ts
  apps/sta/src/app/core/store/selectors/tagging/tagging.selector.spec.ts
  apps/sta/src/app/core/store/selectors/tagging/tagging.selector.ts
  apps/sta/src/app/core/store/store.module.ts
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.html
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.spec.ts
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.ts
  apps/sta/src/app/shared/fun-facts-loading-bar/fun-facts-loading-bar.service.spec.ts
  apps/sta/src/app/shared/result/models/file-replacement.model.ts
  apps/sta/src/app/shared/result/models/index.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.html
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.spec.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.ts
  apps/sta/src/app/shared/result/result.component.html
  apps/sta/src/app/shared/result/result.component.spec.ts
  apps/sta/src/app/shared/result/result.component.ts
  apps/sta/src/app/shared/result/services/data-store.service.spec.ts
  apps/sta/src/app/shared/result/services/data-store.service.ts
  apps/sta/src/app/shared/result/services/data.service.spec.ts
  apps/sta/src/app/shared/result/services/data.service.ts
  apps/sta/src/environments/environment.ts
  apps/sta/src/testing/mocks/shared/app-state.mock.ts
  apps/sta/src/testing/mocks/tagging/tagging-values.mock.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

fix(cdba): use q credentials for prod env (DSCDA-1451)
  apps/cdba/src/environments/environment.prod.ts
Owners: @kauppfbi, @herpisef

chore(workspace): fix pipeline and dependency setup
  README.md
  angular.json
  docs/03_setup.md
  nx.json
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.9.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @babel/core to v7.9.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update storybook to v5.3.17
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency babel-loader to v8.1.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-node to v8.8.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency angular-oauth2-oidc to v9.1.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v10.0.9
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ltp): add dummy loads file (ADAPLD-5961)
  apps/ltp/src/app/feature/prediction/prediction.component.html
  apps/ltp/src/app/feature/prediction/prediction.component.spec.ts
  apps/ltp/src/app/feature/prediction/prediction.component.ts
  apps/ltp/src/assets/i18n/de.json
  apps/ltp/src/assets/i18n/en.json
  apps/ltp/src/assets/loads/cca-sql-dump.txt
Owners: @krausrbe, @berndcri

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular to v9.1.0
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(empty-states): remove unused headlineWrapper (UFTABI-1819)
  libs/shared/empty-states/src/index.ts
  libs/shared/empty-states/src/lib/headline-wrapper/headline-wrapper.component.html
  libs/shared/empty-states/src/lib/headline-wrapper/headline-wrapper.component.spec.ts
  libs/shared/empty-states/src/lib/headline-wrapper/headline-wrapper.component.ts
  libs/shared/empty-states/src/lib/headline-wrapper/headline-wrapper.module.spec.ts
  libs/shared/empty-states/src/lib/headline-wrapper/headline-wrapper.module.ts
  libs/shared/empty-states/src/lib/headline-wrapper/index.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix: pipeline fails due to too big style bundles (UFTABI-2318)
  angular.json
  apps/sta/src/app/feature/overview/overview.component.html
  apps/sta/src/app/feature/overview/overview.component.scss
  apps/sta/src/app/shared/result/result.component.scss
  apps/sta/src/styles.scss
  docs/03_setup.md
  libs/shared/ui-components/src/lib/banner/banner-text/banner-text.component.html
  libs/shared/ui-components/src/lib/banner/banner-text/banner-text.component.scss
  libs/shared/ui-components/src/lib/footer/footer.component.scss
  libs/shared/ui-components/src/lib/header/header.component.scss
  libs/shared/ui-components/src/lib/header/user-menu/user-menu.component.scss
  libs/shared/ui-components/src/lib/scroll-to-top/scroll-to-top.component.html
  libs/shared/ui-components/src/lib/scroll-to-top/scroll-to-top.component.scss
  libs/shared/ui-components/src/lib/settings-sidebar/settings-sidebar.component.html
  libs/shared/ui-components/src/lib/settings-sidebar/settings-sidebar.component.scss
  libs/shared/ui-components/src/lib/sidebar/sidebar.component.scss
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

improvement(auth): enhance authentication library (UFTABI-2264)
  apps/cdba/src/app/app.component.spec.ts
  apps/cdba/src/app/app.component.ts
  apps/cdba/src/app/core/store/actions/index.ts
  apps/cdba/src/app/core/store/actions/user/user.actions.ts
  apps/cdba/src/app/core/store/effects/index.ts
  apps/cdba/src/app/core/store/effects/user/user.effects.spec.ts
  apps/cdba/src/app/core/store/effects/user/user.effects.ts
  apps/cdba/src/app/core/store/index.ts
  apps/cdba/src/app/core/store/reducers/index.ts
  apps/cdba/src/app/core/store/reducers/user/user.reducer.spec.ts
  apps/cdba/src/app/core/store/reducers/user/user.reducer.ts
  apps/cdba/src/app/core/store/selectors/index.ts
  apps/cdba/src/app/core/store/selectors/user/user.selectors.spec.ts
  apps/cdba/src/app/core/store/selectors/user/user.selectors.ts
  apps/cdba/src/app/core/store/store.module.ts
  libs/shared/auth/README.md
  libs/shared/auth/src/index.ts
  libs/shared/auth/src/lib/auth.service.spec.ts
  libs/shared/auth/src/lib/auth.service.ts
  libs/shared/auth/src/lib/shared-auth.module.spec.ts
  libs/shared/auth/src/lib/shared-auth.module.ts
  libs/shared/auth/src/lib/store/actions/auth.actions.spec.ts
  libs/shared/auth/src/lib/store/actions/auth.actions.ts
  libs/shared/auth/src/lib/store/effects/auth.effects.spec.ts
  libs/shared/auth/src/lib/store/effects/auth.effects.ts
  libs/shared/auth/src/lib/store/index.ts
  libs/shared/auth/src/lib/store/reducers/auth.reducer.spec.ts
  libs/shared/auth/src/lib/store/reducers/auth.reducer.ts
  libs/shared/auth/src/lib/store/selectors/auth.selectors.spec.ts
  libs/shared/auth/src/lib/store/selectors/auth.selectors.ts
  libs/shared/auth/src/lib/store/store.module.ts
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri

chore(deps): update nrwl
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @testing-library/jest-dom to v5.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.9.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest to v25.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(testing): add debug command for unit tests
  package.json
  tools/debugging/debug-unit-tests.js
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# STA
apps/sta @kauppfbi @herpisef @birketho
apps/sta-e2e @kauppfbi @herpisef @birketho

# STEEL
apps/steel @krausrbe
apps/steel-e2e @krausrbe

# CDBA
apps/cdba @kauppfbi @herpisef
apps/cdba-e2e @kauppfbi @herpisef

############
### Libs ###
############

# assets
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# cypress-utils
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# empty-states
libs/shared/empty-states @kauppfbi @krausrbe @berndcri @herpisef

# responsive
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# styles
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# transloco
libs/shared/transloco @kauppfbi @krausrbe @berndcri @herpisef

# ui-components
libs/shared/ui-components @kauppfbi @krausrbe @berndcri @herpisef
