Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @andrafnk, @birketho, @soehnpsc

feat(ci): deactivate nightly
  Jenkinsfile
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update nrwl to v11.0.9
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(gq): use shared ui components
  apps/gq/src/app/case-view/create-case-dialog/create-case-dialog.component.html
  apps/gq/src/app/case-view/create-case-dialog/create-case-dialog.component.scss
  apps/gq/src/app/case-view/create-case-dialog/create-case-dialog.component.spec.ts
  apps/gq/src/app/case-view/create-case-dialog/create-case-dialog.component.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-entry/add-entry.component.html
  apps/gq/src/app/process-case-view/add-material-dialog/add-entry/add-entry.component.scss
  apps/gq/src/app/process-case-view/add-material-dialog/add-entry/add-entry.component.spec.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-entry/add-entry.component.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-entry/add-entry.module.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-dialog.component.html
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-dialog.component.spec.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-dialog.module.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/add-material-input-table.component.html
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/add-material-input-table.component.scss
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/add-material-input-table.component.spec.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/add-material-input-table.component.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/add-material-input-table.module.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/config/column-def.spec.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/config/column-defs.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/config/default-column-def.spec.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/config/default-column-defs.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/config/framework-components.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/config/index.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/config/module.ts
  apps/gq/src/app/process-case-view/add-material-dialog/add-material-input-table/config/status-bar.ts
  apps/gq/src/app/process-case-view/process-case-view.component.spec.ts
  apps/gq/src/app/shared/case-material/add-entry/add-entry.component.html
  apps/gq/src/app/shared/case-material/add-entry/add-entry.component.scss
  apps/gq/src/app/shared/case-material/add-entry/add-entry.component.spec.ts
  apps/gq/src/app/shared/case-material/add-entry/add-entry.component.ts
  apps/gq/src/app/shared/case-material/input-table/config/column-defs.ts
  apps/gq/src/app/shared/case-material/input-table/config/framework-components.ts
  apps/gq/src/app/shared/case-material/input-table/input-table.component.spec.ts
  apps/gq/src/app/shared/case-material/input-table/input-table.component.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
Owners: @andrafnk, @soehnpsc, @herpisef

chore(deps): update @angular/angular to v11.0.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(workspace): update versions in readme
  README.md
  docs/01_description.md
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ci): activate nightly
  Jenkinsfile
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mac): change card icons (UFTABI-3525)
  apps/mac/src/app/feature/overview/overview.component.scss
  apps/mac/src/app/feature/overview/overview.component.ts
  apps/mac/src/assets/img/aqm_calculator.png
  apps/mac/src/assets/img/carbonitriding_prediction.png
  apps/mac/src/assets/img/hardness_converter.png
  apps/mac/src/assets/img/lifetime_documenter.png
  apps/mac/src/assets/img/lifetime_predictor.png
  apps/mac/src/assets/img/lifetime_visualizer.png
  apps/mac/src/assets/img/ltd.png
  apps/mac/src/assets/img/ltp.png
  apps/mac/src/assets/img/ltv.png
  apps/mac/src/assets/img/materials_app_center.png
  apps/mac/src/assets/img/polyassist.png
  apps/mac/src/assets/img/steel_cleanliness_database.png
  apps/mac/src/assets/img/steel_supplier_data_presenter.png
Owners: @berndcri, @kauppfbi, @birketho

feat(mac): activate application insight (UFTABI-3521)
  apps/mac/src/app/core/core.module.ts
  apps/mac/src/app/feature/overview/overview.component.html
  apps/mac/src/app/feature/overview/overview.component.spec.ts
  apps/mac/src/app/feature/overview/overview.component.ts
  apps/mac/src/app/feature/overview/overview.module.ts
  apps/mac/src/environments/environment.dev.ts
  apps/mac/src/environments/environment.prod.ts
  apps/mac/src/environments/environment.ts
Owners: @berndcri, @kauppfbi, @birketho

feat(mac): change log string
  apps/mac/src/app/feature/overview/overview.component.ts
Owners: @berndcri, @kauppfbi, @birketho

feat(mac): remove comment
  apps/mac/src/app/feature/overview/overview.component.ts
Owners: @berndcri, @kauppfbi, @birketho

fix(mac): fix linter issue
  apps/mac/src/app/feature/overview/overview.component.ts
Owners: @berndcri, @kauppfbi, @birketho

feat(gq): displaying Quotation-Case Details in Case Header (GQUOTE-236)
  apps/gq/src/app/core/store/models/quotation.model.ts
  apps/gq/src/app/offer-view/offer-view.component.html
  apps/gq/src/app/process-case-view/process-case-view.component.html
  apps/gq/src/app/shared/case-header/case-header.component.html
  apps/gq/src/app/shared/case-header/case-header.component.scss
  apps/gq/src/app/shared/case-header/case-header.component.spec.ts
  apps/gq/src/app/shared/case-header/case-header.component.ts
  apps/gq/src/app/shared/case-header/case-header.module.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/quotation.mock.ts
Owners: @andrafnk, @soehnpsc, @herpisef

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# CDBA
apps/cdba @kauppfbi @herpisef @andrafnk
apps/cdba-e2e @kauppfbi @herpisef @andrafnk

# GOLDWIND
apps/goldwind @krausrbe 
apps/goldwind-e2e @krausrbe 

# SELI
apps/seli @birketho @soehnpsc 
apps/seli-e2e @birketho @soehnpsc
 
# GQ
apps/gq @andrafnk @soehnpsc @herpisef 
apps/gq-e2e @andrafnk @soehnpsc @herpisef

# MAC
apps/mac @berndcri @kauppfbi @birketho
apps/mac-e2e @berndcri @kauppfbi @birketho

# IA
apps/ia @herpisef 
apps/ia-e2e @herpisef 

############
### Libs ###
############
