Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

chore(deps): update dependency stylelint to v13.5.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency cypress to v4.6.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.13.9
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update storybook to v5.3.19
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): implement multi select filter (DSCDA-1586)
  apps/cdba/src/app/core/store/reducers/search/models/filter-item-id-value.model.ts
  apps/cdba/src/app/core/store/reducers/search/models/id-value.model.ts
  apps/cdba/src/app/core/store/reducers/search/search.reducer.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.html
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.scss
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-value.pipe.spec.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-value.pipe.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.html
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.module.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
  package.json
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri

chore(deps): update dependency eslint to v7.1.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v10.2.6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @testing-library/jest-dom to v5.8.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular to v9.1.9
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): enable retention of column state in ref types table (DSCDA-1456|DSCDA-1477)
  apps/cdba/src/app/search/reference-types-table/column-state.ts
  apps/cdba/src/app/search/reference-types-table/config/column-definitions.ts
  apps/cdba/src/app/search/reference-types-table/config/default-column-state.ts
  apps/cdba/src/app/search/reference-types-table/config/index.ts
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.html
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.spec.ts
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.ts
  apps/cdba/src/app/search/reference-types-table/sort-state.ts
  apps/cdba/src/app/search/search.component.spec.ts
  apps/cdba/src/app/shared/services/ag-grid-state.service.spec.ts
  apps/cdba/src/app/shared/services/ag-grid-state.service.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
Owners: @kauppfbi, @herpisef

fix(cdba): consider unselected options in filter dropdown (DSCDA-1669)
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.ts
Owners: @kauppfbi, @herpisef

chore(deps): update dependency @babel/core to v7.10.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency cypress to v4.7.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @babel/core to v7.10.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

ci(workspace): visualize checkstyle issues correctly
  Jenkinsfile
  tslint.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix build trigger for nightly jobs
  Jenkinsfile
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): integrate forbidden page for non authorized users (DSCDA-1594)
  apps/cdba/src/app/app-route-path.enum.ts
  apps/cdba/src/app/app-routing.module.ts
  apps/cdba/src/app/core/guards/index.ts
  apps/cdba/src/app/core/guards/role.guard.spec.ts
  apps/cdba/src/app/core/guards/role.guard.ts
  apps/cdba/src/app/shared/constants/forbidden-action.ts
  apps/cdba/src/app/shared/constants/index.ts
  libs/shared/empty-states/src/index.ts
  libs/shared/empty-states/src/lib/forbidden/README.md
  libs/shared/empty-states/src/lib/forbidden/forbidden.component.html
  libs/shared/empty-states/src/lib/forbidden/forbidden.component.scss
  libs/shared/empty-states/src/lib/forbidden/forbidden.component.spec.ts
  libs/shared/empty-states/src/lib/forbidden/forbidden.component.ts
  libs/shared/empty-states/src/lib/forbidden/forbidden.module.ts
  libs/shared/empty-states/src/lib/forbidden/i18n/de.json
  libs/shared/empty-states/src/lib/forbidden/i18n/en.json
  libs/shared/empty-states/src/lib/forbidden/img/403-error.svg
  libs/shared/empty-states/src/lib/forbidden/index.ts
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri

ci(workspace): use custom builder to generate custom changelogs per project
  Jenkinsfile
  angular.json
  package.json
  tools/npm-scripts/release.js
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(workspace): adjust transloco lib import path
  tools/schematics/new-app/files/app/app/core/core.module.ts.template
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): frontend adjustments sta (UFTABI-2380)
  apps/sta/src/app/app.component.spec.ts
  apps/sta/src/app/app.component.ts
  apps/sta/src/app/shared/language-detection/language-detection.component.html
  apps/sta/src/app/shared/language-detection/language-detection.component.scss
  apps/sta/src/app/shared/language-detection/language-detection.component.ts
  apps/sta/src/app/shared/result/result-translation/result-translation.component.scss
  apps/sta/src/app/shared/text-input/text-input.component.html
  apps/sta/src/app/shared/text-input/text-input.component.spec.ts
  apps/sta/src/app/shared/text-input/text-input.component.ts
  libs/shared/ui/settings-sidebar/src/lib/settings-sidebar.component.html
  libs/shared/utils/responsive/src/lib/breakpoint.service.spec.ts
  libs/shared/utils/responsive/src/lib/breakpoint.service.ts
Owners: @kauppfbi, @herpisef, @birketho, @krausrbe, @berndcri

chore(release): 🚀 0.5.0 [ci skip]
  CHANGELOG.md
  README.md
  cdba-checkstyle-result.txt
  cdba-e2e-checkstyle-result.txt
  docs/01_description.md
  helloworld-azure-checkstyle-result.txt
  helloworld-azure-e2e-checkstyle-result.txt
  kitchen-sink-checkstyle-result.txt
  kitchen-sink-e2e-checkstyle-result.txt
  ltp-checkstyle-result.txt
  ltp-e2e-checkstyle-result.txt
  package-lock.json
  package.json
  shared-ui-header-checkstyle-result.txt
  shared-ui-settings-sidebar-checkstyle-result.txt
  shared-ui-sidebar-checkstyle-result.txt
  shared-utils-responsive-checkstyle-result.txt
  sta-checkstyle-result.txt
  sta-e2e-checkstyle-result.txt
  steel-checkstyle-result.txt
  steel-e2e-checkstyle-result.txt
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix security vulnerabilities
  README.md
  docs/01_description.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): adapt to new REST API without filter merge logic (DSCDA-1663)
  apps/cdba/src/app/app.component.spec.ts
  apps/cdba/src/app/core/store/actions/search/search.actions.spec.ts
  apps/cdba/src/app/core/store/actions/search/search.actions.ts
  apps/cdba/src/app/core/store/effects/search/search.effects.spec.ts
  apps/cdba/src/app/core/store/effects/search/search.effects.ts
  apps/cdba/src/app/core/store/reducers/search/filter-item.entity.ts
  apps/cdba/src/app/core/store/reducers/search/models/filter-item-id-value-update.model.ts
  apps/cdba/src/app/core/store/reducers/search/models/filter-item-id-value.model.ts
  apps/cdba/src/app/core/store/reducers/search/models/filter-item-range-update.model.ts
  apps/cdba/src/app/core/store/reducers/search/models/id-value.model.ts
  apps/cdba/src/app/core/store/reducers/search/models/index.ts
  apps/cdba/src/app/core/store/reducers/search/models/search-result.model.ts
  apps/cdba/src/app/core/store/reducers/search/search.reducer.spec.ts
  apps/cdba/src/app/core/store/reducers/search/search.reducer.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.spec.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.html
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.scss
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-value.pipe.spec.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter-value.pipe.spec.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.html
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.module.ts
  apps/cdba/src/app/search/search-response.model.ts
  apps/cdba/src/app/search/search.service.ts
  apps/cdba/src/app/search/services/search-utility.service.spec.ts
  apps/cdba/src/app/search/services/search-utility.service.ts
  apps/cdba/src/app/search/services/search.service.spec.ts
  apps/cdba/src/app/search/services/search.service.ts
  package-lock.json
  package.json
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri

fix(ltp): adjust chart and legend colors, chart bugfix (ADAPLD-6714)
  apps/ltp/src/app/core/services/helpers.service.ts
  apps/ltp/src/app/core/services/rest.service.spec.ts
  apps/ltp/src/app/core/services/rest.service.ts
  apps/ltp/src/app/core/store/actions/prediction.actions.ts
  apps/ltp/src/app/core/store/effects/prediction.effects.ts
  apps/ltp/src/app/core/store/reducers/prediction.reducer.spec.ts
  apps/ltp/src/app/core/store/reducers/prediction.reducer.ts
  apps/ltp/src/app/core/store/selectors/prediction.selectors.ts
  apps/ltp/src/app/feature/prediction/prediction.component.spec.ts
  apps/ltp/src/app/feature/prediction/prediction.component.ts
  apps/ltp/src/app/shared/constants/graph-definitions-woehler.ts
  apps/ltp/src/app/shared/models/index.ts
  apps/ltp/src/app/shared/models/loads-request.model.ts
  apps/ltp/src/app/shared/models/loads.model.ts
Owners: @krausrbe, @berndcri

feat(workspace): fix remaining checkstyle issues (UFTABI-2475)
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.html
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.spec.ts
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.ts
  apps/sta/src/app/feature/translation/translation.component.html
  apps/sta/src/app/shared/ghost-elements/ghost-line-elements.component.html
  apps/sta/src/app/shared/ghost-elements/ghost-line-elements.component.spec.ts
  apps/sta/src/app/shared/ghost-elements/ghost-line-elements.component.ts
  apps/sta/src/app/shared/language-detection/language-detection.component.html
  apps/sta/src/app/shared/language-detection/language-detection.component.spec.ts
  apps/sta/src/app/shared/language-detection/language-detection.component.ts
  apps/sta/src/app/shared/result/result-translation/result-translation.component.html
  libs/shared/ui/sidebar/src/lib/sidebar-elements/sidebar-elements.component.html
  libs/shared/ui/sidebar/src/lib/sidebar-elements/sidebar-elements.component.spec.ts
  libs/shared/ui/sidebar/src/lib/sidebar-elements/sidebar-elements.component.ts
Owners: @krausrbe, @berndcri, @kauppfbi, @herpisef, @birketho

chore(deps): update ngrx to v9.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-node to v8.10.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency stylelint-order to v4.1.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v10.2.8
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @babel/core to v7.10.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix security vulnerabilities
  README.md
  docs/01_description.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/transloco to v2.17.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update devextreme to v20.1.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.13.10
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): no results found msg for search in autocomplete (DSCDA-1670)
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.html
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.scss
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/pipes/multi-select-value.pipe.spec.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/pipes/multi-select-value.pipe.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/pipes/no-results-found.pipe.spec.ts
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/pipes/no-results-found.pipe.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.module.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
Owners: @kauppfbi, @herpisef

chore(deps): update dependency stylelint to v13.6.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency htmlhint to v0.14.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix security vulnerabilities
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): connect reference types table to backend (DSCDA-1493)
  apps/cdba/src/app/core/core.module.ts
  apps/cdba/src/app/core/store/actions/search/search.actions.spec.ts
  apps/cdba/src/app/core/store/effects/search/search.effects.spec.ts
  apps/cdba/src/app/core/store/reducers/search/models/reference-type.model.ts
  apps/cdba/src/app/core/store/reducers/search/search.reducer.spec.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.spec.ts
  apps/cdba/src/app/search/reference-types-table/config/column-definitions.spec.ts
  apps/cdba/src/app/search/reference-types-table/config/column-definitions.ts
  apps/cdba/src/app/search/reference-types-table/config/column-utils.spec.ts
  apps/cdba/src/app/search/reference-types-table/config/column-utils.ts
  apps/cdba/src/app/search/reference-types-table/config/default-column-state.ts
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.ts
  apps/cdba/src/app/search/reference-types-table/sample-data.ts
  apps/cdba/src/app/search/search.component.html
  apps/cdba/src/app/search/search.component.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
  apps/cdba/src/testing/mocks/index.ts
  apps/cdba/src/testing/mocks/reference-type.mock.ts
Owners: @kauppfbi, @herpisef

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# STA
apps/sta @kauppfbi @herpisef @birketho
apps/sta-e2e @kauppfbi @herpisef @birketho

# STEEL
apps/steel @krausrbe
apps/steel-e2e @krausrbe

# CDBA
apps/cdba @kauppfbi @herpisef
apps/cdba-e2e @kauppfbi @herpisef

############
### Libs ###
############
