Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# STA
apps/sta @kauppfbi @herpisef @birketho
apps/sta-e2e @kauppfbi @herpisef @birketho

# STEEL
apps/steel @krausrbe
apps/steel-e2e @krausrbe

# CDBA
apps/cdba @kauppfbi @herpisef
apps/cdba-e2e @kauppfbi @herpisef

############
### Libs ###
############

# assets
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# cypress-utils
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# empty-states
libs/shared/empty-states @kauppfbi @krausrbe @berndcri @herpisef

# responsive
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# styles
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# transloco
libs/shared/transloco @kauppfbi @krausrbe @berndcri @herpisef

# ui-components
libs/shared/ui-components @kauppfbi @krausrbe @berndcri @herpisef

chore(deps): update @angular/angular to v9.1.3
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency angular-oauth2-oidc to v9.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(settings-sidebar): remove backdrop following brand guidelines
  libs/shared/ui-components/src/lib/settings-sidebar/settings-sidebar.component.html
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency angular-oauth2-oidc to v9.2.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/transloco to v2.16.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency prettier to v2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/transloco to v2.17.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-node to v8.9.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.13.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency tslint to v6.1.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(workspace): enable custom changelogs for each project
  Jenkinsfile
  README.md
  apps/cdba/.versionrc.json
  apps/helloworld-azure/.versionrc.json
  apps/kitchen-sink/.versionrc.json
  apps/ltp/.versionrc.json
  apps/sta/.versionrc.json
  apps/steel/.versionrc.json
  docs/01_description.md
  libs/shared/assets/.versionrc.json
  libs/shared/auth/.versionrc.json
  libs/shared/cypress-utils/.versionrc.json
  libs/shared/empty-states/.versionrc.json
  libs/shared/responsive/.versionrc.json
  libs/shared/styles/.versionrc.json
  libs/shared/transloco/.versionrc.json
  libs/shared/ui-components/.versionrc.json
  package-lock.json
  package.json
  tools/npm-scripts/debug-unit-tests.js
  tools/npm-scripts/release.js
  tools/schematics/new-app/files/standard-version/.versionrc.json.template
  tools/schematics/new-app/index.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

feat(footer): bottom sticky footer (UFTABI-2263)
  apps/helloworld-azure/src/app/app.component.html
  apps/kitchen-sink/src/app/app.component.html
  apps/sta/src/app/app.component.html
  apps/steel/src/app/features/home/home.component.html
  libs/shared/styles/src/lib/common.scss
  libs/shared/ui-components/src/lib/scroll-to-top/scroll-to-top.directive.ts
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri, @birketho

chore(deps): update dependency lint-staged to v10.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/transloco-keys-manager to v2.0.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency cypress to v4.5.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest to v25.5.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular to v9.1.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update transloco
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/components to v9.2.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency commitizen to v4.0.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v10.2.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @babel/core to v7.9.6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency cz-conventional-changelog to v3.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency commitizen to v4.1.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest to v25.5.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest to v26
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

docs(ui-components): add readme for banner, file-drop, footer, scroll-to-top, speed-dial-fab (UFTABI-1743)
  libs/shared/ui-components/src/lib/banner/readme.md
  libs/shared/ui-components/src/lib/file-drop/readme.md
  libs/shared/ui-components/src/lib/footer/readme.md
  libs/shared/ui-components/src/lib/scroll-to-top/readme.md
  libs/shared/ui-components/src/lib/speed-dial-fab/readme.md
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-node to v8.10.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef
