Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# STA
apps/sta @kauppfbi @herpisef @birketho
apps/sta-e2e @kauppfbi @herpisef @birketho

# STEEL
apps/steel @krausrbe
apps/steel-e2e @krausrbe

# CDBA
apps/cdba @kauppfbi @herpisef
apps/cdba-e2e @kauppfbi @herpisef

############
### Libs ###
############

chore(deps): update nrwl to v9.2.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency standard-version to v8
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular to v9.1.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ng-packagr to v9.1.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update ngrx to v9.1.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.13.5
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix security vulnerabilities
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(auth): Extend Auth Lib to provide more selectors (UFTABI-2322)
  libs/shared/auth/README.md
  libs/shared/auth/src/lib/auth.service.spec.ts
  libs/shared/auth/src/lib/auth.service.ts
  libs/shared/auth/src/lib/store/actions/auth.actions.ts
  libs/shared/auth/src/lib/store/effects/auth.effects.spec.ts
  libs/shared/auth/src/lib/store/effects/auth.effects.ts
  libs/shared/auth/src/lib/store/reducers/auth.reducer.spec.ts
  libs/shared/auth/src/lib/store/reducers/auth.reducer.ts
  libs/shared/auth/src/lib/store/selectors/auth.selectors.spec.ts
  libs/shared/auth/src/lib/store/selectors/auth.selectors.ts
  libs/shared/auth/src/lib/token.interceptor.spec.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(workspace): update angular@9.1.6
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update devextreme to v20
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): add reference types table with ag grid (DSCDA-1457)
  apps/cdba/src/app/search/reference-types-table/config/column-definitions.ts
  apps/cdba/src/app/search/reference-types-table/config/default-column-definition.ts
  apps/cdba/src/app/search/reference-types-table/config/side-bar.ts
  apps/cdba/src/app/search/reference-types-table/config/status-bar.ts
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.html
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.scss
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.spec.ts
  apps/cdba/src/app/search/reference-types-table/reference-types-table.component.ts
  apps/cdba/src/app/search/reference-types-table/reference-types-table.module.ts
  apps/cdba/src/app/search/reference-types-table/sample-data.ts
  apps/cdba/src/app/search/reference-types-table/status-bar/detail-view-button/detail-view-button.component.html
  apps/cdba/src/app/search/reference-types-table/status-bar/detail-view-button/detail-view-button.component.scss
  apps/cdba/src/app/search/reference-types-table/status-bar/detail-view-button/detail-view-button.component.spec.ts
  apps/cdba/src/app/search/reference-types-table/status-bar/detail-view-button/detail-view-button.component.ts
  apps/cdba/src/app/search/search.component.spec.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
  apps/cdba/src/main.ts
  apps/cdba/src/styles.scss
  package-lock.json
  package.json
  renovate.json
Owners: @kauppfbi, @herpisef, @krausrbe, @berndcri

chore(release): 🚀 0.4.0 [ci skip]
  CHANGELOG.md
  README.md
  apps/cdba/CHANGELOG.md
  apps/helloworld-azure/CHANGELOG.md
  apps/kitchen-sink/CHANGELOG.md
  apps/ltp/CHANGELOG.md
  apps/sta/CHANGELOG.md
  apps/steel/CHANGELOG.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

fix(ltp): fix load settings to be reflected in api request (ADAPLD-6690)
  apps/ltp/src/app/core/services/helpers.service.spec.ts
  apps/ltp/src/app/core/services/helpers.service.ts
  apps/ltp/src/app/core/services/rest.service.spec.ts
  apps/ltp/src/app/core/services/rest.service.ts
  apps/ltp/src/app/core/store/effects/prediction.effects.ts
  apps/ltp/src/app/core/store/reducers/prediction.reducer.spec.ts
  apps/ltp/src/app/core/store/reducers/prediction.reducer.ts
  apps/ltp/src/app/core/store/selectors/prediction.selector.spec.ts
  apps/ltp/src/app/core/store/selectors/prediction.selectors.ts
  apps/ltp/src/app/feature/prediction/prediction.component.spec.ts
  apps/ltp/src/app/feature/prediction/prediction.component.ts
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.html
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.ts
  apps/ltp/src/app/shared/constants/graph-definitions-woehler.ts
Owners: @krausrbe, @berndcri

chore(deps): update dependency eslint to v7
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngrx/entity to v9.1.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/components
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @nrwl/nx
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular to v9.1.7
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency angular-oauth2-oidc to v9.2.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency stylelint to v13.4.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @nrwl/cli to v9.3.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @angular/flex-layout to v9.0.0-beta.31
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/transloco-keys-manager to v2.0.7
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): implement Range Filter Component (DSCDA-1582)
  apps/cdba/src/app/core/store/actions/search/search.actions.spec.ts
  apps/cdba/src/app/core/store/actions/search/search.actions.ts
  apps/cdba/src/app/core/store/reducers/search/models/filter-item-range.model.ts
  apps/cdba/src/app/core/store/reducers/search/search.reducer.spec.ts
  apps/cdba/src/app/core/store/reducers/search/search.reducer.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.spec.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/input-type.enum.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter-value.pipe.spec.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter-value.pipe.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.html
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.scss
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/range-filter/range-filter.component.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.html
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.spec.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.component.ts
  apps/cdba/src/app/search/reference-types-filters/reference-types-filters.module.ts
  apps/cdba/src/app/search/reference-types-table/sample-data.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
Owners: @kauppfbi, @herpisef

chore(deps): update ag-grid to v23.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-jest to v25.5.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/jest to v25.2.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): fix security vulnerabilities
  README.md
  docs/01_description.md
  package-lock.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/components to v9.2.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v10.2.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/jest to v25.2.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency tslib to v1.13.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-jest to v26
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency stylelint to v13.4.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency htmlhint to v0.13.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): add some useful extensions
  .vscode/extensions.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest-preset-angular to v8.2.0
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency webpack-bundle-analyzer to v3.8.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ng-packagr to v9.1.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef
