Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @pelzesen, @rieckpil_ext, @gerlitm, @geissbnj, @birketho, @soehnpsc, @juskibry

fix(ia): correctly terminate ia unit tests
  apps/ia/jest.config.js
  libs/shared/ui/loading-spinner/ng-package.json
  libs/shared/ui/loading-spinner/package.json
  package-lock.json
Owners: @herpisef, @kauppfbi, @krausrbe, @berndcri

chore(deps): update @nrwl/nx to v12.5.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @azure/msal
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

style(ia): fix aligned eslint rules (UFTABI-4831)
  apps/gq/src/app/case-view/case-creation/create-customer-case/additional-filters/filter-selection/filter-selection.component.ts
  apps/ia/.eslintrc.json
  apps/ia/src/app/core/core.module.ts
  apps/ia/src/app/core/store/effects/filter/filter.effects.ts
  apps/ia/src/app/core/store/reducers/filter/filter.reducer.ts
  apps/ia/src/app/core/store/reducers/filter/selected-filter.entity.ts
  apps/ia/src/app/core/store/selectors/filter/filter.selector.ts
  apps/ia/src/app/filter-section/filter-section.component.ts
  apps/ia/src/app/loss-of-skills/lost-job-profiles/lost-job-profiles.component.spec.ts
  apps/ia/src/app/organizational-view/attrition-dialog/attrition-dialog.component.spec.ts
  apps/ia/src/app/organizational-view/org-chart/models/org-chart-config.ts
  apps/ia/src/app/organizational-view/org-chart/org-chart.component.spec.ts
  apps/ia/src/app/organizational-view/org-chart/org-chart.component.ts
  apps/ia/src/app/organizational-view/org-chart/org-chart.service.ts
  apps/ia/src/app/organizational-view/organizational-view.component.spec.ts
  apps/ia/src/app/organizational-view/world-map/world-map.component.spec.ts
  apps/ia/src/app/organizational-view/world-map/world-map.module.ts
  apps/ia/src/app/overview/entries-exits/doughnut-chart/doughnut-chart.component.spec.ts
  apps/ia/src/app/overview/entries-exits/doughnut-chart/doughnut-chart.component.ts
  apps/ia/src/app/overview/entries-exits/doughnut-chart/doughnut-chart.config.spec.ts
  apps/ia/src/app/overview/entries-exits/doughnut-chart/doughnut-chart.module.ts
  apps/ia/src/app/overview/entries-exits/entries-exits.component.spec.ts
  apps/ia/src/app/overview/overview-chart/overview-chart.component.spec.ts
  apps/ia/src/app/overview/overview-chart/overview-chart.module.ts
  apps/ia/src/app/overview/overview.component.spec.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.ts
  apps/ia/src/app/shared/autocomplete-input/autocomplete-input.component.ts
  apps/ia/src/app/shared/autocomplete-input/validation/validation-utils.ts
  apps/ia/src/app/shared/date-input/date-input.component.ts
  apps/ia/src/app/shared/line-chart/line-chart.component.spec.ts
  apps/ia/src/app/shared/line-chart/line-chart.module.ts
  apps/ia/src/app/shared/services/employee.service.ts
  apps/ia/src/main.ts
  apps/ia/src/test-setup.ts
  apps/ia/tsconfig.app.json
  apps/ia/tsconfig.json
Owners: @soehnpsc, @herpisef

feat(cdba): excel export for bill of materials (DSCDA-2389)
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.html
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.spec.ts
  apps/cdba/src/app/shared/components/bom-container/bom-container.component.ts
  apps/cdba/src/app/shared/components/bom-container/bom-container.module.ts
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.html
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.spec.ts
  apps/cdba/src/app/shared/components/bom-table/bom-table.component.ts
  apps/cdba/src/app/shared/components/table/column-utils.spec.ts
  apps/cdba/src/app/shared/components/table/column-utils.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(deps): update dependency @ngneat/transloco to v2.22.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @caeonline/dynamic-forms to v0.3.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ia): open positions dialog (IA-170)
  apps/ia/src/app/overview/models/open-application.model.ts
  apps/ia/src/app/overview/models/recruitment-source.enum.ts
  apps/ia/src/app/overview/open-positions/open-positions-list/open-positions-list.component.html
  apps/ia/src/app/overview/open-positions/open-positions-list/open-positions-list.component.spec.ts
  apps/ia/src/app/overview/open-positions/open-positions-list/open-positions-list.component.ts
  apps/ia/src/app/overview/open-positions/open-positions-list/open-positions-list.module.ts
  apps/ia/src/app/overview/open-positions/open-positions.component.html
  apps/ia/src/app/overview/open-positions/open-positions.component.spec.ts
  apps/ia/src/app/overview/open-positions/open-positions.component.ts
  apps/ia/src/app/overview/open-positions/open-positions.module.ts
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/overview/overview.module.ts
  apps/ia/src/app/shared/kpi/kpi.component.html
  apps/ia/src/assets/i18n/overview/en.json
Owners: @herpisef

feat(cdba): integrate breadcrumbs for simpler navigation (DSCDA-2129)
  apps/cdba/src/app/compare/compare.component.html
  apps/cdba/src/app/compare/compare.component.spec.ts
  apps/cdba/src/app/compare/compare.component.ts
  apps/cdba/src/app/compare/compare.module.ts
  apps/cdba/src/app/core/store/selectors/details/detail.selector.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.spec.ts
  apps/cdba/src/app/core/store/selectors/search/search.selector.ts
  apps/cdba/src/app/detail/detail.component.html
  apps/cdba/src/app/detail/detail.component.spec.ts
  apps/cdba/src/app/detail/detail.component.ts
  apps/cdba/src/app/detail/detail.module.ts
  apps/cdba/src/app/results/results.component.html
  apps/cdba/src/app/results/results.component.spec.ts
  apps/cdba/src/app/results/results.component.ts
  apps/cdba/src/app/results/results.module.ts
  apps/cdba/src/app/search/search.component.spec.ts
  apps/cdba/src/app/shared/components/calculations-table/calculations-table.component.spec.ts
  apps/cdba/src/app/shared/components/page-header/page-header.component.html
  apps/cdba/src/app/shared/directives/back-button/back-button.directive.spec.ts
  apps/cdba/src/app/shared/directives/back-button/back-button.directive.ts
  apps/cdba/src/app/shared/services/ag-grid-state/ag-grid-state.service.spec.ts
  apps/cdba/src/app/shared/services/ag-grid-state/ag-grid-state.service.ts
  apps/cdba/src/app/shared/services/breadcrumbs/breadcrumbs.service.spec.ts
  apps/cdba/src/app/shared/services/breadcrumbs/breadcrumbs.service.ts
  apps/cdba/src/app/shared/services/browser-detection/browser-detection.service.spec.ts
  apps/cdba/src/app/shared/services/browser-detection/browser-detection.service.ts
  apps/cdba/src/app/shared/services/index.ts
  apps/cdba/src/app/shared/utils/array-equals.spec.ts
  apps/cdba/src/assets/i18n/de.json
  apps/cdba/src/assets/i18n/en.json
  apps/cdba/src/test-setup.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(deps): update @nrwl/nx to v12.5.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v16
  apps/gq/src/app/shared/header/case-header/case-header.component.ts
  apps/gq/src/app/shared/info-icon/info-icon.component.ts
  apps/sedo/src/app/sales-summary/sales-row-details/sales-row-details.component.ts
  package-lock.json
  package.json
Owners: @soehnpsc, @herpisef, @birketho, @pelzesen, @kauppfbi, @krausrbe, @berndcri

chore(deps): update eslint
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(cdba): 🚀 1.26.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(docs): update docs [ci skip]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular to v12.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli to v12.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(ia): update models to match actual meaning (IA-178)
  apps/ia/src/app/loss-of-skills/loss-of-skills.component.ts
  apps/ia/src/app/loss-of-skills/lost-job-profiles/lost-job-profiles.component.ts
  apps/ia/src/app/loss-of-skills/models/index.ts
  apps/ia/src/app/loss-of-skills/models/lost-job-profile.model.ts
  apps/ia/src/app/loss-of-skills/models/lost-job-profiles-response.model.ts
  apps/ia/src/app/loss-of-skills/store/actions/loss-of-skills.actions.spec.ts
  apps/ia/src/app/loss-of-skills/store/actions/loss-of-skills.actions.ts
  apps/ia/src/app/loss-of-skills/store/effects/loss-of-skills.effects.spec.ts
  apps/ia/src/app/loss-of-skills/store/effects/loss-of-skills.effects.ts
  apps/ia/src/app/loss-of-skills/store/index.spec.ts
  apps/ia/src/app/loss-of-skills/store/index.ts
  apps/ia/src/app/overview/overview.component.ts
  apps/ia/src/app/overview/store/effects/overview.effects.spec.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.spec.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.ts
  apps/ia/src/app/shared/models/index.ts
  apps/ia/src/app/shared/models/overview-fluctuation-rates.model.ts
  apps/ia/src/app/shared/services/employee.service.ts
Owners: @herpisef

chore(deps): update dependency @ng-web-apis/common to v1.11.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mm): adjust styling (UFTABI-4849)
  apps/mm/src/app/core/components/pages-stepper/pages-stepper.component.scss
  apps/mm/src/app/home/home.component.html
  apps/mm/src/app/home/home.component.ts
  apps/mm/src/app/shared/components/magnetic-slider/magnetic-slider.component.html
  apps/mm/src/app/shared/components/member-controls/list-member/list-member.component.html
  apps/mm/src/app/shared/components/member-controls/picture-card-list/picture-card-list.component.html
  libs/shared/ui/picture-card/src/lib/picture-card.component.html
Owners: @juskibry, @birketho, @krausrbe, @berndcri, @kauppfbi, @herpisef

chore(deps): update dependency husky to v7
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency eslint-plugin-unicorn to v34
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(cdba): remove obsolete icon font from CDBA app (DSCDA-2519)
  angular.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(cdba): increase panel width for search selects (DSCDA-2513)
  apps/cdba/src/app/search/reference-types-filters/multi-select-filter/multi-select-filter.component.scss
Owners: @kauppfbi, @herpisef, @rieckpil_ext

ci(workspace): simplify release pipeline (UFTABI-4844)
  Jenkinsfile
  angular.json
  gitlab-templates/security-patch-description-template.md
  nx.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @fontsource/roboto to v4.5.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v16.0.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(cdba): adjust subject of request access email
  apps/cdba/src/app/shared/constants/forbidden-action.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext

feat(ia): open applications data delivered (IA-171)
  apps/ia/src/app/overview/models/index.ts
  apps/ia/src/app/overview/models/open-application.model.ts
  apps/ia/src/app/overview/open-positions/open-positions-list/open-positions-list.component.html
  apps/ia/src/app/overview/open-positions/open-positions.component.ts
  apps/ia/src/app/overview/overview.component.html
  apps/ia/src/app/overview/overview.component.ts
  apps/ia/src/app/overview/overview.service.spec.ts
  apps/ia/src/app/overview/overview.service.ts
  apps/ia/src/app/overview/store/actions/overview.action.ts
  apps/ia/src/app/overview/store/effects/overview.effects.spec.ts
  apps/ia/src/app/overview/store/effects/overview.effects.ts
  apps/ia/src/app/overview/store/index.spec.ts
  apps/ia/src/app/overview/store/index.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.spec.ts
  apps/ia/src/app/overview/store/selectors/overview.selector.ts
Owners: @herpisef

chore(deps): update dependency rxjs to v7.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency typescript to v4.3.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): use older ng-packagr version
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @nrwl/nx to v12.5.7
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @microsoft/applicationinsights-web to v2.6.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/jest to v26.0.24
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(ia): removed unnecessary horizontal scrollbar (IA-177)
  apps/ia/src/app/overview/entries-exits/doughnut-chart/doughnut-chart.component.html
  apps/ia/src/app/overview/resignations/resignations.component.html
  apps/ia/src/app/overview/resignations/resignations.component.spec.ts
  apps/ia/src/app/overview/resignations/resignations.component.ts
  apps/ia/src/styles.scss
Owners: @herpisef

chore(deps): update dependency @types/node to v16.0.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

ci(workspace): show npm audit warnings with warnings-ng-plugin
  .gitignore
  Jenkinsfile
  tools/npm-scripts/transform-audit.js
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mm): apply changes from design review (UFTABI-4850)
  apps/mm/src/app/app.component.html
  apps/mm/src/app/core/components/pages-stepper/pages-stepper.component.html
  apps/mm/src/app/core/components/pages-stepper/pages-stepper.component.scss
  apps/mm/src/app/core/components/sidebar/sidebar.component.html
  apps/mm/src/app/home/calculation-options/calculation-options.component.html
  apps/mm/src/app/home/home.component.html
  apps/mm/src/app/home/home.component.spec.ts
  apps/mm/src/app/home/home.component.ts
  apps/mm/src/app/shared/components/member-controls/list-member/list-member.component.html
  apps/mm/src/app/shared/components/member-controls/select-member/select-member.component.html
  apps/mm/src/app/shared/components/member-controls/select-member/select-member.component.ts
  apps/mm/src/app/shared/constants/dialog-constant.ts
  libs/shared/ui/dropdown-input/src/lib/autocomplete-search/autocomplete-search.component.html
  libs/shared/ui/dropdown-input/src/lib/autocomplete-search/autocomplete-search.component.scss
  libs/shared/ui/dropdown-input/src/lib/autocomplete-search/autocomplete-search.component.spec.ts
  libs/shared/ui/dropdown-input/src/lib/autocomplete-search/autocomplete-search.component.ts
  libs/shared/ui/dropdown-input/src/lib/dropdown-input.component.scss
  libs/shared/ui/search-autocomplete/src/lib/search-autocomplete/search-autocomplete.component.html
Owners: @juskibry, @birketho, @krausrbe, @berndcri, @kauppfbi, @herpisef

feat(mm): tracking opt in based on consent (UFTABI-4827)
  apps/mm/src/app/core/core.module.ts
  apps/mm/src/environments/environment.dev.ts
  apps/mm/src/environments/environment.prod.ts
  apps/mm/src/environments/environment.qa.ts
  apps/mm/src/environments/environment.ts
  apps/mm/src/index.html
  apps/mm/src/mock/dialog.json
  libs/shared/utils/application-insights/src/index.ts
  libs/shared/utils/application-insights/src/lib/application-insights-meta-reducer-factory.spec.ts
  libs/shared/utils/application-insights/src/lib/application-insights-module-config.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.spec.ts
  libs/shared/utils/application-insights/src/lib/application-insights.service.ts
  libs/shared/utils/application-insights/src/lib/cookie-groups.ts
  package-lock.json
  package.json
Owners: @juskibry, @birketho, @krausrbe, @berndcri, @kauppfbi, @herpisef

refactor(cdba): use new hasIdTokenRole selector in auth guard
  apps/cdba/src/app/core/guards/role.guard.spec.ts
  apps/cdba/src/app/core/guards/role.guard.ts
  libs/shared/utils/azure-auth/src/index.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext, @krausrbe, @berndcri

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef @pelzesen
apps/helloworld-azure-e2e @kauppfbi @herpisef @pelzesen

# CDBA
apps/cdba @kauppfbi @herpisef @rieckpil_ext
apps/cdba-e2e @kauppfbi @herpisef @rieckpil_ext

# GOLDWIND
apps/goldwind @krausrbe @gerlitm @geissbnj
apps/goldwind-e2e @krausrbe @gerlitm @geissbnj

# SEDO
apps/sedo @birketho @soehnpsc @pelzesen
apps/sedo-e2e @birketho @soehnpsc @pelzesen

# GQ
apps/gq @soehnpsc @herpisef
apps/gq-e2e @soehnpsc @herpisef

# MAC
apps/mac @berndcri @birketho @pelzesen
apps/mac-e2e @berndcri @birketho @pelzesen

# IA
apps/ia @herpisef
apps/ia-e2e @herpisef

# MM
apps/mm @juskibry @birketho @krausrbe @berndcri
apps/mm-e2e @juskibry @birketho @krausrbe @berndcri

# GA
apps/ga @juskibry @krausrbe @berndcri
apps/ga-e2e @juskibry @krausrbe @berndcri

############
### Libs ###
############
