Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @pelzesen, @rieckpil_ext, @gerlitm, @geissbnj, @birketho, @soehnpsc, @juskibry

chore(deps): update dependency @ngneat/cashew to v2.2.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(subheader): setup template
  libs/shared/ui/subheader/src/lib/subheader.component.html
  libs/shared/ui/subheader/src/lib/subheader.component.spec.ts
  libs/shared/ui/subheader/src/lib/subheader.component.ts
  libs/shared/ui/subheader/src/lib/subheader.module.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update eslint
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/spectator to v8
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(mm): preselect only available option
  apps/mm/src/app/shared/components/member-controls/list-member/list-member.component.spec.ts
  apps/mm/src/app/shared/components/member-controls/list-member/list-member.component.ts
Owners: @juskibry, @birketho, @krausrbe, @berndcri

feat(goldwind): apply new gauge design
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.ts
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.ts
  apps/goldwind/src/app/core/store/reducers/grease-status/models/grease-sensor.model.ts
  apps/goldwind/src/app/core/store/reducers/grease-status/models/grease-status.model.ts
  apps/goldwind/src/app/core/store/selectors/grease-status/grease-status.selector.spec.ts
  apps/goldwind/src/app/core/store/selectors/grease-status/grease-status.selector.ts
  apps/goldwind/src/app/core/store/selectors/shaft/shaft.selector.spec.ts
  apps/goldwind/src/app/core/store/selectors/shaft/shaft.selector.ts
  apps/goldwind/src/app/core/store/selectors/static-safety/static-safety.selector.ts
  apps/goldwind/src/app/shared/chart/gauge-chart.spec.ts
  apps/goldwind/src/app/shared/chart/gauge-chart.ts
  apps/goldwind/src/app/shared/constants/static-safety.ts
Owners: @krausrbe, @gerlitm, @geissbnj

feat(cdba): add hover effect for sidebar
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.scss
  apps/cdba/src/app/results/reference-types-table/reference-types-table.component.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(cdba): 🚀 1.27.0 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(docs): update docs [ci skip]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(cdba): solve page rendering issue for users without sales access rights (DSCDA-2546)
  apps/cdba/src/app/core/store/selectors/details/detail.selector.spec.ts
  apps/cdba/src/app/core/store/selectors/details/detail.selector.ts
  apps/cdba/src/app/detail/detail-tab/quantities/quantities.component.html
  apps/cdba/src/testing/mocks/models/reference-type.mock.ts
  apps/cdba/src/testing/mocks/state/detail-state.mock.ts
  apps/cdba/src/testing/mocks/state/index.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext

feat(sedo): fix lint rules (UFTABI-4830)
  apps/sedo/.eslintrc.json
  apps/sedo/src/app/core/guards/role.guard.ts
  apps/sedo/src/app/sales-summary/sales-row-details/sales-row-details.component.spec.ts
  apps/sedo/src/app/sales-summary/sales-table/config/column-definitions.spec.ts
  apps/sedo/src/app/sales-summary/sales-table/config/column-definitions.ts
  apps/sedo/src/app/shared/data.service.spec.ts
  apps/sedo/src/main.ts
  apps/sedo/tsconfig.app.json
  apps/sedo/tsconfig.eslint.json
Owners: @birketho, @soehnpsc, @pelzesen

chore(cdba): 🚀 1.27.1 [ci skip]
  apps/cdba/CHANGELOG.md
  apps/cdba/package.json
Owners: @kauppfbi, @herpisef, @rieckpil_ext

chore(docs): update docs [ci skip]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @babel/core to v7.14.8
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(application-insights): delete cookies on opt out (UFTABI-4888)
  libs/shared/utils/application-insights/src/lib/application-insights.service.ts
  libs/shared/utils/application-insights/src/lib/cookie-groups.ts
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(mm): fix bearing series selection (UFTABI-4902)
  apps/mm/src/assets/i18n/de.json
  apps/mm/src/assets/i18n/en.json
  apps/mm/src/assets/i18n/es.json
  apps/mm/src/assets/i18n/fr.json
  apps/mm/src/assets/i18n/ru.json
  apps/mm/src/assets/i18n/zh.json
  apps/mm/src/mock/dialog.json
Owners: @juskibry, @birketho, @krausrbe, @berndcri

feat(gq): displayed relocation cost and plant data (GQUOTE-615)
  apps/gq/src/app/detail-view/detail-view/pricing-details/material-details/material-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/material-details/material-details.component.scss
  apps/gq/src/app/detail-view/detail-view/pricing-details/material-details/material-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/material-details/material-details.component.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.component.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/pricing-details.module.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/production-cost-details/production-cost-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/production-cost-details/production-cost-details.component.scss
  apps/gq/src/app/detail-view/detail-view/pricing-details/production-cost-details/production-cost-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/relocation-cost-details/relocation-cost-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/relocation-cost-details/relocation-cost-details.component.spec.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/relocation-cost-details/relocation-cost-details.component.ts
  apps/gq/src/app/detail-view/detail-view/pricing-details/supply-chain-details/supply-chain-details.component.html
  apps/gq/src/app/detail-view/detail-view/pricing-details/supply-chain-details/supply-chain-details.component.scss
  apps/gq/src/app/detail-view/detail-view/pricing-details/supply-chain-details/supply-chain-details.component.ts
  apps/gq/src/app/detail-view/transaction-view/comparable-transactions/comparable-transactions.component.spec.ts
  apps/gq/src/app/detail-view/transaction-view/comparable-transactions/comparable-transactions.component.ts
  apps/gq/src/app/shared/models/quotation-detail/quotation-detail.model.ts
  apps/gq/src/app/shared/services/column-utility-service/column-def.service.ts
  apps/gq/src/app/shared/services/column-utility-service/column-fields.enum.ts
  apps/gq/src/app/shared/services/price-service/price.service.ts
  apps/gq/src/assets/i18n/de.json
  apps/gq/src/assets/i18n/detail-view/de.json
  apps/gq/src/assets/i18n/detail-view/en.json
  apps/gq/src/assets/i18n/en.json
  apps/gq/src/testing/mocks/plant.mock.ts
  apps/gq/src/testing/mocks/quotation-details.mock.ts
Owners: @soehnpsc, @herpisef

feat(goldwind): apply new gauge design
  apps/goldwind/src/app/bearing/condition-monitoring/grease-monitor/grease-monitor.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/shaft/shaft.component.html
  apps/goldwind/src/app/bearing/condition-monitoring/static-saftey-factor-monitor/static-saftey-factor-monitor.component.html
  apps/goldwind/src/app/shared/chart/gauge-chart.ts
  apps/goldwind/src/styles.scss
Owners: @krausrbe, @gerlitm, @geissbnj

chore(deps): update dependency tailwindcss to v2.2.6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency postcss to v8.3.6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @nrwl/nx to v12.5.9
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency markdown-magic to v2.4.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v16.4.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular to v12.1.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-jest to v27.0.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

style(helloworld-azure): fix aligned eslint rules (UFTABI-4834)
  apps/helloworld-azure/.eslintrc.json
  apps/helloworld-azure/src/app/home/home.component.ts
  apps/helloworld-azure/src/main.ts
Owners: @kauppfbi, @herpisef, @pelzesen

fix(cdba): better AG Grid filtering options for decimal values (DSCDA-2538)
  apps/cdba/src/app/results/reference-types-table/config/column-definitions.service.ts
  apps/cdba/src/app/shared/components/table/column-utils.spec.ts
  apps/cdba/src/app/shared/components/table/column-utils.ts
Owners: @kauppfbi, @herpisef, @rieckpil_ext

feat(subheader): added styling (UFTABI-4891)
  libs/shared/ui/subheader/src/lib/subheader.component.html
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v16.4.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v11.1.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest-preset-angular to v9.0.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update ngrx to v12.3.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(shared-subheader): add story (UFTABI-4892)
  libs/shared/ui/storybook/src/lib/subheader.component.stories.ts
  libs/shared/ui/subheader/src/lib/subheader.component.scss
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ia): increase slow performance of mat dialog with much data (IA-208)
  apps/ia/src/app/organizational-view/org-chart/team-member-dialog/team-member-dialog.component.html
  apps/ia/src/app/organizational-view/org-chart/team-member-dialog/team-member-dialog.component.spec.ts
  apps/ia/src/app/organizational-view/org-chart/team-member-dialog/team-member-dialog.component.ts
  apps/ia/src/app/organizational-view/org-chart/team-member-dialog/team-member-dialog.module.ts
  apps/ia/src/app/shared/date-input/date-input.component.ts
Owners: @herpisef

feat(gq): display notification on reimported quotation (GQUOTE-747)
  apps/gq/src/app/core/store/effects/create-case/create-case.effects.spec.ts
  apps/gq/src/app/core/store/effects/create-case/create-case.effects.ts
  apps/gq/src/app/core/store/effects/create-case/creation-type.enum.ts
  apps/gq/src/app/shared/models/quotation.model.ts
  apps/gq/src/assets/i18n/case-view/de.json
  apps/gq/src/assets/i18n/case-view/en.json
  apps/gq/src/testing/mocks/quotation.mock.ts
Owners: @soehnpsc, @herpisef

chore(deps): update @azure/msal
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency tailwindcss to v2.2.7
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v16.4.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v11.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update eslint
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef @pelzesen
apps/helloworld-azure-e2e @kauppfbi @herpisef @pelzesen

# CDBA
apps/cdba @kauppfbi @herpisef @rieckpil_ext
apps/cdba-e2e @kauppfbi @herpisef @rieckpil_ext

# GOLDWIND
apps/goldwind @krausrbe @gerlitm @geissbnj
apps/goldwind-e2e @krausrbe @gerlitm @geissbnj

# SEDO
apps/sedo @birketho @soehnpsc @pelzesen
apps/sedo-e2e @birketho @soehnpsc @pelzesen

# GQ
apps/gq @soehnpsc @herpisef
apps/gq-e2e @soehnpsc @herpisef

# MAC
apps/mac @berndcri @birketho @pelzesen
apps/mac-e2e @berndcri @birketho @pelzesen

# IA
apps/ia @herpisef
apps/ia-e2e @herpisef

# MM
apps/mm @juskibry @birketho @krausrbe @berndcri
apps/mm-e2e @juskibry @birketho @krausrbe @berndcri

# GA
apps/ga @juskibry @krausrbe @berndcri
apps/ga-e2e @juskibry @krausrbe @berndcri

############
### Libs ###
############
