Repository tejas7535/storybookM3, changes with the owners that CODEOWNERS names for each.
All owners: @kauppfbi, @krausrbe, @berndcri, @herpisef, @birketho

CODEOWNERS:

# Codeowners for schaeffler-frontend

# Default codeowners for the whole monorepository
* @kauppfbi @krausrbe @berndcri @herpisef

############
### Apps ###
############

# helloworld-azure
apps/helloworld-azure @kauppfbi @herpisef
apps/helloworld-azure-e2e @kauppfbi @herpisef

# Kitchen-Sink
apps/kitchen-sink @kauppfbi @krausrbe @berndcri @herpisef
apps/kitchen-sink-e2e @kauppfbi @krausrbe @berndcri @herpisef

# LTP
apps/ltp @krausrbe @berndcri
apps/ltp-e2e @krausrbe @berndcri

# STA
apps/sta @kauppfbi @herpisef @birketho
apps/sta-e2e @kauppfbi @herpisef @birketho

# STEEL
apps/steel @krausrbe
apps/steel-e2e @krausrbe

# CDBA
apps/cdba @kauppfbi @herpisef
apps/cdba-e2e @kauppfbi @herpisef

############
### Libs ###
############

# assets
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# cypress-utils
libs/shared/assets @kauppfbi @krausrbe @berndcri @herpisef

# empty-states
libs/shared/empty-states @kauppfbi @krausrbe @berndcri @herpisef

# responsive
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# styles
libs/shared/responsive @kauppfbi @krausrbe @berndcri @herpisef

# transloco
libs/shared/transloco @kauppfbi @krausrbe @berndcri @herpisef

# ui-components
libs/shared/ui-components @kauppfbi @krausrbe @berndcri @herpisef

chore(deps): update nrwl to v9.1.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/components to v9.2.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest to v25.2.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency codelyzer to v5.2.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @testing-library/jest-dom to v5.3.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update devextreme to v19.2.7
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency npm-audit-html to v1.4.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency webpack-bundle-analyzer to v3.7.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update Angular, NgRx and RxJs
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(workspace): update reference of stylelint plugin
  .vscode/extensions.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-jest to v25.4.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest to v25.4.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v10.1.6
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.13.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency stylelint to v13.3.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

ci(workspace): parallelize builds (UFTABI-2327)
  Jenkinsfile
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency husky to v4.2.5
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency commitizen to v4.0.4
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @testing-library/jest-dom to v5.5.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update nrwl to v9.2.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli to v9.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @ngneat/transloco to v2.16.0
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(sta): implement store for translation (UFTABI-2163)
  apps/sta/src/app/core/store/actions/index.ts
  apps/sta/src/app/core/store/actions/tagging/tagging.actions.spec.ts
  apps/sta/src/app/core/store/actions/tagging/tagging.actions.ts
  apps/sta/src/app/core/store/actions/translation/translation.actions.spec.ts
  apps/sta/src/app/core/store/actions/translation/translation.actions.ts
  apps/sta/src/app/core/store/effects/index.ts
  apps/sta/src/app/core/store/effects/translation/translation.effect.spec.ts
  apps/sta/src/app/core/store/effects/translation/translation.effetcs.ts
  apps/sta/src/app/core/store/reducers/index.ts
  apps/sta/src/app/core/store/reducers/tagging/tagging.reducer.spec.ts
  apps/sta/src/app/core/store/reducers/tagging/tagging.reducer.ts
  apps/sta/src/app/core/store/reducers/translation/models/translation-file-input.model.ts
  apps/sta/src/app/core/store/reducers/translation/models/translation-for-file-input.model.ts
  apps/sta/src/app/core/store/reducers/translation/models/translation-for-text-input.model.ts
  apps/sta/src/app/core/store/reducers/translation/models/translation-text-input.model.ts
  apps/sta/src/app/core/store/reducers/translation/translation.reducer.spec.ts
  apps/sta/src/app/core/store/reducers/translation/translation.reducer.ts
  apps/sta/src/app/core/store/selectors/tagging/tagging.selector.spec.ts
  apps/sta/src/app/core/store/selectors/tagging/tagging.selector.ts
  apps/sta/src/app/core/store/selectors/translation/translation.selector.spec.ts
  apps/sta/src/app/core/store/selectors/translation/translation.selector.ts
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.spec.ts
  apps/sta/src/app/feature/auto-tagging/auto-tagging.component.ts
  apps/sta/src/app/feature/translation/translation.component.html
  apps/sta/src/app/feature/translation/translation.component.spec.ts
  apps/sta/src/app/feature/translation/translation.component.ts
  apps/sta/src/app/shared/result/result-auto-tagging/result-auto-tagging.component.ts
  apps/sta/src/app/shared/result/result-translation/result-translation.component.html
  apps/sta/src/app/shared/result/result-translation/result-translation.component.spec.ts
  apps/sta/src/app/shared/result/result-translation/result-translation.component.ts
  apps/sta/src/app/shared/result/result.component.html
  apps/sta/src/app/shared/result/result.component.spec.ts
  apps/sta/src/app/shared/result/result.component.ts
  apps/sta/src/app/shared/result/services/data-store.service.spec.ts
  apps/sta/src/app/shared/result/services/data-store.service.ts
  apps/sta/src/app/shared/result/services/data.service.spec.ts
  apps/sta/src/app/shared/result/services/data.service.ts
  apps/sta/src/testing/mocks/shared/app-state.mock.ts
  apps/sta/src/testing/mocks/translation/translation-values.mock.ts
Owners: @kauppfbi, @herpisef, @birketho

chore(deps): update dependency tslint to v6.1.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @angular/compiler-cli to v9.1.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency jest-preset-angular to v8.1.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency ts-node to v8.9.0
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.13.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update storybook to v5.3.18
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(icons): add icon module imports (UFTABI-2329)
  apps/kitchen-sink/src/app/app.module.ts
  libs/shared/ui-components/src/lib/banner/banner-text/banner-text.component.scss
  libs/shared/ui-components/src/lib/scroll-to-top/scroll-to-top.component.scss
  libs/shared/ui-components/src/lib/settings-sidebar/settings-sidebar.component.html
  libs/shared/ui-components/src/lib/settings-sidebar/settings-sidebar.component.scss
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

fix(snackbar): restore snackbar icon size
  libs/shared/ui-components/src/lib/snackbar/snackbar.component.scss
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

feat(ltp): add loads modal (ADAPLD-6276)
  apps/ltp/src/app/core/services/rest.service.ts
  apps/ltp/src/app/core/store/actions/prediction.actions.ts
  apps/ltp/src/app/core/store/reducers/prediction.reducer.spec.ts
  apps/ltp/src/app/core/store/reducers/prediction.reducer.ts
  apps/ltp/src/app/core/store/selectors/prediction.selector.spec.ts
  apps/ltp/src/app/feature/home/home.component.spec.ts
  apps/ltp/src/app/feature/prediction/prediction.component.scss
  apps/ltp/src/app/feature/prediction/prediction.component.spec.ts
  apps/ltp/src/app/feature/prediction/prediction.component.ts
  apps/ltp/src/app/feature/prediction/prediction.module.ts
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.html
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.scss
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.spec.ts
  apps/ltp/src/app/feature/prediction/upload-modal/upload-modal.component.ts
  apps/ltp/src/app/shared/models/loads-request.model.ts
  apps/ltp/src/assets/i18n/de.json
  apps/ltp/src/assets/i18n/en.json
Owners: @krausrbe, @berndcri

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency cypress to v4.4.1
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(release): 🚀 0.3.0 [ci skip]
  CHANGELOG.md
  README.md
  docs/01_description.md
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency lint-staged to v10.1.7
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency stylelint to v13.3.3
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update dependency @types/node to v13.13.2
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef

chore(deps): update @angular/angular-cli
  package-lock.json
  package.json
Owners: @kauppfbi, @krausrbe, @berndcri, @herpisef
